﻿
@{
    ViewBag.Title = "Manage Operative Actions";
}

<script type="text/javascript">
    function GetOperativeAction()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetOperativeActions")',
                    data: {companyID : $('#companyID').val()},
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr)
                    {
                        $("#actionList").html('');
                        $("#modal-progress").modal('show');
                    }
                }
            ).done
            (
                function (data)
                {
                    if (data != null && data.length > 0)
                    {
                        for (var i = 0; i < data.length; i++)
                        {
                            var Line = "";
                            Line += "<tr id='" + data[i].action_id + "'>";
                            Line += "<td class='action_name'>" + data[i].action_id + "</td>";
                            Line += "<td>" + data[i].action_name + "</td>";
                            Line += "<td><pre>" + data[i].note + "</pre></td>";
                            Line += "<td style='text-align:center'>" +
                                    "<a href='javascript:void(0)' onclick='Update(\"" + data[i].action_id + "\")'>" +
                                    "<span class='glyphicon glyphicon-pencil'></span></a></td>";
                            Line += "<td style='text-align:center'>" +
                                "<a href='javascript:void(0)' onclick='ShowDeleteDialog(\"" + data[i].action_id + "\")'>" +
                                "<span class='glyphicon glyphicon-trash'></span></a></td>";
                            Line += "</tr>";
                            $("#actionList").append(Line);
                        }
                    }
                    $("#modal-progress").modal('hide');
                }
            );
    }

    function ShowDeleteDialog(actionID)
    {
        $("#delete-message").text("Do you want to delete " + $("#" + actionID + " .action_name").text() + "?");
        $("#deleted-id").val(actionID);
        $("#delete-modal").modal('show');
    }

    function Delete()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("Delete")',
                    data: {
                        companyID: $('#companyID').val(),
                        actionID: $("#deleted-id").val()
                    },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#modal-progress").modal('show');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.message=='success') {
                        $("#" + $("#deleted-id").val()).remove();
                    }
                    $("#modal-progress").modal('hide');
                    $("#delete-modal").modal('hide');
                }
            );
    }

    function Update(actionID)
    {
        location.href = "@Url.Action("Update")" + "?companyID=" + $("#companyID").val() + "&actionID=" + actionID;
    }

    function Register()
    {
        location.href = "@Url.Action("Register")" + "?companyID=" + $("#companyID").val();
    }

    $
        (
            function ()
            {
                $("#companyID").trigger('change');
            }
        );
</script>

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="deleted-id" name="id" />
                <div id="delete-message"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning" onclick="Delete()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button class="btn btn-lg btn-default" onclick="Register()">
        Add New Operative Action
    </button>

    <div style="margin-top:10px">
        @Html.Label("Company")

        <select class="selectpicker" id="companyID" name="company_id" onchange="GetOperativeAction();">
            @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
            {
                <option value="@c.company_id">@c.company_name</option>
            }
        </select>
    </div>

    <div style="margin-top:10px">
        <table class="table table-striped">
            <thead style='text-align:center'>
                <tr>
                    <td>
                        Action ID
                    </td>
                    <td>
                        Action Name
                    </td>
                    <td>
                        Note
                    </td>
                    <td>
                        Edit
                    </td>
                    <td>
                        Delete
                    </td>
                </tr>
            </thead>
            <tbody id="actionList"></tbody>
        </table>
    </div>
</div>

