﻿@model DaVinxi.Models.MasterOperativeAction

@{
    ViewBag.Title = "Update Operative Action " + Model.action_name;
}

<div class="container">

    @using (Html.BeginForm("Update", "OperativeAction", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
                @Html.HiddenFor(m => m.company_id)
                @Html.HiddenFor(m => m.action_id)
                @Html.HiddenFor(m => m.created_date)
                @Html.HiddenFor(m => m.revised_date)
                @Html.HiddenFor(m => m.revised_by)
            </div>

            <div>
                @Html.LabelFor(m => m.action_name)
                @Html.TextBoxFor(m => m.action_name)
                @Html.ValidationMessageFor(m => m.action_name)
            </div>

            <div>
                @Html.LabelFor(m => m.note)
                @Html.TextAreaFor(m => m.note)
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

