﻿@model DaVinxi.Models.UserEditModel

@{
    ViewBag.Title = string.Format("Edit user {0} proile", Model.username);
}

<div class="container">

    @using (Html.BeginForm("Edit", "User", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.HiddenFor(m => m.username)
            </div>

            <div>
                @Html.LabelFor(m => m.full_name)
                @Html.EditorFor(m => m.full_name,
                new { placeholder = "Full Name" })
                @Html.ValidationMessageFor(m => m.full_name)
            </div>

            <div>
                @Html.LabelFor(m => m.email)
                @Html.TextBoxFor(m => m.email,
                new { placeholder = "E-mail" })
                @Html.ValidationMessageFor(m => m.email)
            </div>

            <div>
                @Html.LabelFor(m => m.phone_number)
                @Html.TextBoxFor(m => m.phone_number,
                new { placeholder = "Phone Number" })
                @Html.ValidationMessageFor(m => m.phone_number)
            </div>

            <div>
                @Html.LabelFor(m => m.company_id)
                <select class="selectpicker" name="company_id">
                    @foreach (DaVinxi.Models.MasterCompanies company in ViewBag.Companies)
                    {
                        <option value="@company.company_id" 
                                @(company.company_id==Model.company_id ? "selected":"")>
                            @company.company_name
                        </option>
                    }
                </select>
            </div>

            <div>
                @Html.LabelFor(m => m.department)
                @Html.EditorFor(m => m.department,
                new { placeholder = "Department" })
                @Html.ValidationMessageFor(m => m.department)
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","User")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
