﻿@model IEnumerable<DaVinxi.Models.MasterUser>

@{
    ViewBag.Title = "Manage Account";
}

<script type="text/javascript">
    $
        (
            function ()
            {
                $("#myModal .deleteConfirmed").click
                (
                    function()
                    {
                        $("#frmDelete").submit();
                    }
                );
            }
        );

    function ShowDeleteDialog(username,fullName)
    {
        $("#delete-message").html
            (
                "Are you sure want to delete user " + fullName + "?"
            );
        
        $("#deleted-username").val(username);

        $("#myModal").modal('show');
    }
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "User", FormMethod.Post, new { id="frmDelete"}))
                { 
                    <input type="hidden" id="deleted-username" name="username" />
                    <div id="delete-message"></div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning deleteConfirmed">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button class="btn btn-lg btn-default" onclick="location.href='@Url.Action("Register","User")'">
        Add New User
    </button>

    <table class="table table-hover table-bordered" style="margin-top:15px">
        <thead style="text-align:center">
            <tr>
                <td>
                    @Html.DisplayNameFor(u => u.username)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.full_name)
                </td>
                <td>
                    <span class="glyphicon glyphicon-envelope"></span>
                </td>
                <td>
                    <span class="glyphicon glyphicon-phone-alt"></span>
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.company_id)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.department)
                </td>
                <td>
                    Edit
                </td>
                <td>
                    Delete
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem=>item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.full_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone_number)
                    </td>
                    <td>
                        @if ((ViewBag.RelatedCompanies as Dictionary<int, string>) != null && 
                            (ViewBag.RelatedCompanies as Dictionary<int, string>).ContainsKey(
                            item.company_id))
                        {
                            @Html.Label((ViewBag.RelatedCompanies as Dictionary<int, string>)[item.company_id]);
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.department)
                    </td>
                    <td style="text-align:center">
                        <a href="@Url.Action("Edit", "User", new { username = item.username})">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td style="text-align:center">
                        <a href="javascript:void(0)"
                           onclick="ShowDeleteDialog('@item.username','@item.full_name')">
                            <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
