﻿@model DaVinxi.Models.LoginModel

@{
    ViewBag.Title = "Sign-In";
}

<script type="text/javascript">
    $(function () {
        $(".new-switch").bootstrapSwitch
            (
                {
                    onColor: 'success',
                    onText: 'Yes',
                    offText: 'No'
                }
            );
    });
</script>

<div class="container">

    @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    { 
        <fieldset>
            <legend>Please Sign in</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div class="input-group input-group-lg" style="margin-top:10px">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Username", autocomplete = "off" })
            </div>

            <div class="input-group input-group-lg" style="margin-top:10px">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                @Html.PasswordFor(m => m.Password,
          new { placeholder = "Password", autocomplete = "off" })
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.RememberMe)
                @Html.CheckBoxFor(m => m.RememberMe, new { @class="new-switch"})
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Sign in</button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>