﻿@model DaVinxi.Models.UserRegisterModel

@{
    ViewBag.Title = "User Register";
}

<div class="container">

    @using (Html.BeginForm("Register", "User", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.LabelFor(m=>m.username)
                @Html.TextBoxFor(m => m.username,
                new { placeholder = "Username", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.username)
            </div>

            <div>
                @Html.LabelFor(m => m.password)
                @Html.PasswordFor(m => m.password,
                    new { placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.password)
            </div>

            <div>
                @Html.LabelFor(m => m.confirm_password)
                @Html.PasswordFor(m => m.confirm_password,
                    new { placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(m => m.confirm_password)
            </div>

            <div>
                @Html.LabelFor(m => m.full_name)
                @Html.TextBoxFor(m => m.full_name,
                new { placeholder = "Full Name" })
                @Html.ValidationMessageFor(m => m.full_name)
            </div>

            <div>
                @Html.LabelFor(m => m.email)
                @Html.TextBoxFor(m => m.email,
                new { placeholder = "E-mail" })
                @Html.ValidationMessageFor(m => m.email)
            </div>

            <div>
                @Html.LabelFor(m => m.phone_number)
                @Html.TextBoxFor(m => m.phone_number,
                new { placeholder = "Phone Number" })
                @Html.ValidationMessageFor(m => m.phone_number)
            </div>

            <div>
                @Html.LabelFor(m => m.company_id)
                <select class="selectpicker" name="company_id">
                    @foreach (DaVinxi.Models.MasterCompanies company in ViewBag.Companies)
                    { 
                        <option value="@company.company_id">@company.company_name</option>
                    }
                </select>
            </div>

            <div>
                @Html.LabelFor(m => m.department)
                @Html.TextBoxFor(m => m.department,
                new { placeholder = "Department" })
                @Html.ValidationMessageFor(m => m.department)
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default" 
                        onclick="location.href='@Url.Action("Index","User")'" type="button">Cancel</button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
