﻿
@{
    ViewBag.Title = "Tag Visualization";
}
<style>
    .navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}
</style>

<script type="text/javascript">
    var ShowFilter = true;
    function ShowHideFilter() {
        ShowFilter = !ShowFilter;

        if (ShowFilter) {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    function GetMachines() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: {
                        companyID: $("#companies").val()
                    },
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        $("#machines").html('');
                        //$("#modal-progress").modal("show");
                    }
                }
            ).done
            (
                function (data) {
                    //$("#modal-progress").modal("hide");
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#machines").append('<option value="' + data[i].machine.machine_id + '">'
                                + data[i].machine.machine_name + '</option>');
                        }
                        $("#machines").selectpicker('refresh');
                    }
                    $("#machines").trigger("change");
                }
            );
    }

    function GetTags() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetTags")',
                    data: {
                        companyID: $("#companies").val(),
                        machine_id: $("#machines").val()
                    },
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        $("#tags").html('');
                        $("#modal-progress").modal("show");
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#tags").append('<option value="' + data[i].tag_id + '">[' + data[i].tag_id + '] ' +
                                data[i].tag_name + '</option>');
                        }
                    }
                    $("#tags").trigger("chosen:updated");
                    $("#modal-progress").modal("hide");
                }
            );
            }

            function GetData() {
                if ($("#tags").val() == null) {
                    alert("At least one tag chosen");
                    return false;
                }

                $.ajax
                    (
                        {
                            type: 'POST',
                            url: '@Url.Action("GetData")',
                            data: $("#frm-filter").serialize(),
                            beforeSend: function (xhr) {
                                $("#result").html('');
                                $("#div-result").hide();
                                $("#nav-timecontrol").hide();
                                $("#modal-progress").modal("show");
                            }
                        }
                    ).done
                    (
                        function (data) {
                            if (data != null && data.length > 0) {
                                $("#div-result").show();
                                $("#nav-timecontrol").show();
                                for (var i = 0; i < data.length; i++) {
                                    var ID = data[i].Tag.tag_id.replace(/[!"#$%&'()*+,.\/:;<=>?@@[\\\]^`{|}~]/g, "_");
                                    $("#result").append("<fieldset style='margin-top:10px'><legend>"
                                        + data[i].Tag.tag_name + "</legend><div id='" + ID + "'></div></fieldset>");

                                    var Points = [];
                                    for (var j = 0; j < data[i].Data.length; j++) {
                                        Points.push({ x: Number(data[i].Data[j].timestamp), y: Number(data[i].Data[j].value) });
                                    }

                                    $("#" + ID).highcharts
                                        (
                                            {
                                                chart: {
                                                    zoomType: 'x',
                                                    height: 700,
                                                    type: 'line'
                                                },
                                                title: {
                                                    text: data[i].Tag.tag_name,
                                                    style: {
                                                        fontSize: "200%"
                                                    }
                                                },
                                                subtitle: {
                                                    text: "From " + $("#startDate").find("input").val() +
                                                            " until " + $("#finishDate").find("input").val(),
                                                    style: {
                                                        fontSize: "150%"
                                                    }
                                                },
                                                xAxis: {
                                                    type: 'datetime',
                                                    title: {
                                                        text: 'Timestamp',
                                                        style: {
                                                            fontSize: "200%"
                                                        }
                                                    },
                                                    dateTimeLabelFormats: {
                                                        day: '%e %b %Y %H:%M:%S'
                                                    },
                                                    labels: {
                                                        style: {
                                                            fontSize: '150%'
                                                        }
                                                    }
                                                },
                                                yAxis: {
                                                    title: {
                                                        text: data[i].Unit.unit_name == "-" ? "Value" : data[i].Unit.unit_name,
                                                        style: {
                                                            fontSize: "200%"
                                                        }
                                                    },
                                                    labels: {
                                                        style: {
                                                            fontSize: '150%'
                                                        }
                                                    }
                                                },
                                                plotOptions: {
                                                    series: {
                                                        turboThreshold: 0
                                                    }
                                                },
                                                series: [
                                                    {
                                                        name: data[i].Unit.unit_name == "-" ? "Value" : data[i].Unit.unit_name,
                                                        data: Points,
                                                        marker: {
                                                            enabled: false
                                                        }/*,
                                                step: 'center'*/
                                                    }
                                                ]
                                            }
                                        );
                                    ShowHideFilter();
                                }
                            }
                            $("#modal-progress").modal("hide");
                        }
                    );
                return true;
            }

            function UpdateTimeControl() {
                var BigStep = $("#bigStepNumber").val() + " " + $("#bigStepType option:selected").text(),
                    SmallStep = $("#smallStepNumber").val() + " " + $("#smallStepType option:selected").text();

                $("#bigStepBText").text("- " + BigStep);
                $("#bigStepFText").text("+ " + BigStep);
                $("#bigStepSeconds").val(Number($("#bigStepNumber").val()) * Number($("#bigStepType").val()));

                $("#smallStepBText").text("- " + SmallStep);
                $("#smallStepFText").text("+ " + SmallStep);
                $("#smallStepSeconds").val(Number($("#smallStepNumber").val()) * Number($("#smallStepType").val()));
            }

            function ChangeDate(domID, isMinus) {
                var MSeconds = Number($("#" + domID).val()) * 1000;
                if (isMinus)
                    MSeconds *= -1;

                var StartDate = new Date($("#startDate").find("input").val()),
                    FinishDate = new Date($("#finishDate").find("input").val()),
                    DiffMSeconds = Math.abs(FinishDate - StartDate);

                StartDate = new Date(StartDate.getTime() + MSeconds);
                FinishDate = new Date(StartDate.getTime() + DiffMSeconds);

                $("#startDate").data('DateTimePicker').date(StartDate);
                $("#finishDate").data('DateTimePicker').date(FinishDate);

                ShowFilter = true;

                GetData();
            }

            $(
                function () {
                    $("#tags").chosen();
                    $("#companies").trigger("change");
                    $(".datepicker").datetimepicker(
                            {
                                format: 'MMM DD YYYY HH:mm'
                            });
                    var Today = new Date();
                    $("#startDate").data('DateTimePicker').date(Today);
                    $("#finishDate").data('DateTimePicker').date(Today);

                    $(".numericControl").spinner
                                       (
                                           {
                                               step: 1,
                                               numberFormat: "n"
                                           }
                                       ).css("text-align", "right");
                    $(".ui-spinner-input").css("width", "85%");
                    $('.ui-spinner-button').click(function () {
                        $(this).siblings('input').change();
                    });

                    $(".stepType").html('<option value="1">Seconds</option>'
                                    + '<option value="60">Minute(s)</option>'
                                    + '<option value="3600">Hour(s)</option>'
                                    + '<option value="86400">Day(s)</option>'
                                    + '<option value="604800">Week(s)</option>'
                                    + '<option value="2419200">Month(s)</option>'
                                    + '<option value="29030400">Year(s)</option>').selectpicker({ liveSearch: true });
                    $("#smallStepNumber").val(8);
                    $("#smallStepType").val("3600").selectpicker("refresh");
                    $("#bigStepNumber").val(1);
                    $("#bigStepType").val("86400").selectpicker("refresh");

                    $("#div-result").hide();
                    //$("#nav-timecontrol").hide();
                    UpdateTimeControl();
                }
            );
</script>

<div class="container">
    <fieldset style="margin-top:10px">
        <legend>
            Tag Visualization Setting
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frm-filter">
                <table class="table table-striped">
                    <tr>
                        <td>
                            Company
                        </td>
                        <td></td>
                        <td style="width:100%" colspan="4">
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetMachines()">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Machine
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select class="selectpicker" id="machines" name="machine_id" onchange="GetTags();"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tag
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select class="chosen-select" id="tags" name="tag_id" data-placeholder="Choose tag(s)" multiple></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Date time
                        </td>
                        <td></td>
                        <td>From</td>
                        <td>
                            <div class="input-group date datepicker" id="startDate">
                                <input type="text" name="start_date" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td>to</td>
                        <td>
                            <div class="input-group date datepicker" id="finishDate">
                                <input type="text" name="finish_date" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="white-space:nowrap">
                            Small Step (Time control)
                        </td>
                        <td></td>
                        <td colspan="4">
                            <input type="text" class="numericControl" id="smallStepNumber" name="small_step" onchange="UpdateTimeControl()" />
                            <select class="stepType" id="smallStepType" name="small_step_type" onchange="UpdateTimeControl()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Big Step (Time control)
                        </td>
                        <td></td>
                        <td colspan="4">
                            <input type="text" class="numericControl" id="bigStepNumber" name="big_step" onchange="UpdateTimeControl()" />
                            <select class="stepType" id="bigStepType" name="big_step_type" onchange="UpdateTimeControl()"></select>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="margin-top:10px">
                <button class="btn btn-info" onclick="GetData()" type="button">
                    <span class="glyphicon glyphicon-search"></span> Get Data
                </button>
            </div>
        </div>
    </fieldset>

    <div style="margin-top:10px" id="div-result">
        <div id="result" style="margin-bottom:70px"></div>
        <input type="hidden" id="bigStepSeconds" />
        <input type="hidden" id="smallStepSeconds" />
    </div>
</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse center" role="navigation" id="nav-timecontrol">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn-lg btn-info" data-toggle="collapse" data-target="#timecontrol">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-time"></span>
                Time Control
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-inner" id="timecontrol">
            <ul class="nav navbar-nav" style="text-align:center">
                <li>
                    <a href="javascript:void(0)" onclick="ChangeDate('bigStepSeconds',true)">
                        <span class="glyphicon glyphicon-backward"></span>
                        <span id="bigStepBText">Big step backward</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smallStep" onclick="ChangeDate('smallStepSeconds', true)">
                        <span class="glyphicon glyphicon-step-backward"></span>
                        <span id="smallStepBText">Small step backward</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="ChangeDate('smallStepSeconds', false)">
                        <span class="glyphicon glyphicon-step-forward"></span>
                        <span id="smallStepFText">Small step forward</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="ChangeDate('bigStepSeconds',false)">
                        <span class="glyphicon glyphicon-forward"></span>
                        <span id="bigStepFText">Big step forward</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

