﻿@model DaVinxi.Models.SKUSubcategoryRegisterModel

@{
    ViewBag.Title = "Edit SKU Subcategory " + Model.subcategory_name;
}

<script type="text/javascript">
    function GetRelatedProperties()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url : '@Url.Action("GetQualityPropertiesBySKUSubCategoryJSON", "HelperClass")',
                    dataType:'json',
                    data: { companyID: $("#companyID").val(), subcategoryID: $("#subcategoryID").val() }
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        var Selected = new Array();
                        for(var i=0;i<data.length;i++)
                        {
                            Selected.push(data[i].property_id);
                        }
                        $("#properties").val(Selected);
                    }

                    $("#properties").chosen();
                }
            );
    }

    $
        (
            function ()
            {
                GetRelatedProperties();
            }
        );
</script>

<div class="container">

    @using (Html.BeginForm("Edit", "SKUSubcategories", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.HiddenFor(m => m.company_id, new { id = "companyID" })
                @Html.HiddenFor(m => m.subcategory_id, new { id = "subcategoryID" })
            </div>

            <div>
                @Html.LabelFor(m => m.category_id)

                <select id="categories" name="category_id" class="selectpicker">
                    @foreach (DaVinxi.Models.SKUCategories category in (ViewBag.Categories as List<DaVinxi.Models.SKUCategories>))
                    {
                        <option value="@category.category_id" @(string.Compare(Model.category_id, category.category_id, true) == 0 ? "selected" : "")>
                            @category.category_name
                        </option>
                    }
                </select>

                @Html.ValidationMessageFor(m => m.category_id)
            </div>

            <div>
                @Html.LabelFor(m => m.subcategory_name)
                @Html.EditorFor(m => m.subcategory_name,
                    new { placeholder = "Subcategory Name" })
                @Html.ValidationMessageFor(m => m.subcategory_name)
            </div>

            <div>
                @Html.Label("Quality Properties")

                <select id="properties" class="chosen-select" name="properties" data-placeholder="Choose Property(ies)" multiple>
                    @foreach (DaVinxi.Models.QualityProperties property in (ViewBag.Properties as List<DaVinxi.Models.QualityProperties>))
                    {
                        <option value="@property.property_id">
                            @property.property_name
                        </option>
                    }
                </select>
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","SKUSubcategories")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>