﻿@model DaVinxi.Models.SKUCategoryRegisterModel

@{
    ViewBag.Title = "Edit Category " + Model.category_name;
}

<script type="text/javascript">
    function GetProperties()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url:'@Url.Action("GetQualityPropertiesJSON", "HelperClass")',
                    dataType:'json',
                    data:{companyID : $("#companyID").val()},
                    beforeSend : function(xhr)
                    {
                        $("#properties").html("");
                        $("#properties").val(new Array());
                    }
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        for(var i=0;i<data.length;i++)
                        {
                            $("#properties").append("<option value='" + data[i].property_id + "'>"
                                + data[i].property_name + "</option>");
                        }
                    }
                    GetRelatedProperties();
                }
            );
    }

    function GetRelatedProperties()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url : '@Url.Action("GetQualityPropertiesBySKUCategoryJSON", "HelperClass")',
                    dataType:'json',
                    data:{companyID : $("#companyID").val(), categoryID : $("#categoryID").val()}
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        var Selected = new Array();
                        for(var i=0;i<data.length;i++)
                        {
                            Selected.push(data[i].property_id);
                        }
                        $("#properties").val(Selected);
                    }

                    $("#properties").chosen();
                }
            );
    }

    $
        (
            function ()
            {
                GetProperties();
            }
        );
</script>

<div class="container">

    @using (Html.BeginForm("Edit", "SKUCategories", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.HiddenFor(m => m.company_id, new { id = "companyID" })
                @Html.HiddenFor(m => m.category_id, new { id = "categoryID" })
            </div>

            <div>
                @Html.LabelFor(m => m.category_name)
                @Html.EditorFor(m => m.category_name,
                    new { placeholder = "Category Name" })
                @Html.ValidationMessageFor(m => m.category_name)
            </div>

            <div>
                @Html.Label("Quality Properties")

                <select id="properties" class="chosen-select" name="properties" data-placeholder="Choose Property(ies)" multiple></select>
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","SKUCategories")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

