﻿@model IEnumerable<DaVinxi.Models.MasterDivisions>

@{
    ViewBag.Title = "Manage Divisions";
}

<script type="text/javascript">
    $
        (
            function ()
            {
                $("#myModal .deleteConfirmed").click
                (
                    function()
                    {
                        $("#frmDelete").submit();
                    }
                );
            }
        );

    function ShowDeleteDialog(companyID,divisionID,fullName)
    {
        $("#delete-message").html
            (
                "Are you sure want to delete division " + fullName + "?"
            );

        $("#deleted-id").val(divisionID);
        $("#deleted-company-id").val(companyID);

        $("#myModal").modal("show");
    }
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Division", FormMethod.Post, new { id = "frmDelete" }))
                {
                    <input type="hidden" id="deleted-id" name="divisionID" />
                    <input type="hidden" id="deleted-company-id" name="companyID" />
                    <div id="delete-message"></div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning deleteConfirmed">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button class="btn btn-lg btn-default" onclick="location.href='@Url.Action("Register","Division")'">
        Add New Division
    </button>

    <table class="table table-bordered table-hover" style="margin-top:15px">
        <thead style="text-align:center">
            <tr>
                <td>
                    @Html.DisplayNameFor(u => u.company_id)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.division_id)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.division_name)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.pic_username)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.description)
                </td>
                <td>
                    Edit
                </td>
                <td>
                    Delete
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        @if (ViewBag.RelatedCompanies != null &&
                            (ViewBag.RelatedCompanies as Dictionary<int, string>).ContainsKey(item.company_id))
                        { 
                            @Html.Label((ViewBag.RelatedCompanies as Dictionary<int, string>)[item.company_id])
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.division_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.division_name)
                    </td>
                    <td>
                        @if (ViewBag.RelatedUser != null &&
                            (ViewBag.RelatedUser as Dictionary<string, string>).ContainsKey(item.pic_username))
                        {
                            @Html.Label((ViewBag.RelatedUser as Dictionary<string, string>)[item.pic_username])
                        }
                    </td>
                    <td>
                        @Html.Raw("<pre>" + Html.Encode(item.description) + "</pre>")
                    </td>
                    <td style="text-align:center">
                        <a href="@Url.Action("Edit", "Division", 
                            new { companyID = item.company_id, divisionID=item.division_id})">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td style="text-align:center">
                        <a href="javascript:void(0)"
                           onclick="ShowDeleteDialog(@item.company_id,'@item.division_id','@item.division_name')">
                            <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
