﻿@model DaVinxi.Models.DivisionRegisterModel

@{
    ViewBag.Title = "Register New Division";
}

<div class="container">

    @using (Html.BeginForm("Register", "Division", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.LabelFor(m => m.company_id)
                
                <select class="selectpicker" name="company_id">
                    @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                    {
                        <option value="@c.company_id">@c.company_name</option>
                    }
                </select>

                @Html.ValidationMessageFor(m => m.company_id)
            </div>

            <div>
                @Html.LabelFor(m => m.division_id)
                @Html.TextBoxFor(m => m.division_id,
                    new { placeholder = "Division ID / Initial" })
                @Html.ValidationMessageFor(m => m.division_id)
            </div>

            <div>
                @Html.LabelFor(m => m.division_name)
                @Html.TextBoxFor(m => m.division_name,
                    new { placeholder = "Division Name" })
                @Html.ValidationMessageFor(m => m.division_name)
            </div>

            <div>
                @Html.LabelFor(m => m.pic_username)

                <select class="selectpicker" name="pic_username">
                    @foreach (DaVinxi.Models.MasterUser u in ViewBag.Users)
                    {
                        <option value="@u.username">@u.full_name</option>
                    }
                </select>

                @Html.ValidationMessageFor(m => m.pic_username)
            </div>

            <div>
                @Html.LabelFor(m => m.description)
                @Html.TextAreaFor(m => m.description,
                new { placeholder = "Description (optional)" })
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","Division")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
