﻿
@{
    ViewBag.Title = "Process Capabilities";
}
@Scripts.Render("~/bundles/highcharts")
<script type="text/javascript">
    function GetSKU() {
        $('#skus').ajaxSelectPicker({
            ajax: {
                type: 'POST',
                url: '@Url.Action("GetSKUJSON", "HelperClass")',
                dataType: 'json',
                data: {
                    companyID: $("#companies").val(),
                    skuID: '{{{q}}}'
                },
                async: true
            },
            preprocessData: function (results) {
                var Products = [];
                if (results.length > 0) {
                    for (var i = 0; i < results.length; i++) {
                        Products.push
                            (
                                {
                                    value: results[i].sku_id,
                                    text: "[" + results[i].sku_id + "] " + results[i].sku_name,
                                    disable: false
                                }
                            );
                    }
                }
                return Products;
            },
            placeHolderOption: 'Click and start typing',
            preserveSelected: false
        });
    }

    function GetBatch() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("FindBatch", "HelperClass")',
                    data: $("#frm-filter").serialize(),
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#batches").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#batches").append("<option value=''>All Batches</option>");
                        var PrevSKUID = "", Line = "";
                        for (var i = 0; i < data.length; i++) {
                            if (PrevSKUID != data[i].sku_id) {
                                if (i > 0)
                                    Line += "</optgroup>";
                                PrevSKUID = data[i].sku_id;
                                Line += "<optgroup label=\"SKU : [" + PrevSKUID + "] " + data[i].sku_name + "\">";
                            }
                            Line += "<option value='" + data[i].batch_id
                                + "' data-subtext=\"Machine: " + data[i].machine_name + ". From " + data[i].start_date + " until " + data[i].finish_date + "\">" +
                                data[i].batch_id + "</option>";
                        }
                        Line += "</optgroup>";
                        $("#batches").append(Line);
                    }
                    $("#batches").selectpicker("refresh");
                }
            );
    }

    function GetProperties() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetPropertySettingJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), skuID: $("#skus").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#properties").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#properties").append("<option value='" + data[i].property_id + "'>"
                                + data[i].property_name + "</option>");
                        }
                    }
                    $("#properties").selectpicker("refresh");
                }
            );
    }

    var ShowFilter = true;
    function ShowHideFilter() {
        ShowFilter = !ShowFilter;

        if (ShowFilter) {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    function GetCapability() {
        if ($("#skus").val() == null)
            alert("Please search and select SKU");
        else {
            $.ajax
                (
                    {
                        type: "POST",
                        url: '@Url.Action("GetCapability", "ProcessCapability")',
                        data: $("#frm-filter").serialize(),
                        dataType: 'json',
                        beforeSend: function (xhr) {
                            $("#modal-progress").modal("show");
                        }
                    }
                ).done
                (
                    function (data) {
                        $("#modal-progress").modal("hide");
                        if (data != null) {
                            var Hist = new Array();
                            Hist.push([data.MinOutside.point, data.MinOutside.count]);
                            Hist.push([data.Min3s.point, data.Min3s.count]);
                            Hist.push([data.Min2s.point, data.Min2s.count]);
                            Hist.push([data.Min1s.point, data.Min1s.count]);
                            Hist.push([data.Max1s.point, data.Max1s.count]);
                            Hist.push([data.Max2s.point, data.Max2s.count]);
                            Hist.push([data.Max3s.point, data.Max3s.count]);
                            Hist.push([data.MaxOutside.point, data.MaxOutside.count]);

                            var Dist = new Array(), Target = Number(data.target), StdDev = Number(data.stdDev),
                                UpperLimit = Target + (3 * StdDev), LowerLimit = Target - (3 * StdDev);
                            for (var i = LowerLimit ; i <= UpperLimit ; i += StdDev / 100) {
                                var Value = Math.exp(-1 * (Math.pow(i - Target, 2) / (2 * StdDev * StdDev))) / (StdDev * (Math.sqrt(2 * Math.PI)));
                                Dist.push([i, Value]);
                            }

                            $("#capability-container").highcharts(
                                    {
                                        chart: {
                                            zoomType: 'xy',
                                            height: 500
                                        },
                                        title: {
                                            text: $("#skus option:selected").text() + " " +
                                                $("#properties option:selected").text() + " Process Capability",
                                            style: {
                                                fontSize: '200%'
                                            }
                                        },
                                        subtitle: {
                                            text: "Cp = " + data.cp + " ; " + "Cpk = " + data.cpk + "<br/>" +
                                                "Pp = " + data.pp + " ; " + "Ppk = " + data.ppk,
                                            style: {
                                                fontWeight: 'bold'
                                            }
                                        },
                                        tooltip: {
                                            borderWidth: 1,
                                            formatter: function () {
                                                return "<b>" + this.series.name + " : </b>" + this.y;
                                            }
                                        },
                                        plotOptions: {
                                            series: {
                                                marker: {
                                                    minPointLength: 1,
                                                    shadow: false,
                                                    enabled: false
                                                }
                                            }
                                        },
                                        yAxis: [
                                            {
                                                title: {
                                                    text: '<b>Frequency</b>',
                                                    style: {
                                                        color: Highcharts.getOptions().colors[0],
                                                        fontSize: '200%'
                                                    }
                                                }
                                            },
                                            {
                                                title: {
                                                    text: '<b>Distribution</b>',
                                                    style: {
                                                        color: Highcharts.getOptions().colors[1],
                                                        fontSize: '200%'
                                                    }
                                                },
                                                opposite: true,
                                                min: 0,
                                                max: 1
                                            }
                                        ],
                                        series: [
                                            {
                                                name: 'Frequency',
                                                type: 'column',
                                                yAxis: 0,
                                                data: Hist,
                                                pointRange: StdDev,
                                                groupPadding: 0,
                                                pointPadding: 0,
                                                borderWidth: .5
                                            },
                                            {
                                                name: 'Distribution',
                                                type: 'spline',
                                                yAxis: 1,
                                                data: Dist
                                            },
                                            {
                                                name: 'Target',
                                                type: 'line',
                                                yAxis: 1,
                                                color: "green",
                                                data: [[data.oData[0].propertySetting.target, 0], [data.oData[0].propertySetting.target, 1]]
                                            },
                                            {
                                                name: 'Lower Reject Limit',
                                                type: 'line',
                                                yAxis: 1,
                                                dashStyle: "Dash",
                                                color: "orange",
                                                data: [
                                                    [data.oData[0].propertySetting.lrl, 0],
                                                    [data.oData[0].propertySetting.lrl, 1]
                                                ]
                                            },
                                            {
                                                name: 'Upper Reject Limit',
                                                type: 'line',
                                                yAxis: 1,
                                                dashStyle: "Dash",
                                                color: "red",
                                                data: [
                                                    [data.oData[0].propertySetting.url, 0],
                                                    [data.oData[0].propertySetting.url, 1]
                                                ]
                                            }
                                        ]
                                    }
                                );
                        }
                        ShowHideFilter();
                    }
                );
        }
    }

    $
        (
            function () {
                $("#companies").trigger("change");
            }
        );
</script>

<div class="container">
    <fieldset style="margin-top:10px">
        <legend>
            Process Capability Filter
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frm-filter">
                <table class="table table-striped">
                    <tr>
                        <td>
                            Company
                        </td>
                        <td></td>
                        <td style="width:100%">
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetSKU();">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SKU
                        </td>
                        <td></td>
                        <td>
                            <select id="skus" name="sku_id" class="selectpicker" onchange="GetBatch(); GetProperties()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Batch
                        </td>
                        <td></td>
                        <td>
                            <select id="batches" name="batch_id" class="selectpicker"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Quality Property
                        </td>
                        <td></td>
                        <td>
                            <select id="properties" name="property_id" class="selectpicker"></select>
                        </td>
                    </tr>
                </table>
            </form>

            <div style="margin-top:10px">
                <button class="btn btn-info" onclick="GetCapability()" type="button">
                    <span class="glyphicon glyphicon-stats"></span> Show Process Capability
                </button>
            </div>
        </div>
    </fieldset>

    <fieldset style="margin-top:10px">
        <legend>Process Capability Result</legend>
        <div id="capability-container"></div>
    </fieldset>
</div>

