﻿
@{
    ViewBag.Title = "Quality Run Chart";
}
@Scripts.Render("~/bundles/highstock")
<script type="text/javascript">
    function GetSKU() {
        $('#skus').ajaxSelectPicker({
            ajax: {
                type: 'POST',
                url: '@Url.Action("GetSKUJSON", "HelperClass")',
                dataType: 'json',
                data: {
                    companyID: $("#companies").val(),
                    skuID: '{{{q}}}'
                },
                async: true
            },
            preprocessData: function (results) {
                var Products = [];
                if (results.length > 0) {
                    for (var i = 0; i < results.length; i++) {
                        Products.push
                            (
                                {
                                    value: results[i].sku_id,
                                    text: "[" + results[i].sku_id + "] " + results[i].sku_name,
                                    disable: false
                                }
                            );
                    }
                }
                return Products;
            },
            placeHolderOption: 'Click and start typing',
            preserveSelected: false
        });
    }

    function GetBatch() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("FindBatch", "HelperClass")',
                    data: $("#frm-filter").serialize(),
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#batches").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        var PrevSKUID = "", Line = "";
                        for (var i = 0; i < data.length; i++) {
                            if (PrevSKUID != data[i].sku_id) {
                                if (i > 0)
                                    Line += "</optgroup>";
                                PrevSKUID = data[i].sku_id;
                                Line += "<optgroup label=\"SKU : [" + PrevSKUID + "] " + data[i].sku_name + "\">";
                            }
                            Line += "<option value='" + data[i].batch_id
                                + "' data-subtext=\"Machine: " + data[i].machine_name +
                                ". From " + data[i].start_date + " until " + data[i].finish_date +
                                "\" machine_name='" + data[i].machine_name + "'>" +
                                data[i].batch_id + "</option>";
                        }
                        Line += "</optgroup>";
                        $("#batches").append(Line);
                    }
                    $("#batches").selectpicker("refresh");
                }
            );
    }

    function GetProperties() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetPropertySettingJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), skuID: $("#skus").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#properties").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#properties").append("<option value='" + data[i].property_id + "'>"
                                + data[i].property_name + "</option>");
                        }
                    }
                    $("#properties").selectpicker("refresh");
                }
            );
    }

    var ShowFilter = true;
    function ShowHideFilter() {
        ShowFilter = !ShowFilter;

        if (ShowFilter) {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    function GetData() {
        if ($("#skus").val() == null || $("#skus").val().length <= 0) {
            alert("Please search and choose a SKU");
        }
        else if ($("#properties").val() == null || $("#properties").val().length <= 0) {
            alert("At least one quality property selected");
        }
        else {
            $.ajax
                (
                    {
                        type: "POST",
                        url: '@Url.Action("GetQualityData")',
                        data: $("#frm-filter").serialize(),
                        dataType: 'json',
                        beforeSend: function (xhr) {
                            $("#quality-run-chart").html('');
                            ShowHideFilter();
                            $("#modal-progress").modal("show");
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                            alert(thrownError);
                        }
                    }
                ).done
                (
                    function (data) {
                        if (data != null && data.length > 0) {
                            var PrevMachine = "", PrevBatch = "", PrevProperty = "", PrevPropertyName = "",
                                PrevStartBatch = "", PrevEndBatch = "", PrevTarget = 0, PrevSigma = 0;
                            var ActData = new Array();
                            for (var i = 0; i < data.length; i++) {

                                if (PrevMachine != data[i].machine_id) {
                                    if (CheckData(PrevMachine, PrevProperty, PrevPropertyName, PrevBatch,
                                        PrevStartBatch, PrevEndBatch, ActData, PrevTarget, PrevSigma))
                                        ActData = [];

                                    $("#quality-run-chart").append("<div class='panel panel-info'><div class='panel-heading'>"
                                        + "<h3>Machine: " +
                                        data[i].machine_name + "</h3></div><div id='" + data[i].machine_id +
                                        "' class='panel-body'></div></div>");
                                    PrevMachine = data[i].machine_id;
                                }


                                if (PrevProperty != data[i].property_id) {
                                    if (CheckData(PrevMachine, PrevProperty, PrevPropertyName, PrevBatch,
                                        PrevStartBatch, PrevEndBatch, ActData, PrevTarget, PrevSigma))
                                        ActData = [];

                                    $("#" + data[i].machine_id).append("<fieldset><legend>Quality Property: " +
                                        data[i].property_name + "</legend><div id='" + PrevMachine + "_" + data[i].property_id + "'></div></fieldset>");
                                    PrevProperty = data[i].property_id;
                                    PrevPropertyName = data[i].property_name;
                                    PrevTarget = Number(data[i].target);
                                    PrevSigma = Number(data[i].sigma);
                                }

                                if (PrevBatch != data[i].batch_id) {
                                    if (CheckData(PrevMachine, PrevProperty, PrevPropertyName, PrevBatch,
                                        PrevStartBatch, PrevEndBatch, ActData, PrevTarget, PrevSigma))
                                        ActData = [];

                                    PrevBatch = data[i].batch_id;
                                    PrevStartBatch = data[i].batch_start;
                                    PrevEndBatch = data[i].batch_end;
                                }

                                ActData.push([
                                    Number(data[i].totalMs), Number(data[i].actual_value), data[i].unit_name]);
                            }

                            if (CheckData(PrevMachine, PrevProperty, PrevPropertyName, PrevBatch,
                                        PrevStartBatch, PrevEndBatch, ActData, PrevTarget, PrevSigma))
                                ActData = [];
                        }
                        $("#modal-progress").modal("hide");
                    }
                );
        }
    }

    function CheckData(PrevMachine, PrevProperty, PrevPropertyName, PrevBatch,
        PrevStartBatch, PrevEndBatch, ActData, target, sigma) {
        if (ActData.length > 0) {
            var DomID = PrevMachine + "_" + PrevProperty;
            $("#" + DomID).append("<div id='" + DomID + "_" + PrevBatch + "'></div>");
            DomID += "_" + PrevBatch;
            DrawChart(DomID, PrevPropertyName, PrevBatch, PrevStartBatch, PrevEndBatch, ActData, target, sigma);
            return true;
        }
        return false;
    }

    function DrawChart(dom, propertyName, batchID, batchStart, batchEnd, actData, target, sigma) {
        var ViolatedCount = 0;
        var DataSeries = new Array();

        if ($('#weRules').val() != null && $('#weRules').val().length > 0) {
            var Rules = $('#weRules').val();

            var Violations = new Array();

            for (var i = 0; i < actData.length; i++)
                Violations.push({ status: false, rules: [] });

            for (var i = 0; i < Rules.length; i++) {
                if (Rules[i] == 'we1')
                    WE1(Violations, actData, target, sigma);
                else if (Rules[i] == 'we2')
                    WE2(Violations, actData, target, sigma);
                else if (Rules[i] == 'we3')
                    WE3(Violations, actData, target, sigma);
                else if (Rules[i] == 'we4')
                    WE4(Violations, actData, target, sigma);
            }

            for (var i = 0; i < actData.length; i++) {
                if (Violations[i].status) {
                    actData[i] = {
                        x: actData[i][0],
                        y: actData[i][1],
                        color: 'red',
                        marker: {
                            enabled: true,
                            radius: 5
                        },
                        violatedRules: Violations[i].rules,
                        unit_name: actData[i][2]
                    };
                    ViolatedCount++;
                }
                else {
                    actData[i] = {
                        x: actData[i][0],
                        y: actData[i][1],
                        marker: {
                            enabled: true,
                            radius: 5
                        },
                        unit_name: actData[i][2]
                    };
                }
            }

            DataSeries.push
                (
                    {
                        type: 'pie',
                        name: 'Total',
                        data: [
                            {
                                name: 'Fail',
                                y: ViolatedCount,
                                color: 'red'
                            },
                            {
                                name: 'Pass',
                                y: actData.length - ViolatedCount,
                                color: 'green'
                            }
                        ],
                        center: [40, 20],
                        size: 50,
                        showInLegend: false,
                        dataLabels: {
                            enabled: false
                        }
                    }
                );
        }

        DataSeries.push
            (
                {
                    name: propertyName,
                    data: actData
                }
            );

        $("#" + dom).highcharts
            (
                'StockChart',
                {
                    chart: {
                        zoomType: 'x',
                        height: 700,
                        type: 'line'
                    },
                    rangeSelector: {
                        buttons: [
                            {
                                type: 'day',
                                count: 1,
                                text: '1 Day'
                            },
                            {
                                type: 'week',
                                count: 1,
                                text: '1 Week'
                            },
                            {
                                type: 'all',
                                text: 'All'
                            }
                        ],
                        selected: 0,
                        buttonSpacing: 10,
                        inputEnabled: false,
                        buttonTheme: {
                            width: null
                        }
                    },
                    navigator: {
                        enabled: false
                    },
                    title: {
                        text: $("#skus option:selected").text() + "'s " + propertyName + " Run Chart",
                        style: {
                            fontSize: "200%"
                        }
                    },
                    subtitle: {
                        text: "Batch: " + batchID + "<br/>From " + batchStart + " until " + batchEnd,
                        style: {
                            fontSize: "150%"
                        }
                    },
                    legend: {
                        enabled: true
                    },
                    labels: {
                        items: [{
                            html: 'Total Run Rules Violation',
                            style: {
                                left: '5px',
                                top: '0px',
                                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                            }
                        }]
                    },
                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: 'Timestamp',
                            style: {
                                fontSize: "200%"
                            }
                        },
                        dateTimeLabelFormats: {
                            day: '%e %b %Y %H:%m'
                        },
                        labels: {
                            style: {
                                fontWeight:"bold"
                            }
                        }
                    },
                    tooltip: {
                        useHTML: true,
                        pointFormatter: function () {
                            var Default = "<table class='table'>";
                            Default += "<tr><td><span style=\"color:" + this.color + "\">\u25CF</span></td>"
                                + "<td style='text-align:right'>"
                                + this.series.name + " :</td><td><b>" + this.y + " " + this.unit_name +"</b></td></tr>";
                            Default += "<tr style='vertical-align:top'><td></td>"
                                    + "<td style='text-align:right'>Violated rules :</td>";
                            if (this.violatedRules != null) {
                                Default += "<td style='text-align:left'><table>";
                                for (var i = 0; i < this.violatedRules.length; i++) {
                                    Default += "<tr><td>" + (i + 1) + ". </td><td>" + this.violatedRules[i] + "</td></tr>";
                                }
                                Default += "</table></td>";
                            }
                            else 
                                Default += "<td style='text-align:left'>-</td>";
                            
                            Default += "</tr></table>";
                            return Default;
                        }
                    },
                    yAxis: {
                        title: {
                            text: propertyName,
                            style: {
                                fontSize: "200%"
                            }
                        },
                        plotLines: [
                            {
                                label: {
                                    text: 'UCL'
                                },
                                width: 2,
                                color: 'red',
                                value: target + (3 * sigma)
                            },
                            {
                                label: {
                                    text: '+2σ'
                                },
                                width: 2,
                                color: 'orange',
                                value: target + (2 * sigma)
                            },
                            {
                                label: {
                                    text: '+1σ'
                                },
                                width: 2,
                                color: 'black',
                                value: target + sigma
                            },
                            {
                                label: {
                                    text: 'LCL'
                                },
                                width: 2,
                                color: 'red',
                                value: target - (3 * sigma)
                            },
                            {
                                label: {
                                    text: '-2σ'
                                },
                                width: 2,
                                color: 'yellow',
                                value: target - (2 * sigma)
                            },
                            {
                                label: {
                                    text: '-1σ'
                                },
                                width: 2,
                                color: 'black',
                                value: target - sigma
                            },
                            {
                                label: {
                                    text: 'Target'
                                },
                                width: 2,
                                color: 'green',
                                value: target
                            }
                        ]
                    },
                    series: DataSeries
                }
            );
    }

    function WE1(violation, data, target, sigma) {
        if (data != null && data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                if (Number(data[i][1]) > (target + (3 * sigma)) || Number(data[i][1]) < (target - (3 * sigma))) {
                    violation[i].status = true;
                    violation[i].rules.push("WE1");
                }
            }
        }
    }

    function WE2(violation, data, target, sigma) {
        if (data != null && data.length > 2) {
            for (var i = 2; i < data.length; i++) {
                var UpperCount = 0, LowerCount = 0;
                for (var j = i - 2; j <= i; j++) {
                    if (Number(data[j][1]) > (target + (2 * sigma))) {
                        UpperCount++;
                        if (UpperCount == 2)
                            break;
                    }
                    else if (Number(data[j][1]) < (target - (2 * sigma))) {
                        LowerCount++;
                        if (LowerCount == 2)
                            break;
                    }
                }

                if (UpperCount == 2 || LowerCount == 2) {
                    violation[i].status = true;
                    violation[i].rules.push("WE2");
                }
            }
        }
    }

    function WE3(violation, data, target, sigma) {
        if (data != null && data.length > 4) {
            for (var i = 4; i < data.length; i++) {
                var UpperCount = 0, LowerCount = 0;
                for (var j = i - 4; j <= i; j++) {
                    if (Number(data[j][1]) > (target + sigma)) {
                        UpperCount++;
                        if (UpperCount == 4)
                            break;
                    }
                    else if (Number(data[j][1]) < (target - sigma)) {
                        LowerCount++;
                        if (LowerCount == 4)
                            break;
                    }
                }

                if (UpperCount == 4 || LowerCount == 4) {
                    violation[i].status = true;
                    violation[i].rules.push("WE3");
                }
            }
        }
    }

    function WE4(violation, data, target, sigma) {
        if (data != null && data.length > 8) {
            for (var i = 8; i < data.length; i++) {
                var UpperCount = 0, LowerCount = 0;
                for (var j = i - 8; j <= i; j++) {
                    if (Number(data[j][1]) > target) {
                        UpperCount++;
                        if (UpperCount == 9)
                            break;
                    }
                    else if (Number(data[j][1]) < target) {
                        LowerCount++;
                        if (LowerCount == 9)
                            break;
                    }
                }

                if (UpperCount == 9 || LowerCount == 9) {
                    violation[i].status = true;
                    violation[i].rules.push("WE4");
                }
            }
        }
    }

    $
        (
            function () {
                $("#companies").trigger("change");
            }
        );
</script>

<div class="container">
    <fieldset style="margin-top:10px">
        <legend>
            Quality Run Chart Setting
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frm-filter">
                <table class="table table-striped">
                    <tr>
                        <td>
                            Company
                        </td>
                        <td></td>
                        <td style="width:100%">
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetSKU()">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SKU
                        </td>
                        <td></td>
                        <td>
                            <select id="skus" name="sku_id" class="selectpicker" onchange="GetBatch(); GetProperties()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Batch
                        </td>
                        <td></td>
                        <td>
                            <select id="batches" name="batch_id" class="selectpicker" multiple></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Quality Property
                        </td>
                        <td></td>
                        <td>
                            <select id="properties" name="property_id" class="selectpicker" multiple></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Western Electric Rules
                        </td>
                        <td></td>
                        <td>
                            <select id="weRules" name="rules" class="selectpicker" multiple>
                                <option value="we1" data-subtext="Any single data point falls outside the 3σ limit from the centerline">WE Rule 1</option>
                                <option value="we2" data-subtext="Two out of three consecutive points fall beyond the 2σ limit">WE Rule 2</option>
                                <option value="we3" data-subtext="Four out of five consecutive points fall beyond the 1σ limit">WE Rule 3</option>
                                <option value="we4" data-subtext="Nine consecutive points fall on the same side of the centerline">WE Rule 4</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>

            <div style="margin-top:10px">
                <button class="btn btn-info" onclick="GetData()" type="button">
                    <span class="glyphicon glyphicon-stats"></span> Get Run-chart
                </button>
            </div>
        </div>
    </fieldset>

    <div id="quality-run-chart" style="margin-top:10px"></div>
</div>

