﻿
@{
    ViewBag.Title = "Financial Model Simulation";

    ViewBag.FullPath = string.Format("{0}://{1}{2}{3}",
                                    HttpContext.Current.Request.Url.Scheme,
                                    HttpContext.Current.Request.Url.Host,
                                    HttpContext.Current.Request.Url.Port == 80
                                        ? string.Empty
                                        : ":" + HttpContext.Current.Request.Url.Port,
                                    HttpContext.Current.Request.ApplicationPath);
}
@Scripts.Render("~/bundles/state-machine")
@Scripts.Render("~/bundles/base64")
@Scripts.Render("~/bundles/jMigrate")
@Scripts.Render("~/bundles/jPrintElement")

<style>
    .red-line {
        color:red;
    }

    .bold {
        font-weight:bold;
    }

    .orange {
        color:orange;
    }

    .navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}
</style>

<script type="text/javascript">
    var Equations = new HashTable();

    function EquationItem() {
        return { equation: '', affected: [] };
    }

    function GetVal(id) {
        return Number($("#" + id).val());
    }

    function Init() {
        Equations.setItem('maxDriveSpeed', EquationItem());
        Equations.getItem('maxDriveSpeed').affected.push('maxYankeeSpeed');

        Equations.setItem('headboxWidth', EquationItem());
        Equations.getItem('headboxWidth').affected.push('calculatedSpeed');
        Equations.getItem('headboxWidth').affected.push('totalOutputHour');
        Equations.getItem('headboxWidth').affected.push('totalOutputDay');

        Equations.setItem('dryingRate', EquationItem());
        Equations.getItem('dryingRate').affected.push('calculatedSpeed');

        Equations.setItem('stdTrimWidth', EquationItem());
        Equations.getItem('stdTrimWidth').affected.push('stdTrimWaste');
        Equations.getItem('stdTrimWidth').affected.push('totalOutputHour');
        Equations.getItem('stdTrimWidth').affected.push('totalOutputDay');

        Equations.setItem('orderedTrimWidth', EquationItem());
        Equations.getItem('orderedTrimWidth').affected.push('orderedTrimWaste');
        Equations.getItem('orderedTrimWidth').affected.push('totalOutputHour');
        Equations.getItem('orderedTrimWidth').affected.push('totalOutputDay');

        Equations.setItem('bw', EquationItem());
        Equations.getItem('bw').affected.push('calculatedSpeed');
        Equations.getItem('bw').affected.push('stdTrimWaste');
        Equations.getItem('bw').affected.push('orderedTrimWaste');
        Equations.getItem('bw').affected.push('totalOutputHour');
        Equations.getItem('bw').affected.push('totalOutputDay');

        Equations.setItem('percentCrepe', EquationItem());
        Equations.getItem('percentCrepe').affected.push('reelSpeed');

        Equations.setItem('sprSolids', EquationItem());
        Equations.getItem('sprSolids').affected.push('calculatedSpeed');

        Equations.setItem('crepeMoisture', EquationItem());
        Equations.getItem('crepeMoisture').affected.push('calculatedSpeed');

        Equations.setItem('reelMoisture', EquationItem());

        Equations.setItem('calculatedSpeed', EquationItem());
        Equations.getItem('calculatedSpeed').equation = "GetVal('dryingRate')*1000000/"
            + "(GetVal('bw')*GetVal('headboxWidth')*60*((1-GetVal('sprSolids')/100)-(GetVal('crepeMoisture')/100)))";
        Equations.getItem('calculatedSpeed').affected.push('maxYankeeSpeed');

        Equations.setItem('maxYankeeSpeed', EquationItem());
        Equations.getItem('maxYankeeSpeed').equation = "(GetVal('calculatedSpeed')<GetVal('maxDriveSpeed') ? " +
            "GetVal('calculatedSpeed') : GetVal('maxDriveSpeed'))";

        Equations.setItem('targetYankeeSpeed', EquationItem());
        Equations.getItem('targetYankeeSpeed').affected.push('reelSpeed');

        Equations.setItem('reelSpeed', EquationItem());
        Equations.getItem('reelSpeed').equation = "GetVal('targetYankeeSpeed')*(100-GetVal('percentCrepe'))/100";
        Equations.getItem('reelSpeed').affected.push('stdTrimWaste');
        Equations.getItem('reelSpeed').affected.push('orderedTrimWaste');
        Equations.getItem('reelSpeed').affected.push('totalOutputHour');
        Equations.getItem('reelSpeed').affected.push('totalOutputDay');

        Equations.setItem('stdTrimWaste', EquationItem());
        Equations.getItem('stdTrimWaste').equation = "GetVal('bw')*(GetVal('stdTrimWidth')*2/1000000)*GetVal('reelSpeed')*60";
        Equations.getItem('stdTrimWaste').affected.push('totalWasteHour');
        Equations.getItem('stdTrimWaste').affected.push('totalWasteDay');

        Equations.setItem('orderedTrimWaste', EquationItem());
        Equations.getItem('orderedTrimWaste').equation = "GetVal('bw')*(GetVal('orderedTrimWidth')*2/1000000)*GetVal('reelSpeed')*60";
        Equations.getItem('orderedTrimWaste').affected.push('totalWasteHour');
        Equations.getItem('orderedTrimWaste').affected.push('totalWasteDay');

        Equations.setItem('totalWasteHour', EquationItem());
        Equations.getItem('totalWasteHour').equation = "(GetVal('stdTrimWaste')+GetVal('orderedTrimWaste'))/1000";

        Equations.setItem('totalWasteDay', EquationItem());
        Equations.getItem('totalWasteDay').equation = "(GetVal('stdTrimWaste')+GetVal('orderedTrimWaste'))*24/1000";
        Equations.getItem('totalWasteDay').affected.push('wetBrokeTons');

        Equations.setItem('pulperWasteDay', EquationItem());
        Equations.getItem('pulperWasteDay').affected.push('wetBrokeTons');

        Equations.setItem('stockOffDuration', EquationItem());
        Equations.getItem('stockOffDuration').affected.push('totalOutputHour');
        Equations.getItem('stockOffDuration').affected.push('totalOutputDay');

        Equations.setItem('totalOutputHour', EquationItem());
        Equations.getItem('totalOutputHour').equation = "(GetVal('bw')*GetVal('reelSpeed')*"
            + "(GetVal('headboxWidth')-(2*(GetVal('stdTrimWidth')+GetVal('orderedTrimWidth'))/1000))*60/1000000) * (1.0-(GetVal('stockOffDuration')/1440))";

        Equations.setItem('totalOutputDay', EquationItem());
        Equations.getItem('totalOutputDay').equation = "(GetVal('bw')*GetVal('reelSpeed')*"
            + "(GetVal('headboxWidth')-(2*(GetVal('stdTrimWidth')+GetVal('orderedTrimWidth'))/1000))*60*24/1000000) * (1.0-(GetVal('stockOffDuration')/1440))";
        Equations.getItem('totalOutputDay').affected.push('wBrokeBaseRatio');
        Equations.getItem('totalOutputDay').affected.push('nbkpTons');
        Equations.getItem('totalOutputDay').affected.push('lbkpTons');
        Equations.getItem('totalOutputDay').affected.push('dBrokeTons');
        Equations.getItem('totalOutputDay').affected.push('wBrokeTons');

        Equations.setItem('nbkpBaseRatio', EquationItem());
        Equations.getItem('nbkpBaseRatio').affected.push('nbkpModelRatio');

        Equations.setItem('nbkpModelRatio', EquationItem());
        Equations.getItem('nbkpModelRatio').equation = "GetVal('nbkpBaseRatio')*(100-GetVal('wBrokeBaseRatio'))/100";
        Equations.getItem('nbkpModelRatio').affected.push('totalBlendPercent');
        Equations.getItem('nbkpModelRatio').affected.push('nbkpTons');
        Equations.getItem('nbkpModelRatio').affected.push('wBrokePrice');

        Equations.setItem('nbkpTons', EquationItem());
        Equations.getItem('nbkpTons').equation = "GetVal('totalOutputDay')*GetVal('nbkpModelRatio')/100";
        Equations.getItem('nbkpTons').affected.push('totalBlendTons');
        Equations.getItem('nbkpTons').affected.push('nbkpTotalPrice');

        Equations.setItem('nbkpPrice', EquationItem());
        Equations.getItem('nbkpPrice').affected.push('wBrokePrice');
        Equations.getItem('nbkpPrice').affected.push('nbkpTotalPrice');
        Equations.getItem('nbkpPrice').affected.push('brokeBalance');

        Equations.setItem('nbkpTotalPrice', EquationItem());
        Equations.getItem('nbkpTotalPrice').equation = "GetVal('nbkpPrice')*GetVal('nbkpTons')";
        Equations.getItem('nbkpTotalPrice').affected.push('totalBlendPrice');

        Equations.setItem('lbkpBaseRatio', EquationItem());
        Equations.getItem('lbkpBaseRatio').affected.push('lbkpModelRatio');

        Equations.setItem('lbkpModelRatio', EquationItem());
        Equations.getItem('lbkpModelRatio').equation = "GetVal('lbkpBaseRatio')*(100-GetVal('wBrokeBaseRatio'))/100";
        Equations.getItem('lbkpModelRatio').affected.push('totalBlendPercent');
        Equations.getItem('lbkpModelRatio').affected.push('lbkpTons');
        Equations.getItem('lbkpModelRatio').affected.push('wBrokePrice');

        Equations.setItem('lbkpTons', EquationItem());
        Equations.getItem('lbkpTons').equation = "GetVal('totalOutputDay')*GetVal('lbkpModelRatio')/100";
        Equations.getItem('lbkpTons').affected.push('totalBlendTons');
        Equations.getItem('lbkpTons').affected.push('lbkpTotalPrice');

        Equations.setItem('lbkpPrice', EquationItem());
        Equations.getItem('lbkpPrice').affected.push('wBrokePrice');
        Equations.getItem('lbkpPrice').affected.push('lbkpTotalPrice');
        Equations.getItem('lbkpPrice').affected.push('brokeBalance');

        Equations.setItem('lbkpTotalPrice', EquationItem());
        Equations.getItem('lbkpTotalPrice').equation = "GetVal('lbkpPrice')*GetVal('lbkpTons')";
        Equations.getItem('lbkpTotalPrice').affected.push('totalBlendPrice');

        Equations.setItem('dBrokeBaseRatio', EquationItem());
        Equations.getItem('dBrokeBaseRatio').affected.push('dBrokeModelRatio');

        Equations.setItem('dBrokeModelRatio', EquationItem());
        Equations.getItem('dBrokeModelRatio').equation = "GetVal('dBrokeBaseRatio')*(100-GetVal('wBrokeBaseRatio'))/100";
        Equations.getItem('dBrokeModelRatio').affected.push('totalBlendPercent');
        Equations.getItem('dBrokeModelRatio').affected.push('dBrokeTons');

        Equations.setItem('dBrokeTons', EquationItem());
        Equations.getItem('dBrokeTons').equation = "GetVal('totalOutputDay')*GetVal('dBrokeModelRatio')/100";
        Equations.getItem('dBrokeTons').affected.push('totalBlendTons');
        Equations.getItem('dBrokeTons').affected.push('dBrokeTotalPrice');

        Equations.setItem('dBrokePrice', EquationItem());
        Equations.getItem('dBrokePrice').affected.push('dBrokeTotalPrice');
        Equations.getItem('dBrokePrice').affected.push('brokeBalance');

        Equations.setItem('dBrokeTotalPrice', EquationItem());
        Equations.getItem('dBrokeTotalPrice').equation = "GetVal('dBrokePrice')*GetVal('dBrokeTons')";
        Equations.getItem('dBrokeTotalPrice').affected.push('totalBlendPrice');

        Equations.setItem('wBrokeBaseRatio', EquationItem());
        Equations.getItem('wBrokeBaseRatio').equation = "GetVal('wetBrokeTons')*100/GetVal('totalOutputDay')";
        Equations.getItem('wBrokeBaseRatio').affected.push('nbkpModelRatio');
        Equations.getItem('wBrokeBaseRatio').affected.push('wBrokeModelRatio');
        Equations.getItem('wBrokeBaseRatio').affected.push('lbkpModelRatio');
        Equations.getItem('wBrokeBaseRatio').affected.push('dBrokeModelRatio');

        Equations.setItem('wBrokeModelRatio', EquationItem());
        Equations.getItem('wBrokeModelRatio').equation = "GetVal('wBrokeBaseRatio')";
        Equations.getItem('wBrokeModelRatio').affected.push('totalBlendPercent');
        Equations.getItem('wBrokeModelRatio').affected.push('wBrokeTons');

        Equations.setItem('wBrokeTons', EquationItem());
        Equations.getItem('wBrokeTons').equation = "GetVal('totalOutputDay')*GetVal('wBrokeModelRatio')/100";
        Equations.getItem('wBrokeTons').affected.push('totalBlendTons');
        Equations.getItem('wBrokeTons').affected.push('wBrokeTotalPrice');
        Equations.getItem('wBrokeTons').affected.push('totalOffReelAccepts');

        Equations.setItem('wBrokePrice', EquationItem());
        Equations.getItem('wBrokePrice').equation = "((GetVal('nbkpModelRatio')/(GetVal('nbkpModelRatio')"
            + "+GetVal('lbkpModelRatio')))*GetVal('nbkpPrice'))+((GetVal('lbkpModelRatio')/(GetVal('nbkpModelRatio')"
            + "+GetVal('lbkpModelRatio')))*GetVal('lbkpPrice'))";
        Equations.getItem('wBrokePrice').affected.push('wBrokeTotalPrice');
        Equations.getItem('wBrokePrice').affected.push('brokeBalance');

        Equations.setItem('wBrokeTotalPrice', EquationItem());
        Equations.getItem('wBrokeTotalPrice').equation = "GetVal('wBrokePrice')*GetVal('wBrokeTons')";

        Equations.setItem('totalBlendPercent', EquationItem());
        Equations.getItem('totalBlendPercent').equation = "GetVal('nbkpModelRatio')+GetVal('lbkpModelRatio')+"
            + "GetVal('dBrokeModelRatio')+GetVal('wBrokeModelRatio')";

        Equations.setItem('totalBlendTons', EquationItem());
        Equations.getItem('totalBlendTons').equation = "GetVal('nbkpTons')+GetVal('lbkpTons')+"
            + "GetVal('dBrokeTons')+GetVal('wBrokeTons')";
        Equations.getItem('totalBlendTons').affected.push('totalOffReelAccepts');

        Equations.setItem('totalBlendPrice', EquationItem());
        Equations.getItem('totalBlendPrice').equation = "GetVal('nbkpTotalPrice')+GetVal('lbkpTotalPrice')+"
            + "GetVal('dBrokeTotalPrice')";
        Equations.getItem('totalBlendPrice').affected.push('fiberCost');

        Equations.setItem('totalOffReelAccepts', EquationItem());
        Equations.getItem('totalOffReelAccepts').equation = "GetVal('totalBlendTons')-GetVal('wBrokeTons')";
        Equations.getItem('totalOffReelAccepts').affected.push('fiberCost');
        Equations.getItem('totalOffReelAccepts').affected.push('volume');

        Equations.setItem('wetBrokeTons', EquationItem());
        Equations.getItem('wetBrokeTons').equation = "GetVal('totalWasteDay') + GetVal('pulperWasteDay')";
        Equations.getItem('wetBrokeTons').affected.push('wBrokeBaseRatio');

        Equations.setItem('dryBrokeTons', EquationItem());
        Equations.getItem('dryBrokeTons').affected.push('volume');
        Equations.getItem('dryBrokeTons').affected.push('brokeBank');

        Equations.setItem('initialBrokeBank', EquationItem());
        Equations.getItem('initialBrokeBank').affected.push('brokeBank');

        Equations.setItem('brokeBank', EquationItem());
        Equations.getItem('brokeBank').equation = "GetVal('dryBrokeTons')+GetVal('initialBrokeBank')";
        Equations.getItem('brokeBank').affected.push('brokeBalance');

        Equations.setItem('brokeBalance', EquationItem());
        Equations.getItem('brokeBalance').equation = "((GetVal('nbkpPrice')+GetVal('lbkpPrice')+GetVal('dBrokePrice')"
            + "+GetVal('wBrokePrice'))/4)*GetVal('brokeBank')";

        Equations.setItem('fixedCost', EquationItem());
        Equations.getItem('fixedCost').affected.push('expFixedCost');

        Equations.setItem('energyCost', EquationItem());
        Equations.getItem('energyCost').affected.push('expEnergy');

        Equations.setItem('chemicalsCost', EquationItem());
        Equations.getItem('chemicalsCost').affected.push('expChemical');

        Equations.setItem('semiDurablesCost', EquationItem());
        Equations.getItem('semiDurablesCost').affected.push('expSemiDurables');

        Equations.setItem('fiberCost', EquationItem());
        Equations.getItem('fiberCost').equation = "GetVal('totalBlendPrice')/GetVal('totalOffReelAccepts')";
        Equations.getItem('fiberCost').affected.push('expFiber');

        Equations.setItem('jrSellingPrice', EquationItem());
        Equations.getItem('jrSellingPrice').affected.push('revenue');

        Equations.setItem('volume', EquationItem());
        Equations.getItem('volume').equation = "GetVal('totalOffReelAccepts')-GetVal('dryBrokeTons')";
        Equations.getItem('volume').affected.push('revenue');
        Equations.getItem('volume').affected.push('expFiber');
        Equations.getItem('volume').affected.push('expChemical');
        Equations.getItem('volume').affected.push('expEnergy');
        Equations.getItem('volume').affected.push('expSemiDurables');

        Equations.setItem('revenue', EquationItem());
        Equations.getItem('revenue').equation = "GetVal('jrSellingPrice')*GetVal('volume')";
        Equations.getItem('revenue').affected.push('profitLoss');

        Equations.setItem('expFiber', EquationItem());
        Equations.getItem('expFiber').equation = "GetVal('fiberCost')*GetVal('volume')";
        Equations.getItem('expFiber').affected.push('totalVarCost');

        Equations.setItem('expChemical', EquationItem());
        Equations.getItem('expChemical').equation = "GetVal('chemicalsCost')*GetVal('volume')";
        Equations.getItem('expChemical').affected.push('totalVarCost');

        Equations.setItem('expEnergy', EquationItem());
        Equations.getItem('expEnergy').equation = "GetVal('energyCost')*GetVal('volume')";
        Equations.getItem('expEnergy').affected.push('totalVarCost');

        Equations.setItem('expSemiDurables', EquationItem());
        Equations.getItem('expSemiDurables').equation = "GetVal('semiDurablesCost')*GetVal('volume')";
        Equations.getItem('expSemiDurables').affected.push('totalVarCost');

        Equations.setItem('totalVarCost', EquationItem());
        Equations.getItem('totalVarCost').equation = "GetVal('expFiber')+GetVal('expChemical')"
            + "+GetVal('expEnergy')+GetVal('expSemiDurables')";
        Equations.getItem('totalVarCost').affected.push('profitLoss');

        Equations.setItem('expFixedCost', EquationItem());
        Equations.getItem('expFixedCost').equation = "GetVal('fixedCost')";
        Equations.getItem('expFixedCost').affected.push('profitLoss');

        Equations.setItem('profitLoss', EquationItem());
        Equations.getItem('profitLoss').equation = "GetVal('revenue')-GetVal('totalVarCost')-GetVal('expFixedCost')";
    }

    function GenerateDoc(includeFieldset, isPrintDoc) {
        $("#printed-doc").html('');

        if (includeFieldset) {
            var LegendText = $("#sim-financial").parent("fieldset").find("legend").text();
            $("#printed-doc").html("<fieldset><legend>" + LegendText + "</legend>");
        }

        $("#sim-financial input").each(function () {
            $(this).attr("value", $(this).val());
        });
        $("#printed-doc").append($("#sim-financial").html());
        $("#printed-doc input").replaceWith(function () {
            var nStr = this.value + '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        });
        if (includeFieldset) {
            $("#printed-doc").append("</fieldset>");
        }

        if (isPrintDoc)
            $("#printed-doc .printPageBreakBefore").css("page-break-before", "always");
        else
            $("#printed-doc .pdfPageBreakBefore").css("page-break-before", "always");

        $("#printed-doc").html($("#printed-doc").html().replace(/\r?\n|\n/g, ''));
        $("#printed-doc").html($("#printed-doc").html().replace(/>\s+/g, '>'));
        $("#printed-doc").html($("#printed-doc").html().replace(/\s+</g, '<'));

        $("#sent-printed-doc").val(Base64.encode($("#printed-doc").html()));
    }

    function ExportToPDF() {
        GenerateDoc(false, false);
        $("#frm-printed-doc").attr("action", "@Url.Action("ExportToPDF")");
        $("#frm-printed-doc").submit();
    }

    function ExportToWord() {
        GenerateDoc(false, false);
        $("#frm-printed-doc").attr("action", "@Url.Action("ExportToWord")");
        $("#frm-printed-doc").submit();
    }

    function Print() {
        GenerateDoc(true, true);
        $("#printed-doc").printElement({
            overrideElementCSS: [
                "@string.Concat(ViewBag.FullPath,"Content/bootstrap.min.css")",
                "@string.Concat(ViewBag.FullPath,"Content/bootstrap-theme.min.css")"
            ]
        });
    }

    $(function () {
        Init();

        $(".profitLossClass").change(function () {
            if (Number($(this).val()) < 0) {
                $("#profitLossText").text('Loss');
                $(this).parents("tr").removeClass("success").addClass("danger");
            }
            else {
                $("#profitLossText").text('Profit');
                $(this).parents("tr").removeClass("danger").addClass("success");
            }
        });

        $(".numericControl").change(function () {
            if (Equations.hasItem($(this).attr('id'))) {
                var maxAttr=$(this).attr('max');
                if (typeof maxAttr !== typeof undefined && maxAttr !== false && Number($(this).val()) > Number(maxAttr))
                    $(this).val(maxAttr);

                var minAttr = $(this).attr('min');
                if (typeof minAttr !== typeof undefined && minAttr !== false && Number($(this).val()) < Number(minAttr))
                    $(this).val(minAttr);

                var Item = Equations.getItem($(this).attr('id'));
                if (Item.affected != null && Item.affected.length > 0) {
                    for (var i = 0; i < Item.affected.length; i++) {
                        if (Equations.hasItem(Item.affected[i])) {
                            var AffectedItem = Equations.getItem(Item.affected[i]);
                            if (AffectedItem.equation != null && AffectedItem.equation.length > 0) {
                                var PrevValue = GetVal(Item.affected[i]);
                                var NewValue = Number(Number(eval(AffectedItem.equation)).toFixed(2));

                                if (PrevValue != NewValue) {
                                    $("#" + Item.affected[i]).val(NewValue.toFixed(2));

                                    var setMaxAttr = $("#" + Item.affected[i]).attr('set-max');
                                    if (typeof setMaxAttr !== typeof undefined && setMaxAttr !== false) {
                                        var SplitSetMax = setMaxAttr.split(";");
                                        if (SplitSetMax != null && SplitSetMax.length > 0) {
                                            for (var j = 0; j < SplitSetMax.length; j++) {
                                                $("#" + SplitSetMax[j]).attr("max", Number(NewValue));
                                            }
                                        }
                                    }

                                    var setMinAttr = $("#" + Item.affected[i]).attr('set-min');
                                    if (typeof setMinAttr !== typeof undefined && setMinAttr !== false) {
                                        var SplitSetMin = setMinAttr.split(";");
                                        if (SplitSetMin != null && SplitSetMin.length > 0) {
                                            for (var j = 0; j < SplitSetMin.length; j++) {
                                                $("#" + SplitSetMin[j]).attr("min", Number(NewValue));
                                            }
                                        }
                                    }


                                    $("#" + Item.affected[i]).trigger("change");
                                }
                            }
                        }
                    }
                }
            }
        }).css('text-align', 'right').addClass('form-control').parents("td").css('text-align', 'right');

        $("#headboxWidth").trigger("change");
        $("#percentCrepe").trigger("change");
        $("#fixedCost").trigger("change");
        $("#dryBrokeTons").trigger("change");

        $("#div-printed-doc").hide();

        $("table").find("tbody").find("tr").each(function () {
            $(this).find("td:first").css("text-align","right");
        });
    });
</script>

<div class="container">
    <fieldset>
        <legend>Financial Model Simulation</legend>
        <div id="sim-financial">
            <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">Design Specification</div>
                        <div class="panel-body">
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <td>Variable</td>
                                        <td>Units</td>
                                        <td>Value</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Maximum Drive Speed
                                        </td>
                                        <td>
                                            meters/min
                                        </td>
                                        <td>
                                            <input type="number" value="1800" class="numericControl" id="maxDriveSpeed" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Headbox Width
                                        </td>
                                        <td>
                                            meters
                                        </td>
                                        <td>
                                            <input type="number" value="2.6" class="numericControl" id="headboxWidth" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Drying Rate (H<sub>2</sub>O)
                                        </td>
                                        <td>
                                            Tons/hour
                                        </td>
                                        <td>
                                            <input type="number" value="3.05" class="numericControl" id="dryingRate" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Standard Trim Width
                                        </td>
                                        <td>
                                            millimeters
                                        </td>
                                        <td>
                                            <input type="number" value="30" class="numericControl" id="stdTrimWidth" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Order Trim Width
                                        </td>
                                        <td>
                                            millimeters
                                        </td>
                                        <td>
                                            <input type="number" value="10" class="numericControl" id="orderedTrimWidth" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Target Basis Weight @@ Reel
                                        </td>
                                        <td>
                                            gsm
                                        </td>
                                        <td>
                                            <input type="number" value="18" class="numericControl" id="bw" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Target Percent Crepe
                                        </td>
                                        <td>
                                            %
                                        </td>
                                        <td>
                                            <input type="number" value="17" class="numericControl" id="percentCrepe" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Suction Pressure Roll Solids
                                        </td>
                                        <td>
                                            %
                                        </td>
                                        <td>
                                            <input type="number" value="36" class="numericControl" id="sprSolids" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Crepe Moisture
                                        </td>
                                        <td>
                                            %
                                        </td>
                                        <td>
                                            <input type="number" value="5" class="numericControl" id="crepeMoisture" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Reel Moisture
                                        </td>
                                        <td>
                                            %
                                        </td>
                                        <td>
                                            <input type="number" value="7" class="numericControl" id="reelMoisture" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Calculated Speed
                                        </td>
                                        <td>
                                            meters/minute
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="calculatedSpeed" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Max. Yankee Speed
                                        </td>
                                        <td>
                                            meters/minute
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="maxYankeeSpeed" readonly="readonly"
                                                   set-max="targetYankeeSpeed" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Target Yankee Speed
                                        </td>
                                        <td>
                                            meters/minute
                                        </td>
                                        <td>
                                            <input type="number" value="1644" class="numericControl" id="targetYankeeSpeed" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Reel Speed
                                        </td>
                                        <td>
                                            meters/minute
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="reelSpeed" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Standard Trim Waste (Wet Broke)
                                        </td>
                                        <td>
                                            Kilograms/hour
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="stdTrimWaste" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Order Trim Waste
                                        </td>
                                        <td>
                                            Kilograms/hour
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="orderedTrimWaste" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Total Trim Waste per Hour
                                        </td>
                                        <td>
                                            Tons/hour
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="totalWasteHour" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Total Trim Waste per Day
                                        </td>
                                        <td>
                                            Tons/day
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="totalWasteDay" readonly="readonly"
                                                   set-min="wetBrokeTons" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Pulper Waste
                                        </td>
                                        <td>
                                            Tons/day
                                        </td>
                                        <td>
                                            <input type="number" value="0" class="numericControl" id="pulperWasteDay" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Stock Off Downtime
                                        </td>
                                        <td>
                                            minute(s)
                                        </td>
                                        <td>
                                            <input type="number" value="0" class="numericControl" id="stockOffDuration" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Total Output per Hour
                                        </td>
                                        <td>
                                            Tons/hour
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="totalOutputHour" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Total Output per Day
                                        </td>
                                        <td>
                                            Tons/day
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="totalOutputDay" readonly="readonly" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pdfPageBreakBefore">
                <div class="col-md-7">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Pulp Blending Settings</div>
                        <div class="panel-body">
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <td>Fiber</td>
                                        <td>Base(%)</td>
                                        <td>Model(%)</td>
                                        <td>Tons</td>
                                        <td>Price($/Ton)</td>
                                        <td>Fiber Cost($)</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>NBKP</td>
                                        <td>
                                            <input type="number" value="20" class="numericControl" id="nbkpBaseRatio" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="nbkpModelRatio" readonly="readonly" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="nbkpTons" readonly="readonly" />
                                        </td>
                                        <td>
                                            <input type="number" value="750" class="numericControl" id="nbkpPrice" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="nbkpTotalPrice" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>LBKP</td>
                                        <td>
                                            <input type="number" value="50" class="numericControl" id="lbkpBaseRatio" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="lbkpModelRatio" readonly="readonly" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="lbkpTons" readonly="readonly" />
                                        </td>
                                        <td>
                                            <input type="number" value="500" class="numericControl" id="lbkpPrice" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="lbkpTotalPrice" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Dry Broke</td>
                                        <td>
                                            <input type="number" value="30" class="numericControl" id="dBrokeBaseRatio" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="dBrokeModelRatio" readonly="readonly" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="dBrokeTons" readonly="readonly" />
                                        </td>
                                        <td>
                                            <input type="number" value="650" class="numericControl" id="dBrokePrice" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="dBrokeTotalPrice" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Wet Broke</td>
                                        <td>
                                            <input type="text" class="numericControl" id="wBrokeBaseRatio" readonly="readonly" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="wBrokeModelRatio" readonly="readonly" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="wBrokeTons" readonly="readonly" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="wBrokePrice" readonly="readonly" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="wBrokeTotalPrice" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">TOTAL</td>
                                        <td>
                                            <input type="text" class="numericControl" id="totalBlendPercent" readonly="readonly" />
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="totalBlendTons" readonly="readonly" />
                                        </td>
                                        <td></td>
                                        <td>
                                            <input type="text" class="numericControl" id="totalBlendPrice" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">Off Reel Accepts(Volume)</td>
                                        <td>
                                            <input type="text" class="numericControl" id="totalOffReelAccepts" readonly="readonly" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 printPageBreakBefore">
                    <div class="panel panel-success">
                        <div class="panel-heading">Settings</div>
                        <div class="panel-body">
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <td>Variable</td>
                                        <td>Units</td>
                                        <td>Value</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Total Wet Broke
                                        </td>
                                        <td>
                                            Tons/day
                                        </td>
                                        <td>
                                            <input type="number" class="numericControl" id="wetBrokeTons" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Dry Broke
                                        </td>
                                        <td>
                                            Tons/day
                                        </td>
                                        <td>
                                            <input type="number" value="0" class="numericControl" id="dryBrokeTons" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Initial Broke Bank
                                        </td>
                                        <td>
                                            Tons
                                        </td>
                                        <td>
                                            <input type="number" value="0" class="numericControl" id="initialBrokeBank" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Broke Bank
                                        </td>
                                        <td>
                                            Tons
                                        </td>
                                        <td>
                                            <input type="text" value="-1" class="numericControl" id="brokeBank" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Broke Balance
                                        </td>
                                        <td>
                                            $
                                        </td>
                                        <td>
                                            <input type="text" value="-1" class="numericControl" id="brokeBalance" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Fixed Cost
                                        </td>
                                        <td>
                                            $/day
                                        </td>
                                        <td>
                                            <input type="number" value="7000" class="numericControl" id="fixedCost" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Energy Cost
                                        </td>
                                        <td>
                                            $/Ton
                                        </td>
                                        <td>
                                            <input type="number" value="120" class="numericControl" id="energyCost" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Chemicals Cost
                                        </td>
                                        <td>
                                            $/Ton
                                        </td>
                                        <td>
                                            <input type="number" value="35" class="numericControl" id="chemicalsCost" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Semi-Durables Cost
                                        </td>
                                        <td>
                                            $/Ton
                                        </td>
                                        <td>
                                            <input type="number" value="10" class="numericControl" id="semiDurablesCost" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Fiber Cost
                                        </td>
                                        <td>
                                            $/Ton
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="fiberCost" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            JR Selling Price
                                        </td>
                                        <td>
                                            $/Ton
                                        </td>
                                        <td>
                                            <input type="number" value="1200" class="numericControl" id="jrSellingPrice" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pdfPageBreakBefore printPageBreakBefore">
                <div class="col-md-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">Expenditure, Profit and Loss</div>
                        <div class="panel-body">
                            <table class="table table-striped text-center">
                                <thead>
                                    <tr>
                                        <td>Variable</td>
                                        <td>Units</td>
                                        <td>Value</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Volume
                                        </td>
                                        <td>
                                            Tons/day
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="volume" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Fiber
                                        </td>
                                        <td>
                                            $/day
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="expFiber" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Chemical
                                        </td>
                                        <td>
                                            $/day
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="expChemical" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Energy
                                        </td>
                                        <td>
                                            $/day
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="expEnergy" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Semi-Durables
                                        </td>
                                        <td>
                                            $/day
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="expSemiDurables" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Total Variable Cost
                                        </td>
                                        <td>
                                            $/day
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="totalVarCost" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Revenue
                                        </td>
                                        <td>
                                            $/day
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="revenue" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Fixed Cost
                                        </td>
                                        <td>
                                            $/day
                                        </td>
                                        <td>
                                            <input type="text" class="numericControl" id="expFixedCost" readonly="readonly" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h1 id="profitLossText">[Profit/Loss]</h1>
                                        </td>
                                        <td>
                                            <h1>$/day</h1>
                                        </td>
                                        <td>
                                            <h1>
                                                <input type="text" class="numericControl profitLossClass" id="profitLoss" readonly="readonly" />
                                            </h1>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<div id="div-printed-doc">
    <form id="frm-printed-doc" method="post">
        <input type="hidden" id="sent-printed-doc" name="table_str"/>
        <div id="printed-doc"></div>
    </form>
</div>

<nav class="navbar navbar-fixed-bottom navbar-inverse center" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#timecontrol" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-inner" id="timecontrol">
            <ul class="nav navbar-nav" style="text-align:center">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-save"></span>
                        Save<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="javascript:void(0)" onclick="ExportToPDF()">
                                as PDF
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="ExportToWord()">
                                as MS Word Document
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="Print()">
                        <span class="glyphicon glyphicon-print"></span>
                        Print
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

