﻿@{
    ViewBag.Title = "Manage Downtime Tree";
}

<style>
    .downtime-tree li {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0 5px;
        position: relative;
    }

        .downtime-tree li::before, .downtime-tree li::after {
            content: '';
            left: -20px;
            position: absolute;
            right: auto;
        }

    .downtime-tree ul > li::before {
        border-left: 1px solid #999;
        bottom: 50px;
        height: 100%;
        top: 0;
        width: 1px;
    }

    .downtime-tree ul > li::after {
        border-top: 1px solid #999;
        height: 20px;
        top: 25px;
        width: 25px;
    }

    .downtime-tree li.parent_li > span {
        cursor: pointer;
    }

    .downtime-tree > ul > li::before, .downtime-tree > ul > li::after {
        border: 0;
    }

    .downtime-tree li:last-child::before {
        height: 30px;
    }

    .downtime-tree li.parent_li > span:hover, .downtime-tree li.parent_li > span:hover + ul li span {
        background: #eee;
        border: 1px solid #94a0b4;
        color: #000;
    }

    .navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
</style>

<script type="text/javascript">

    function GetDowntimeInfo(downtimeID) {
        if (downtimeID != "0x000")
            $("#clicked-id").val(downtimeID);
        else
            $("#clicked-id").val('');

        $.ajax
                (
                    {
                        type: "POST",
                        url: '@Url.Action("GetDowntimeInfoJSON")',
                        data: { companyID: $("#companyID").val(), downtimeID: downtimeID },
                        dataType: 'json',
                        async: true,
                        beforeSend: function (xhr) {
                            $("#downtime_id").text('');
                            $("#downtime_name").text('');
                            $("#desc").text('');
                        }
                    }
                ).done
                (
                    function (data) {
                        if (data != null) {
                            $("#downtime_id").text(data.downtime_id);
                            $("#downtime_name").text(data.downtime_name);
                            $("#desc").text(data.description == null ? '' : data.description);

                            if ($("#" + downtimeID).hasClass("hasChild")) {
                                if ($("#" + downtimeID).hasClass("collapsed")) {
                                    $("#btn-" + downtimeID + " .glyphicon").addClass("glyphicon-plus-sign")
                                                            .removeClass("glyphicon-minus-sign");
                                    $("#" + downtimeID).removeClass("collapsed").html("");
                                }
                                else {
                                    GetDowntime(downtimeID);
                                    $("#btn-" + downtimeID + " .glyphicon").removeClass("glyphicon-plus-sign")
                                        .addClass("glyphicon-minus-sign");
                                    $("#" + downtimeID).addClass("collapsed");
                                }
                            }


                            if (downtimeID != 'root-node') {
                                $(".AddChild").show().click
                                    (
                                        function () {
                                            AddDowntime(data.downtimeID);
                                        }
                                    );
                                $(".UpdateDowntime").show();
                                $(".DeleteDowntime").show();
                            }
                            else {
                                $(".AddChild").hide();
                                $(".UpdateDowntime").hide();
                                $(".DeleteDowntime").hide();
                            }
                        }
                    }
                );
    }

    function GetDowntime(downtimeID) {
        if (downtimeID != "0x000")
            $("#clicked-id").val(downtimeID);
        else
            $("#clicked-id").val('');

        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDowntimeJSON")',
                    data: { companyID: $("#companyID").val(), parentID: downtimeID },
                    dataType: 'json',
                    async: false
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var SignStr = "<span class='glyphicon glyphicon-certificate'></span> ";
                            if (data[i].count > 0)
                                SignStr = "<span class='glyphicon glyphicon-plus-sign'></span> ";

                            $("#" + downtimeID).append("<li><button id='btn-" + data[i].downtime.downtime_id +
                                "' class='btn btn-default " + (data[i].downtime.downtime_id != "root-node" ? "tree-node" : "") +
                                "' onclick=\"GetDowntimeInfo('" + data[i].downtime.downtime_id + "')\">" +
                                SignStr + data[i].downtime.downtime_name +
                                "</button><ul id='" + data[i].downtime.downtime_id + "' class='downtime-tree " +
                                (data[i].count > 0 ? "hasChild" : "") + "'></ul></li>");
                        }
                        $(".tree-node").contextmenu
                            (
                                {
                                    target: "#context-menu",
                                    before: function (e, element) {
                                        $("#clicked-id").val($(e.target).parent("li").find("ul").attr("id"));
                                        return true;
                                    }
                                }
                            );
                    }
                }
            );
    }

    function AddDowntime(downtimeID) {
        if (downtimeID == null || downtimeID.length <= 0)
            downtimeID = $("#clicked-id").val();

        location.href = '/DowntimeTree/Register?companyID=' + $("#companyID").val() + '&parentID=' + downtimeID;
    }

    function DeleteDowntime() {
        location.href = "/DowntimeTree/Delete?companyID=" + $("#companyID").val() + "&downtimeID=" + $("#clicked-id").val();
    }

    function UpdateDowntime() {
        location.href = "/DowntimeTree/Update?companyID=" + $("#companyID").val() + "&downtimeID=" + $("#clicked-id").val();
    }

    function GetBreadcrumbs() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetBreadCrumb")',
                    data: { companyID: $("#companyID").val() },
                    dataType: 'json',
                    async: false
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = data.length - 1; i >= 0; i--) {
                            $("#btn-" + data[i]).trigger("click");
                            $("#btn-" + data[i]).focus();
                        }
                    }
                }
            );
    }

    $
        (
            function () {
                $("#companyID").trigger("change");
                $("#photos").hide();
                $(".AddChild").hide();
                $(".UpdateDowntime").hide();
                $(".DeleteDowntime").hide();
                //GetBreadcrumbs();

                $("#context-menu > ul > li").css("cursor", "pointer");
            }
        );
</script>

<div id="context-menu">
    <ul class="dropdown-menu" role="menu">
        <li>
            <a tabindex="-1" class="ctx-add-child" onclick="AddDowntime(null)">
                <span class="glyphicon glyphicon-plus-sign"></span> Add Sub-downtime
            </a>
        </li>
        <li>
            <a tabindex="-1" class="ctx-update" onclick="UpdateDowntime()">
                <span class="glyphicon glyphicon-retweet"></span> Update
            </a>
        </li>
        <li>
            <a tabindex="-1" class="ctx-delete" onclick="DeleteDowntime()">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </a>
        </li>
    </ul>
</div>

<div class="container">
    <fieldset>
        <legend>Manage Downtime Tree</legend>
        <div style="margin-bottom:10px">
            @Html.Label("Company")

            <select class="selectpicker" id="companyID" name="company_id" onchange="GetDowntime('0x0000');">
                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                {
                    <option value="@c.company_id">@c.company_name</option>
                }
            </select>
        </div>

        <div>
            <nav class="navbar navbar-fixed-bottom navbar-inverse center" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed btn-info" data-toggle="collapse" data-target="#downtime-control" aria-expanded="false">
                            Downtime Menu
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-inner" id="downtime-control">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="javascript:void(0)" onclick="AddDowntime('0x0000')">
                                    <span class="glyphicon glyphicon-plus"></span> Add Downtime
                                </a>
                            </li>
                            <li class="AddChild">
                                <a href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-plus-sign"></span> Add Sub-downtime
                                </a>
                            </li>
                            <li class="UpdateDowntime">
                                <a href="javascript:void(0)" onclick="UpdateDowntime()">
                                    <span class="glyphicon glyphicon-retweet"></span> Update
                                </a>
                            </li>
                            <li class="DeleteDowntime">
                                <a href="javascript:void(0)" onclick="DeleteDowntime()">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div id="tree-table" class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Downtime Tree
                </div>
                <div class="panel-body" style="max-height:450px;overflow-y:auto">
                    <ul id="0x0000" class="downtime-tree"></ul>
                </div>
            </div>
        </div>

        <div id="node-info" class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Downtime Detail Information
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>Downtime ID</td>
                            <td>:</td>
                            <td id="downtime_id"></td>
                        </tr>
                        <tr>
                            <td>Downtime Name</td>
                            <td>:</td>
                            <td id="downtime_name"></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>:</td>
                            <td><pre id="desc"></pre></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
</div>