﻿@model DaVinxi.Models.MasterDowntime

@{
    ViewBag.Title = "Update Downtime " + Model.downtime_name;
}

<script type="text/javascript">
    $
    (
        function()
        {
            var SelectedParent = '@Model.parent_downtime_id';
            $("#parentID").val(SelectedParent);
            $("#parentID").selectpicker('refresh');
        }
    );
</script>

<<div class="container">

    @using (Html.BeginForm("Update", "DowntimeTree", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
                @Html.HiddenFor(m => m.company_id)
                @Html.HiddenFor(m => m.downtime_id)
                @Html.HiddenFor(m => m.created_date)
                @Html.HiddenFor(m => m.revised_date)
                @Html.HiddenFor(m => m.revised_by)
            </div>

            <div>
                @Html.LabelFor(m => m.parent_downtime_id)
                <select name="parent_downtime_id" class="selectpicker" id="parentID">
                    <option value="0x0000">Root</option>
                    @foreach (DaVinxi.Models.MasterDowntime d in ViewBag.ParentDowntime)
                    {
                        <option value="@d.downtime_id">
                            @d.downtime_name
                        </option>
                    }
                </select>
            </div>

            <div>
                @Html.LabelFor(m => m.downtime_name)
                @Html.TextBoxFor(m => m.downtime_name)
                @Html.ValidationMessageFor(m => m.downtime_name)
            </div>

            <div>
                @Html.LabelFor(m => m.description)
                @Html.TextAreaFor(m => m.description)
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Update</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

