﻿
@{
    ViewBag.Title = "Manage Product";
}

<script type="text/javascript">
    function GetCategories() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUCategoriesJSON","HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#categories").html('');
                        $("#subcategories").html('');
                        $("#skus").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#categories").append("<option value=''>All categories</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#categories").append("<option value='" + data[i].category_id + "'>[" + data[i].category_id + "] " +
                                data[i].category_name + "</option>")
                        }
                    }
                    $("#categories").selectpicker("refresh");
                    $("#categories").trigger("change");
                }
            );
    }

    function GetSubCategories() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUSubCategoriesJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), categoryID: $("#categories").val() },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#subcategories").html('');
                        $("#skus").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#subcategories").append("<option value=''>All subcategories</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#subcategories").append("<option value='" + data[i].subcategory_id + "'>[" + data[i].subcategory_id + "] " +
                                data[i].subcategory_name + "</option>")
                        }
                    }
                    $("#subcategories").selectpicker("refresh");
                    $("#subcategories").trigger("change");
                }
            );
    }

    function GetSegments() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUSegmentsJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#segments").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#segments").append("<option value=''>All segments</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#segments").append("<option value='" + data[i].segment_id + "'>[" + data[i].segment_id + "] " +
                                data[i].segment_name + "</option>")
                        }
                    }
                    $("#segments").selectpicker("refresh");
                }
            );
    }

    function GetBusinesses() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUBusinessJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#businesses").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#businesses").append("<option value=''>All businesses</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#businesses").append("<option value='" + data[i].business_id + "'>[" + data[i].business_id + "] " +
                                data[i].business_name + "</option>")
                        }
                    }
                    $("#businesses").selectpicker("refresh");
                }
            );
    }

    function GetSKU() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUJSON", "HelperClass")',
                    data: {
                        companyID: $("#companies").val(), categoryID: $("#categories").val(),
                        subcategoryID: $("#subcategories").val(), segmentID: $("#segments").val(),
                        businessID: $("#businesses").val()
                    },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#skus").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#skus").append("<option value=''>All SKUs</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#skus").append("<option value='" + data[i].sku_id + "'>[" + data[i].sku_id + "] " +
                                data[i].sku_name + "</option>");
                        }
                    }
                    $("#skus").selectpicker("refresh");
                    $("#skus").trigger("change");
                }
            );
    }

    function GetBatch()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("FindBatch", "HelperClass")',
                    data: $("#frm-Product").serialize(),
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#batches").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#batches").append("<option value=''>All Batches</option>");
                        var PrevSKUID = "", Line = "";
                        for (var i = 0; i < data.length; i++) {
                            if (PrevSKUID != data[i].sku_id)
                            {
                                if (i > 0)
                                    Line += "</optgroup>";
                                PrevSKUID = data[i].sku_id;
                                Line += "<optgroup label=\"SKU : [" + PrevSKUID + "] " + data[i].sku_name + "\">";
                            }
                            Line += "<option value='" + data[i].batch_id
                                + "' data-subtext=\"From " + data[i].start_date + " until " + data[i].finish_date + "\">" +
                                data[i].batch_id + "</option>";
                        }
                        Line += "</optgroup>";
                        $("#batches").append(Line);
                    }
                    $("#batches").selectpicker("refresh");
                }
            );
    }

    function GetDivision()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDivisionsJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#divisions").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#divisions").append("<option value=''>All divisions</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#divisions").append("<option value='" + data[i].division_id + "'>"
                                + data[i].division_name + "</option>")
                        }
                    }
                    $("#divisions").selectpicker("refresh");
                    $("#divisions").trigger("change");
                }
            );
    }

    function GetBlock()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetBlocksJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val() },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#blocks").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#blocks").append("<option value=''>All blocks</option>");

                        var PrevDivision = "", Line = "";
                        for (var i = 0; i < data.length; i++) {
                            if (PrevDivision != data[i].division_id)
                            {
                                PrevDivision = data[i].division_id;
                                if (i > 0)
                                    Line += "</optgroup>";
                                Line += "<optgroup label=\"Division : " + data[i].division_name + "\">";
                            }
                            Line += "<option value='" + data[i].block_id + "'>"
                                + data[i].block_name + "</option>";
                        }

                        Line += "</optgroup>";
                        $("#blocks").append(Line);
                    }
                    $("#blocks").selectpicker("refresh");
                    $("#blocks").trigger("change");
                }
            );
    }

    function GetMachine()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val(), blockID: $("#blocks").val() },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#machines").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#machines").append("<option value=''>All machines</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#machines").append("<option value='" + data[i].machine.machine_id + "'>"
                                + data[i].machine.machine_name + "</option>");
                        }
                    }
                    $("#machines").selectpicker("refresh");
                }
            );
    }

    function FindProduct()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("FindProduct","HelperClass")',
                    data: $("#frm-Product").serialize(),
                    async: true,
                    beforeSend:function(xhr)
                    {
                        $("#modal-progress").modal('show');
                        $("#fieldset-Product > table > tbody").html('');
                    }
                }
            ).done
            (
                function(data)
                {
                    $("#modal-progress").modal('hide');
                    $("#fieldset-Product > legend").text("Found " + data.length + " Product(s)");
                    if(data!=null && data.length>0)
                    {
                        var Line = "";
                        for(var i=0;i<data.length;i++)
                        {
                            var Line = "";
                            Line += "<tr>";
                            Line += "<td>" + data[i].product_id + "</td>";
                            Line += "<td>" + data[i].machine_name + "</td>";
                            Line += "<td>" + data[i].batch_id + "</td>";
                            Line += "<td>" + data[i].sku_name + "</td>";
                            Line += "<td style='text-align:center'>" + data[i].start_date + "</td>";
                            Line += "<td style='text-align:center'>" + data[i].finish_date + "</td>";
                            Line += "<td style='text-align:center'>" + data[i].qi + "</td>";
                            Line += "<td style='text-align:center'>" +
                                        "<a href='javascript:void(0)' onclick=\"ShowQuality("
                                        + data[i].company_id + ",'"
                                        + data[i].product_id + "',$(this))\">Show " +
                                        "<span class=\"glyphicon glyphicon-chevron-down\"></span></a></td>";
                            Line += "<td style='text-align:center'><a href='javascript:void(0)' onclick=\"ShowDeleteDialog(" +
                                data[i].company_id + ",'" + data[i].product_id + "')\">" +
                                "<span class=\"glyphicon glyphicon-trash\"></span></a></td>";
                            Line += "</tr>";
                            Line += "<tr class=\"detail_row\" id=\"row_quality_" + data[i].product_id
                                    + "\"><td id=\"qrcode_" + data[i].product_id
                                    + "\"></td><td colspan='6' id=\"detail_quality_" + data[i].product_id + "\"></td></tr>";
                            Line += "<tr class=\"detail_row\" id=\"row_defect_" + data[i].product_id
                                    + "\"><td></td><td colspan='6' id=\"detail_defect_" + data[i].product_id + "\"></td></tr>";
                            $("#fieldset-Product > table > tbody").append(Line);
                        }

                        $("#fieldset-Product .detail_row").hide();
                    }
                    ShowHideFilter();
                }
            );
    }

    function GenerateQRCode(companyID, productID) {
        $("#qrcode_" + productID).html('');
        var qr = new QRCode("qrcode_" + productID);
        qr.clear();
        qr.makeCode(JSON.stringify({
            company_id: companyID,
            product_id: productID
        }));
    }

    function ShowQuality(companyID, productID,dom)
    {
        if (!dom.hasClass('collapsed')) {
            $("#modal-progress").modal('show');
            GenerateQRCode(companyID, productID);
            GetQualityData(companyID, productID);
            GetDefectData(companyID, productID);
            dom.html("Hide <span class=\"glyphicon glyphicon-chevron-up\"></span>");
            dom.addClass('collapsed');
            $("#modal-progress").modal('hide');
        }
        else {
            dom.html("Show <span class=\"glyphicon glyphicon-chevron-down\"></span>");
            $("#row_quality_" + productID).hide();
            $("#row_defect_" + productID).hide();
            dom.removeClass('collapsed');
        }
    }

    function GetQualityData(companyID, productID) {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetQualityData", "HelperClass")',
                    data: {
                        company_id: companyID,
                        product_id: productID
                    },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#detail_quality_" + productID).html("<img src='/Content/loading.gif'/>");
                        $("#row_quality_" + productID).show();
                    }
                }
            ).done
            (
                function (data) {
                    $("#detail_quality_" + productID).html("");
                    if (data != null && data.length > 0) {
                        var Line = "<fieldset><legend>Quality</legend><table class=\"table table-stripped\">";
                        Line += "<thead style='text-align:center'>"
                                + "<tr>"
                                + "<td rowspan='2'>Property</td>"
                                + "<td rowspan='2'>Value</td>"
                                + "<td rowspan='2'>UoM</td>"
                                + "<td colspan='3'>Reject Limit</td>"
                                + "<td colspan='2'>Control Limit</td>"
                                + "<td>QI</td>"
                                + "</tr>"
                                + "<tr>"
                                + "<td>Lower</td>"
                                + "<td>Upper</td>"
                                + "<td>Target</td>"
                                + "<td>Lower</td>"
                                + "<td>Upper</td>"
                                + "</tr>"
                                + "</thead><tbody>";
                        for (var i = 0; i < data.length; i++) {
                            Line += "<tr>";
                            Line += "<td>" + data[i].property_name + "</td>";
                            Line += "<td style='text-align:right'>" + data[i].quality_value + "</td>";
                            Line += "<td>" + data[i].unit_name + "</td>";
                            Line += "<td style='text-align:right'>" + data[i].lrl + "</td>";
                            Line += "<td style='text-align:right'>" + data[i].url + "</td>";
                            Line += "<td style='text-align:right'>" + data[i].target + "</td>";
                            Line += "<td style='text-align:right'>" + data[i].lcl + "</td>";
                            Line += "<td style='text-align:right'>" + data[i].ucl + "</td>";
                            Line += "<td style='text-align:right'>" + data[i].qi + "</td>";
                            Line += "</tr>";
                        }

                        Line += "</tbody></table></fieldset>";
                        $("#detail_quality_" + productID).html(Line);
                    }
                    else
                        $("#row_quality_" + productID).hide();
                }
            );
    }

    function GetDefectData(companyID, productID) {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetProductDefect", "HelperClass")',
                    data: {
                        company_id: companyID,
                        product_id: productID
                    },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#detail_defect_" + productID).html("<img src='/Content/loading.gif'/>");
                        $("#row_defect_" + productID).show();
                    }
                }
            ).done
            (
                function (data) {
                    $("#detail_defect_" + productID).html("");
                    if (data != null && data.length > 0) {
                        var Line = "<fieldset><legend>Defect</legend><table class=\"table table-stripped\">";
                        Line += "<thead style='text-align:center'>"
                                + "<tr>"
                                + "<td>Defect Name</td>"
                                + "<td>Weight (Kg)</td>"
                                + "<td>Severity</td>"
                                + "</tr>"
                                + "</thead><tbody>";
                        for (var i = 0; i < data.length; i++) {
                            Line += "<tr>";
                            Line += "<td>" + data[i].defect_name + "</td>";
                            Line += "<td style='text-align:center'>" + data[i].weight + "</td>";
                            Line += "<td style='text-align:center'>";

                            if (data[i].severity == 0)
                                Line += "<span class=\"glyphicon glyphicon-check\"></span> No defect";
                            else if (data[i].severity == 1)
                                Line += "<span class=\"glyphicon glyphicon-ok-circle\"></span> Just noticeable";
                            else if (data[i].severity == 2)
                                Line += "<span class=\"glyphicon glyphicon-warning-sign\"></span> Warning";
                            else if (data[i].severity == 3)
                                Line += "<span class=\"glyphicon glyphicon-circle-arrow-down\"></span> Downgrade";
                            else if (data[i].severity == 4)
                                Line += "<span class=\"glyphicon glyphicon-remove-sign\"></span> Reject";

                            Line += "</td>";
                            Line += "</tr>";
                        }

                        Line += "</tbody></table></fieldset>";
                        $("#detail_defect_" + productID).html(Line);
                    }
                    else
                        $("#row_defect_" + productID).hide();
                }
            );
    }

    function ShowDeleteDialog(companyID, productID) {
        $("#delete-message").html
            (
                "Are you sure want to delete product " + productID + "?"
            );

        $("#deleted-company-id").val(companyID);
        $("#deleted-id").val(productID);

        $("#myModal").modal("show");
    }

    var ShowFilter = true;
    function ShowHideFilter()
    {
        ShowFilter = !ShowFilter;
        
        if(ShowFilter)
        {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else
        {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    $
        (
            function()
            {
                $("#companies").trigger("change");
                $("#myModal .deleteConfirmed").click
                (
                    function () {
                        $("#frmDelete").submit();
                    }
                );
            }
        );
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Product", FormMethod.Post, new { id = "frmDelete" }))
                {
                    <input type="hidden" id="deleted-company-id" name="companyID" />
                    <input type="hidden" id="deleted-id" name="productID" />
                    <div id="delete-message"></div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning deleteConfirmed">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <button class="btn btn-lg btn-default" onclick="location.href='@Url.Action("Register")'">
        Create New Unit
    </button>

    <fieldset style="margin-top:10px">
        <legend>
            Product Filter 
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frm-Product">
                <table class="table table-striped">
                    <tr>
                        <td>
                            Company
                        </td>
                        <td></td>
                        <td style="width:100%">
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetDivision();GetSegments();GetBusinesses();GetCategories()">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Division
                        </td>
                        <td></td>
                        <td>
                            <select id="divisions" name="division_id" class="selectpicker" onchange="GetBlock()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Block
                        </td>
                        <td></td>
                        <td>
                            <select id="blocks" name="block_id" class="selectpicker" onchange="GetMachine()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Machine
                        </td>
                        <td></td>
                        <td>
                            <select id="machines" name="machine_id" class="selectpicker" onchange="GetBatch()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Categories
                        </td>
                        <td></td>
                        <td>
                            <select id="categories" name="category_id" class="selectpicker" onchange="GetSubCategories()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Business
                        </td>
                        <td></td>
                        <td>
                            <select id="businesses" name="business_id" class="selectpicker" onchange="GetSKU()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Subcategories
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <select id="subcategories" name="subcategory_id" class="selectpicker" onchange="GetSKU()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Segment
                        </td>
                        <td></td>
                        <td>
                            <select id="segments" name="segment_id" class="selectpicker" onchange="GetSKU()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SKU
                        </td>
                        <td></td>
                        <td>
                            <select id="skus" name="sku_id" class="selectpicker" onchange="GetBatch()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Batch
                        </td>
                        <td></td>
                        <td>
                            <select id="batches" name="batch_id" class="selectpicker"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Product ID
                        </td>
                        <td></td>
                        <td>
                            <input type="text" name="product_id" />
                        </td>
                    </tr>
                </table>
            </form>
            <div style="margin-top:10px">
                <button class="btn btn-info" onclick="FindProduct()" type="button">
                    <span class="glyphicon glyphicon-search"></span> Find Product(s)
                </button>
            </div>
        </div>
    </fieldset>

    <fieldset id="fieldset-Product" style="margin-top:10px">
        <legend></legend>
        <table class="table table-striped">
            <thead style="text-align:center">
                <tr>
                    <td>
                        Product ID
                    </td>
                    <td>
                        Machine
                    </td>
                    <td>
                        Batch
                    </td>
                    <td>
                        SKU
                    </td>
                    <td>
                        Start Date
                    </td>
                    <td>
                        Finish Date
                    </td>
                    <td>
                        QI
                    </td>
                    <td>
                        Quality Data
                    </td>
                    <td>
                        Delete
                    </td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </fieldset>
</div>

