﻿@model DaVinxi.Models.MasterProduct

@{
    ViewBag.Title = "Create New Unit";
}

<script type="text/javascript">
    function SetDate() {
        var JSONString = JSON.parse($("#batches option:selected").text()),
            MinDate = JSONString.start_date,
            MaxDate = JSONString.finish_date;
        $("#finishDate").data("DateTimePicker").minDate(new Date(MinDate));
        $("#finishDate").data("DateTimePicker").maxDate(new Date(MaxDate));
        $("#finishDate").data("DateTimePicker").date(new Date(MaxDate));
        $("#finishDate").data("DateTimePicker").enable();

        $("#startDate").data("DateTimePicker").minDate(new Date(MinDate));
        $("#startDate").data("DateTimePicker").maxDate(new Date(MaxDate));
        $("#startDate").data("DateTimePicker").date(new Date(MinDate));
        $("#startDate").data("DateTimePicker").enable();
    }

    $
        (
            function () {
                $(".datepicker").datetimepicker({
                    format: 'MMM DD YYYY HH:mm'
                });
                
                $("#batches").ajaxSelectPicker({
                    ajax: {
                        type: 'POST',
                        url: '@Url.Action("FindBatch", "HelperClass")',
                        dataType: 'json',
                        data: {
                            company_id: $("#companies").val(),
                            batch_id: '{{{q}}}'
                        }
                    },
                    preprocessData: function (data) {
                        var Batches = [];
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                Batches.push
                                    (
                                        {
                                            value: data[i].batch_id,
                                            text: JSON.stringify(data[i]),
                                            data: {
                                                subtext: data[i].sku_name + " from "
                                                    + data[i].start_date + " until "
                                                    + data[i].finish_date + " on " + data[i].machine_name,
                                                content: "<div>" + data[i].batch_id + " <small class='text-muted'>"
                                                    + data[i].sku_name + " from "
                                                    + data[i].start_date + " until "
                                                    + data[i].finish_date + " on " + data[i].machine_name
                                                    + "</small></div>"
                                            },
                                            disable: false
                                        }
                                    );
                            }
                        }
                        return Batches;
                    },
                    placeHolderOption: 'Click and start typing'
                });
            }
        );
</script>

<div class="container">

    @using (Html.BeginForm("Register", "Product", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin", enctype = "multipart/form-data" }))
    {

        <fieldset>
            <legend>@ViewBag.Title</legend>
            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.ValidationSummary(false)
                @Html.HiddenFor(m => m.qi)
                @Html.HiddenFor(m => m.created_date)
                @Html.HiddenFor(m => m.revised_date)
                @Html.HiddenFor(m => m.revised_by)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.company_id)
                <select id="companies" name="company_id" class="selectpicker">
                    @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                    {
                        <option value="@c.company_id">@c.company_name</option>
                    }
                </select>
            </div>

            <div style="margin-top:10px">
                <label>Batch</label>
                <select id="batches" name="batch_id" class="selectpicker" onchange="SetDate()"></select>
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.product_id)
                @Html.TextBoxFor(m => m.product_id)
                @Html.ValidationMessageFor(m => m.product_id)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.start_date)
                <div class="input-group date datepicker" id="startDate">
                    @Html.TextBoxFor(m => m.start_date)
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.start_date)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.finish_date)
                <div class="input-group date datepicker" id="finishDate">
                    @Html.TextBoxFor(m => m.finish_date)
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.finish_date)
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Create</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

