﻿
@{
    ViewBag.Title = "State Machine";
}

<style>
    tr.active {
        background-color:#ccc;
    }
</style>

<script type="text/javascript">
    function GetStateMachines() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetStateMachines")',
            data: { company_id: $("#companies").val() },
            beforeSend: function (xhr) {
                $("#state_machines").html("");
                $("#modal-progress").modal('show');
            }
        }).done(function (data) {
            if (data != null && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    var Line = "<tr class='" + data[i].state_machine_id + "'>";
                    Line += "<td onclick=\"GetDetail('" + data[i].state_machine_id
                        + "')\"><input type='hidden' name='initial_state' value='"
                        + data[i].initial_state + "'/>" + data[i].state_machine_name + "</td>";
                    Line += '<td><a href="javascript:void(0)" onclick=\'UpdateStateMachine('
                        + data[i].company_id + ',"' + data[i].state_machine_id + '")\'><span class="glyphicon glyphicon-pencil"></span></a></td>';
                    Line += '<td><a href="javascript:void(0)" onclick=\'ShowDeleteDialog("'
                            + data[i].state_machine_id + '","' + data[i].state_machine_name
                            + '")\'><span class="glyphicon glyphicon-trash"></span></a></td>';
                    Line += "</tr>";
                    $("#state_machines").append(Line);
                }
            }
            $("#modal-progress").modal('hide');
        });
    }

    function GetDetail(stateMachineID) {
        $("#state_machines tr").each(function () { $(this).removeClass("active") });
        GetStates(stateMachineID);
        GetVariables(stateMachineID);
        GetTransitions(stateMachineID);
        $("#state_machines ." + stateMachineID).addClass("active");
    }

    function GetStates(stateMachineID) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetStates")',
            data: { company_id: $("#companies").val(), state_machine_id: stateMachineID },
            beforeSend: function (xhr) {
                $("#states").html("");
                $("#modal-progress").modal('show');
            }
        }).done(function (data) {
            if (data != null && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    var Line = "<tr>";
                    Line += "<td>" + data[i].state_id + "</td>";
                    Line += "<td>" + data[i].state_name + "</td>";
                    Line += "<td>" + (data[i].state_id==$("#state_machines ." + stateMachineID).find("input[name='initial_state']").val() ? "<span class='glyphicon glyphicon-ok'></span>" : "") + "</td>";
                    Line += "</tr>";
                    $("#states").append(Line);
                }
            }
            $("#modal-progress").modal('hide');
        });
    }

    function GetVariables(stateMachineID) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetVariables")',
            data: { company_id: $("#companies").val(), state_machine_id: stateMachineID },
            beforeSend: function (xhr) {
                $("#variables").html("");
                $("#modal-progress").modal('show');
            }
        }).done(function (data) {
            if (data != null && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    var Line = "<tr>";
                    Line += "<td>" + data[i].variable_id + "</td>";
                    Line += "<td>" + data[i].variable_name + "</td>";
                    Line += "<td>" + data[i].priority + "</td>";
                    Line += "<td>" + (Number(data[i].data_type) == 0 ? "Number" : "String") + "</td>";
                    Line += "<td>" + (Number(data[i].data_source) == 0 ? "Historian or manual input" : "Calculated value") + "</td>";
                    Line += "</tr>";
                    $("#variables").append(Line);
                }
            }
            $("#modal-progress").modal('hide');
        });
    }

    function GetTransitions(stateMachineID) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTransitions")',
            data: { company_id: $("#companies").val(), state_machine_id: stateMachineID },
            beforeSend: function (xhr) {
                $("#transitions").html("");
                $("#modal-progress").modal('show');
            }
        }).done(function (data) {
            if (data != null && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    var Line = "<tr>";
                    Line += "<td>" + data[i].source_master.state_machine_name + "</td>";
                    Line += "<td>" + (data[i].source_state==null ? 'Any states' : data[i].source_state.state_name) + "</td>";
                    Line += "<td>" + data[i].target_master.state_machine_name + "</td>";
                    Line += "<td>" + data[i].target_state.state_name + "</td>";
                    Line += "<td>" + data[i].Trans.condition + "</td>";
                    Line += "</tr>";
                    $("#transitions").append(Line);
                }
            }
            $("#modal-progress").modal('hide');
        });
    }

    function UpdateStateMachine(companyID, stateMachineID)
    {
        location.href = '@Url.Action("Register")/?company_id=' + companyID + "&state_machine_id=" + stateMachineID;
    }

    function Register()
    {
        location.href = '@Url.Action("Register")?company_id=' + $("#companies").val() + "&state_machine_id=";
    }

    function ShowDeleteDialog(stateMachineID,stateMachineName)
    {
        $("#modal_delete .modal-body").text("Are you sure want to delete " + stateMachineName + "?");
        $("#deleted_id").val(stateMachineID);
        $("#modal_delete").modal('show');
    }

    function Delete()
    {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Delete")',
            data: { company_id: $("#companies").val(), state_machine_id: $("#deleted_id").val() },
            dataType: 'json',
            beforeSend: function (xhr) {
                $("#modal_delete").modal('hide');
                $("#modal-progress").modal('show');
            }
        }).done(function (data) {
            if (Number(data.status) == -1)
                alert(data.message);
            else if (Number(data.status) == 1) {
                $("#state_machines ." + $("#deleted_id").val()).remove();
                $("#states").html('');
                $("#variables").html('');
                $("#transitions").html('');
            }
            $("#modal-progress").modal('hide')
        });
    }

    $(function () {
        $("#companies").trigger("change");
    });
</script>

<div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete State Machine</h4>
            </div>
            <div class="modal-body">
            </div>
            <input type="hidden" id="deleted_id" />
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="Delete()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <button class="btn btn-lg btn-default" onclick="Register()">
        Create New State Machine
    </button>

    <fieldset style="margin-top:10px">
        <legend>
            Filter
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frm-filter">
                <table class="table table-striped">
                    <tr>
                        <td>
                            Company
                        </td>
                        <td></td>
                        <td style="width:100%">
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetStateMachines()">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </fieldset>

    <fieldset style="margin-top:10px">
        <legend></legend>
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">State Machine(s)</div>
                    <div class="panel-body">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <td>State Machine</td>
                                    <td>Edit</td>
                                    <td>Delete</td>
                                </tr>
                            </thead>
                            <tbody id="state_machines" style="cursor:pointer"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">State(s)</div>
                    <div class="panel-body">
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <td>State ID</td>
                                    <td>State Name</td>
                                    <td>Is Initial State</td>
                                </tr>
                            </thead>
                            <tbody id="states"></tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">Variable(s)</div>
                    <div class="panel-body">
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <td>Variable ID</td>
                                    <td>Variable Name</td>
                                    <td>Priority<br/>(Higher number has higher priority)</td>
                                    <td>Data Type</td>
                                    <td>Data Source</td>
                                </tr>
                            </thead>
                            <tbody id="variables"></tbody>
                        </table>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">Transition(s)</div>
                    <div class="panel-body">
                        <table class="table table-striped text-center">
                            <thead>
                                <tr>
                                    <td colspan="2">From</td>
                                    <td colspan="2">To</td>
                                    <td>Condition</td>
                                </tr>
                                <tr>
                                    <td>State Machine</td>
                                    <td>State</td>
                                    <td>State Machine</td>
                                    <td>State</td>
                                </tr>
                            </thead>
                            <tbody id="transitions"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

