﻿@model DaVinxi.Models.MasterStateMachine
@{
    if (Model.state_machine_id != null && Model.state_machine_id.Length > 0)
    {
        ViewBag.Title = "Edit " + Model.state_machine_name;
    }
    else
    { 
        ViewBag.Title = "Create State Machine";
    }
}

<style>
    .error {
        border-color:red;
    }

     .navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}
</style>

<script type="text/javascript">
    function ShowStateModal()
    {
        $("#state_id").prop("readonly", false);
        $("#modal_state .validate").val('');
        $("#modal_state").modal('show');
    }

    function ShowUpdateStateModal(ID)
    {
        $("#state_id").val($("input[name='states[" + ID + "].state_id']").val());
        $("#state_id").prop("readonly", true);
        $("#state_name").val($("input[name='states[" + ID + "].state_name']").val());
        $("#modal_state").modal('show');
    }

    function ValidateState()
    {
        var IsValidated = true;
        $("#modal_state .validate").each(function () {
            $(this).removeClass("error");
            if ($(this).val() == null || $(this).val().trim().length <= 0) {
                $(this).addClass("error");
                IsValidated = false;
            }
        });

        if (!$("#state_id").prop('readonly') && $("#states").find("." + $("#state_id").val().toLowerCase()).length > 0)
        {
            $("#states").addClass("error");
            IsValidated = false;
            alert("State ID already exist");
        }

        return IsValidated;
    }

    function AddState()
    {
        if (ValidateState())
        {
            var ID = $("#state_id").val().toLowerCase();
            if (!$("#state_id").prop('readonly')) {
                
                var Line = "<tr class='" + ID + "'>";
                Line += "<td><input type='hidden' name='states.index' value='" + ID + "'/>"
                        + "<input type='hidden' name='states[" + ID + "].state_id' value='" + ID + "'/>"
                        + ID + "</td>";
                Line += "<td><input type='hidden' name='states[" + ID + "].state_name' value='"
                        + $("#state_name").val() + "'/><p class='state_name_text'>" + $("#state_name").val() + "</p></td>";
                Line += "<td><input type='radio' name='initial_state' value='" + ID + "'/></td>";
                Line += '<td><a href="javascript:void(0)" onclick="ShowUpdateStateModal(\'' + ID
                        + '\')"><span class="glyphicon glyphicon-pencil"></span></a></td>';
                Line += '<td><a href="javascript:void(0)" onclick="DeleteState(\'' + ID + '\')"><span class="glyphicon glyphicon-trash"></span></a></td>';
                Line += "</tr>";
                $("#states").append(Line);
                if ($("#states tr").length == 1)
                    $("input[name='initial_state']").prop("checked", true);
            }
            else {
                $("#states ." + ID + " .state_name_text").text($("#state_name").val());
                $("input[name='states[" + ID + "].state_name']").val($("#state_name").val());
            }
            $("#modal_state").modal('hide');
        }
    }

    function DeleteState(ID)
    {
        $("#states ." + ID).remove();
    }

    function ShowVariableModal()
    {
        $("#variable_id").prop("readonly", false);
        $("#modal_variable .validate").val('');
        $("#modal_variable").modal('show');
    }

    function ShowUpdateVariableModal(ID) {
        $("#variable_id").val($("input[name='variables[" + ID + "].variable_id']").val());
        $("#variable_id").prop("readonly", true);
        $("#variable_name").val($("input[name='variables[" + ID + "].variable_name']").val());
        $("#variable_priority").val($("input[name='variables[" + ID + "].priority']").val());
        $("#data_type").val($("input[name='variables[" + ID + "].data_type']").val());
        $("#data_source").val($("input[name='variables[" + ID + "].data_source']").val());

        $("#modal_variable .selectpicker").selectpicker('refresh');

        $("#modal_variable").modal('show');
    }

    function ValidateVariable()
    {
        var IsValidated = true;
        $("#modal_variable .validate").each(function () {
            $(this).removeClass("error");
            if ($(this).val() == null || $(this).val().trim().length <= 0) {
                $(this).addClass("error");
                IsValidated = false;
            }
        });

        if (!$("#variable_id").prop('readonly') && $("#variables").find("." + $("#variable_id").val().toLowerCase()).length > 0) {
            $("#variable").addClass("error");
            IsValidated = false;
            alert("Variable ID already exist");
        }

        return IsValidated;
    }

    function AddVariable() {
        if (ValidateVariable()) {
            var ID = $("#variable_id").val().toLowerCase();
            if (!$("#variable_id").prop('readonly')) {
                var Line = "<tr class='" + ID + "'>";
                Line += "<td><input type='hidden' name='variables.index' value='" + ID + "'/>"
                        + "<input type='hidden' name='variables[" + ID + "].variable_id' value='" + ID + "'/>"
                        + ID + "</td>";
                Line += "<td><input type='hidden' name='variables[" + ID + "].variable_name' value='"
                        + $("#variable_name").val() + "'/><p class='variable_name_text'>" + $("#variable_name").val() + "</p></td>";
                Line += "<td><input type='hidden' name='variables[" + ID + "].priority' value='"
                        + $("#variable_priority").val() + "'/><p class='priority_text'>" + $("#variable_priority").val() + "</p></td>";
                Line += "<td><input type='hidden' name='variables[" + ID + "].data_type' value='"
                        + $("#data_type").val() + "'/><p class='data_type_text'>"
                        + $("#data_type option:selected").text() + "</p></td>";
                Line += "<td><input type='hidden' name='variables[" + ID + "].data_source' value='"
                        + $("#data_source").val() + "'/><p class='data_source_text'>"
                        + $("#data_source option:selected").text() + "</p></td>";
                Line += '<td><a href="javascript:void(0)" onclick="ShowUpdateVariableModal(\'' + ID
                        + '\')"><span class="glyphicon glyphicon-pencil"></span></a></td>';
                Line += '<td><a href="javascript:void(0)" onclick="DeleteVariable(\'' + ID + '\')"><span class="glyphicon glyphicon-trash"></span></a></td>';
                Line += "</tr>";
                $("#variables").append(Line);
            }
            else {
                $("#variables ." + ID + " .variable_name_text").text($("#variable_name").val());
                $("input[name='variables[" + ID + "].variable_name']").val($("#variable_name").val());

                $("#variables ." + ID + " .data_type_text").text($("#data_type option:selected").text());
                $("input[name='variables[" + ID + "].data_type']").val($("#data_type").val());

                $("#variables ." + ID + " .data_source_text").text($("#data_source option:selected").text());
                $("input[name='variables[" + ID + "].data_source']").val($("#data_source").val());

                $("#variables ." + ID + " .priority_text").text($("#variable_priority").val());
                $("input[name='variables[" + ID + "].priority']").val($("#variable_priority").val());
            }
            $("#modal_variable").modal('hide');
        }
    }

    function DeleteVariable(ID) {
        $("#variables ." + ID).remove();
    }

    function GetStateMachines(masterDom)
    {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetStateMachines")',
            data: { company_id: $("#companies").val() },
            beforeSend: function (xhr) {
                masterDom.html("<option value=''>Current</option>");
            },
            async:false
        }).done(function (data) {
            if (data != null && data.length > 0) {
                for (var i = 0; i < data.length; i++){
                    masterDom.append("<option value='" + data[i].state_machine_id + "'>" +
                        data[i].state_machine_name + "</option>");
                }
            }
            masterDom.selectpicker('refresh');
            masterDom.trigger("change");
        });
    }

    function GetStates(masterDom,stateDom)
    {
        stateDom.html('');
        if (masterDom.val() != '') {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStates")',
                data: { company_id: $("#companies").val(), state_machine_id: masterDom.val() },
                async: false
            }).done(function (data) {
                if (data != null && data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        stateDom.append("<option value='" + data[i].state_id + "'>" +
                            data[i].state_name + "</option>");
                    }
                }
            });
        }
        else {
            if (stateDom.hasClass('allowEmpty'))
                stateDom.html("<option value=''>Any states</option>");
            $("#states").find("tr").each(function () {
                var ID = $(this).find("input[name='states.index']").val(),
                    Text = $(this).find("input[name='states[" + ID + "].state_name']").val();
                stateDom.append("<option value='" + ID + "'>" + Text + "</option>")
            });
        }
        stateDom.selectpicker('refresh');
    }

    function ShowTransitionModal() {
        $("#modal_transition .clearValue").val('');
        $("#transition_id").val(-1);
        GetStateMachines($("#source_master"));
        GetStateMachines($("#target_master"));
        $("#modal_transition").modal('show');
    }

    function ShowUpdateTransitionModal(transitionID)
    {
        $("#transition_id").val(transitionID);
        GetStateMachines($("#source_master"));
        GetStateMachines($("#target_master"));
        $("#source_master").val($("input[name='transitions[" + transitionID + "].source_state_machine_id']").val());
        $("#source_master").selectpicker("refresh");
        $("#source_state").val($("input[name='transitions[" + transitionID + "].source_state_id']").val());
        $("#source_state").selectpicker("refresh");
        $("#target_master").val($("input[name='transitions[" + transitionID + "].target_state_machine_id']").val());
        $("#target_master").selectpicker("refresh");
        $("#target_state").val($("input[name='transitions[" + transitionID + "].target_state_id']").val());
        $("#target_state").selectpicker("refresh");
        $("#condition").val($("input[name='transitions[" + transitionID + "].condition']").val());
        $("#modal_transition").modal('show');
    }

    var TransitionCount = 0;
    function AddTransition()
    {
        var TransitionID = Number($("#transition_id").val()) >= 0 ? Number($("#transition_id").val()) : TransitionCount;
        var Line = "<tr class='transition_" + TransitionID + "'>";
        Line += "<td><input type='hidden' name='transitions.index' value='" + TransitionID + "'/>"
            + "<input type='hidden' name='transitions[" + TransitionID + "].source_state_machine_id' value='"
            + $("#source_master").val() + "'/>"
            + $("#source_master option:selected").text() + "</td>";
        Line += "<td><input type='hidden' name='transitions["
            + TransitionID + "].source_state_id' value='" + $("#source_state").val() + "' />"
            + $("#source_state option:selected").text() + "</td>";
        Line += "<td><input type='hidden' name='transitions[" + TransitionID + "].target_state_machine_id' value='"
            + $("#target_master").val() + "'/>"
            + $("#target_master option:selected").text() + "</td>";
        Line += "<td><input type='hidden' name='transitions["
            + TransitionID + "].target_state_id' value='" + $("#target_state").val() + "' />"
            + $("#target_state option:selected").text() + "</td>";
        Line += "<td><input type='hidden' name='transitions["
            + TransitionID + "].condition' value='" + $("#condition").val() + "' />"
            + $("#condition").val() + "</td>";
        Line += '<td><a href="javascript:void(0)" onclick="ShowUpdateTransitionModal(' + TransitionID + ')">'
            + '<span class="glyphicon glyphicon-pencil"></span></a></td>';
        Line += '<td><a href="javascript:void(0)" onclick="DeleteTransition(' + TransitionID + ')"><span class="glyphicon glyphicon-trash"></span></a></td>';
        Line += "</tr>";

        if (Number($("#transition_id").val()) < 0) {
            TransitionCount++;
            $("#transitions").append(Line);
        }
        else {
            var Index = DeleteTransition(TransitionID);
            if ($("#transitions > tr").length <= 0)
                $("#transitions").append(Line);
            else if (Index == 0)
                $("#transitions").prepend(Line);
            else
                $("#transitions > tr").eq(Index - 1).after(Line);
        }

        $("#modal_transition").modal('hide');
    }

    function DeleteTransition(transitionID)
    {
        var Index = $("#transitions .transition_" + transitionID).index();
        $("#transitions .transition_" + transitionID).remove();
        return Index;
    }

    function ValidateSave()
    {
        var IsValidated = true, violatedDom = null;
        $("#state-machine .validate").each(function () {
            $(this).removeClass("error");
            if ($(this).val() == null || $(this).val().trim().length <= 0) {
                $(this).addClass("error");
                IsValidated = false;

                if (violatedDom == null)
                    violatedDom = $(this).parent();
            }
        });

        if (!IsValidated)
            $('html,body').animate({
                scrollTop: violatedDom.offset().top - 50
            }, 1000);
        return IsValidated;
    }

    function Save()
    {
        if (ValidateSave()) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Register")',
                data: $("#state-machine").serialize(),
                dataType: 'json',
                beforeSend: function (xhr) {
                    $("#modal-progress").modal('show');
                }
            }).done(function (data) {
                $("#modal-progress").modal('hide');

                if (Number(data.status) == -1)
                    alert(data.message);
                else
                    location.href = '@Url.Action("Index")';
            });
        }
    }

    function GetTransitions()
    {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetTransitions")',
            data: { company_id: '@Model.company_id', state_machine_id: '@Model.state_machine_id' },
            beforeSend:function(xhr){
                $("#modal-progress").modal('show');
            },
            dataType:'json'
        }).done(function(data){
            if (data != null && data.length > 0) {
                for (var i = 0; i < data.length; i++) {
                    var TransitionID = Number(data[i].Trans.sequence);
                    var Line = "<tr class='transition_" + TransitionID + "'>";
                    Line += "<td><input type='hidden' name='transitions.index' value='" + TransitionID + "'/>"
                        + "<input type='hidden' name='transitions[" + TransitionID + "].source_state_machine_id' value='"
                        + data[i].Trans.source_state_machine_id + "'/>"
                        + data[i].source_master.state_machine_name + "</td>";
                    Line += "<td><input type='hidden' name='transitions["
                        + TransitionID + "].source_state_id' value='" + data[i].Trans.source_state_id + "' />"
                        + (data[i].source_state!=null ? data[i].source_state.state_name : 'Any states') + "</td>";
                    Line += "<td><input type='hidden' name='transitions[" + TransitionID + "].target_state_machine_id' value='"
                        + data[i].Trans.target_state_machine_id + "'/>"
                        + data[i].target_master.state_machine_name + "</td>";
                    Line += "<td><input type='hidden' name='transitions["
                        + TransitionID + "].target_state_id' value='" + data[i].Trans.target_state_id + "' />"
                        + data[i].target_state.state_name + "</td>";
                    Line += "<td><input type='hidden' name='transitions["
                        + TransitionID + "].condition' value='" + data[i].Trans.condition + "' />"
                        + data[i].Trans.condition + "</td>";
                    Line += '<td><a href="javascript:void(0)" onclick="ShowUpdateTransitionModal(' + TransitionID + ')">'
                        + '<span class="glyphicon glyphicon-pencil"></span></a></td>';
                    Line += '<td><a href="javascript:void(0)" onclick="DeleteTransition(' + TransitionID + ')"><span class="glyphicon glyphicon-trash"></span></a></td>';
                    Line += "</tr>";
                    $("#transitions").append(Line);

                    if (Number(TransitionID) > TransitionCount)
                        TransitionCount = Number(TransitionID) + 1;
                }
            }
            $("#modal-progress").modal('hide');
        });
    }

    $(function () {
        var StateMachineID = '@Model.state_machine_id';
        if (StateMachineID.length > 0) {
            GetTransitions();
            $("input[name='state_machine_id']").prop("readonly", true);
            $("#companies").parents("tr").hide();
        }

        $("#variable_priority").spinner
                               (
                                   {
                                       step: 1,
                                       numberFormat: "n"
                                   }
                               ).css("text-align", "right");
        $(".ui-spinner-input").css("width", "85%");
    });
</script>

<div class="modal fade" id="modal_state" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">State</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>State ID</td>
                        <td><input type="text" id="state_id" class="validate"/></td>
                    </tr>
                    <tr>
                        <td>State Name</td>
                        <td><input type="text" id="state_name" class="validate" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" onclick="AddState()">Post</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_variable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Variable</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Variable ID</td>
                        <td><input type="text" id="variable_id" class="validate" /></td>
                    </tr>
                    <tr>
                        <td>Variable Name</td>
                        <td><input type="text" id="variable_name" class="validate" /></td>
                    </tr>
                    <tr>
                        <td>Variable Priority (Higher number has higher priority)</td>
                        <td><input type="text" id="variable_priority" /></td>
                    </tr>
                    <tr>
                        <td>Data Type</td>
                        <td>
                            <select class="selectpicker" id="data_type">
                                <option value="0" selected>Number</option>
                                <option value="1">String</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Data Source</td>
                        <td>
                            <select class="selectpicker" id="data_source">
                                <option value="0" selected>Historian or manual input</option>
                                <option value="1">Calculated value</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" onclick="AddVariable()">Post</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_transition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Transition</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="transition_id" />
                <table class="table">
                    <tr>
                        <td></td>
                        <td>State Machine</td>
                        <td>State</td>
                    </tr>
                    <tr>
                        <td>From</td>
                        <td>
                            <select class="selectpicker state_machine_master clearValue" 
                                    id="source_master" onchange="GetStates($('#source_master'), $('#source_state'))">
                            </select>
                        </td>
                        <td><select class="selectpicker allowEmpty clearValue" id="source_state"></select></td>
                    </tr>
                    <tr>
                        <td>To</td>
                        <td>
                            <select class="selectpicker state_machine_master clearValue" id="target_master"
                                    onchange="GetStates($('#target_master'), $('#target_state'))"></select>
                        </td>
                        <td><select class="selectpicker clearValue" id="target_state"></select></td>
                    </tr>
                    <tr>
                        <td>Condition</td>
                        <td colspan="2"><input type="text" id="condition" class="clearValue" /></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" onclick="AddTransition()">Post</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form id="state-machine" style="margin-bottom:70px">
        <fieldset>
            <legend>@ViewBag.Title</legend>
            <table class="table">
                <tr>
                    <td>
                        @Html.Label("Company")
                    </td>
                    <td>
                        <select id="companies" name="company_id" class="selectpicker">
                            @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                            {
                                <option value="@c.company_id">@c.company_name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("State Machine ID")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.state_machine_id, new { @class="validate"})
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("State Machine Name")
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.state_machine_name, new { @class = "validate" })
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>
                State(s)
            </legend>
            <button type="button" class="btn btn-success" onclick="ShowStateModal()">
                <span class="glyphicon glyphicon-plus"></span> Add State
            </button>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <td>
                            State ID
                        </td>
                        <td>
                            State Name
                        </td>
                        <td>Initial State</td>
                        <td>
                            Edit
                        </td>
                        <td>
                            Remove
                        </td>
                    </tr>
                </thead>
                <tbody id="states">
                    @if(ViewBag.States!=null)
                    { 
                        foreach (var state in ViewBag.States)
                        {
                            <tr class='@state.state_id'>
                                <td>
                                    <input type='hidden' name='states.index' value='@state.state_id' />
                                    <input type='hidden' name='states[@state.state_id].state_id' value='@state.state_id' />
                                    @state.state_id
                                </td>
                                <td>
                                    <input type='hidden' name='states[@state.state_id].state_name' value='@state.state_name' />
                                    <p class='state_name_text'>@state.state_name</p>
                                </td>
                                <td>
                                    <input type='radio' name='initial_state' value='@state.state_id' 
                                        @(string.Compare(Model.initial_state,state.state_id,true)==0 ? "checked" : "")/>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" onclick="ShowUpdateStateModal('@state.state_id')">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" onclick="DeleteState('@state.state_id')">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </fieldset>

        <fieldset>
            <legend>
                Variable(s)
            </legend>
            <button type="button" class="btn btn-success" onclick="ShowVariableModal()">
                <span class="glyphicon glyphicon-plus"></span> Add Variable
            </button>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <td>
                            Variable ID
                        </td>
                        <td>
                            Variable Name
                        </td>
                        <td>
                            Priority
                        </td>
                        <td>
                            Data Type
                        </td>
                        <td>
                            Data Source
                        </td>
                        <td>
                            Edit
                        </td>
                        <td>
                            Remove
                        </td>
                    </tr>
                </thead>
                <tbody id="variables">
                    @if (ViewBag.Variables != null)
                    {
                        foreach (var variable in ViewBag.Variables)
                        {
                            <tr class='@variable.variable_id'>
                                <td>
                                    <input type='hidden' name='variables.index' value='@variable.variable_id' />
                                    <input type='hidden' name='variables[@variable.variable_id].variable_id' value='@variable.variable_id' />
                                    @variable.variable_id
                                </td>
                                <td>
                                    <input type='hidden' name='variables[@variable.variable_id].variable_name' value='@variable.variable_name' />
                                        <p class='variable_name_text'>@variable.variable_name</p>
                                </td>
                                <td>
                                    <input type='hidden' name='variables[@variable.variable_id].priority' value='@variable.priority' />
                                    <p class='priority_text'>@variable.priority</p>
                                </td>
                                <td>
                                    <input type='hidden' name='variables[@variable.variable_id].data_type' value='@variable.data_type' />
                                        <p class='data_type_text'>@(variable.data_type==0 ? "Number":"String")</p>
                                </td>
                                <td>
                                    <input type='hidden' name='variables[@variable.variable_id].data_source' value='@variable.data_source' />
                                    <p class='data_source_text'>@(variable.data_source == 0 ? "Historial or manual input" : "Calculated value")</p>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" onclick="ShowUpdateVariableModal('@variable.variable_id')">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" onclick="DeleteVariable('@variable.variable_id')">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </fieldset>

        <fieldset>
            <legend>
                Transition(s)
            </legend>
            <button type="button" class="btn btn-success" onclick="ShowTransitionModal()">
                <span class="glyphicon glyphicon-plus"></span> Add Transition
            </button>
            <table class="table table-striped text-center">
                <thead>
                    <tr>
                        <td colspan="2">
                            From
                        </td>
                        <td colspan="2">
                            To
                        </td>
                        <td rowspan="2">
                            Condition
                        </td>
                        <td rowspan="2">
                            Edit
                        </td>
                        <td rowspan="2">
                            Remove
                        </td>
                    </tr>
                    <tr>
                        <td>State Machine</td>
                        <td>State</td>
                        <td>State Machine</td>
                        <td>State</td>
                    </tr>
                </thead>
                <tbody id="transitions"></tbody>
            </table>
        </fieldset>
    </form>
</div>
<nav class="navbar navbar-fixed-bottom navbar-inverse center" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#timecontrol" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-inner" id="timecontrol">
            <ul class="nav navbar-nav" style="text-align:center">
                <li>
                    <a href="javascript:void(0)" onclick="Save()">
                        <span class="glyphicon glyphicon-save"></span>
                        Save
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="location.href='@Url.Action("Index")'">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Cancel
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

