﻿.validation-summary-errors li
        {
            list-style-type:none;
        }

        .form-signin {
            max-width: 600px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }

            .form-signin .form-signin-heading,
            .form-signin .checkbox {
                margin-bottom: 10px;
            }

        .field-validation-error, .validation-summary-errors {
            color: red;
            font-weight: bold;
        }

        .carousel-inner > .item > img {
            margin: 0 auto;
        }

        html, body {
          height: 100%;
        }

@media print {
        thead {display: table-header-group;}
    }

li .dropdown-header {
    font-weight:bold;
    font-size:large;
    background: rgb(245,245,245); 
}