﻿
@{
    ViewBag.Title = "Manage Historian Tag";
}

<script type="text/javascript">
    function GetDivision() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDivisionsJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#divisions").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#divisions").append("<option value=''>All divisions</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#divisions").append("<option value='" + data[i].division_id + "'>"
                                + data[i].division_name + "</option>")
                        }
                    }
                    $("#divisions").selectpicker("refresh");
                    $("#divisions").trigger("change");
                }
            );
    }

    function GetBlock() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetBlocksJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#blocks").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#blocks").append("<option value=''>All blocks</option>");

                        var PrevDivision = "", Line = "";
                        for (var i = 0; i < data.length; i++) {
                            if (PrevDivision != data[i].division_id) {
                                PrevDivision = data[i].division_id;
                                if (i > 0)
                                    Line += "</optgroup>";
                                Line += "<optgroup label=\"Division : " + data[i].division_name + "\">";
                            }
                            Line += "<option value='" + data[i].block_id + "'>"
                                + data[i].block_name + "</option>";
                        }

                        Line += "</optgroup>";
                        $("#blocks").append(Line);
                    }
                    $("#blocks").selectpicker("refresh");
                    $("#blocks").trigger("change");
                }
            );
    }

    function GetMachine() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val(), blockID: $("#blocks").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#machines").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#machines").append("<option value=''>All machines</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#machines").append("<option value='" + data[i].machine.machine_id + "'>"
                                + data[i].machine.machine_name + "</option>");
                        }
                    }
                    $("#machines").selectpicker("refresh");
                }
            );
    }

    function FindTag() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("FindTag")',
                    data: $("#frm-filter").serialize(),
                    async: true,
                    beforeSend:function(xhr)
                    {
                        $("#fieldset-tag > table > tbody").html('');
                        $("#modal-progress").modal('show');
                    }
                }
            ).done
            (
                function(data)
                {
                    $("#modal-progress").modal('hide');
                    $("#fieldset-tag > legend").text("Found " + data.result.length + " Tag(s)");
                    if(data!=null && data.status>0)
                    {
                        var Line = "";
                        for(var i=0;i<data.result.length;i++)
                        {
                            var ID = data.result[i].tag.machine_id + "_" + data.result[i].tag.tag_id;
                            ID = ID.replace(/[!"#$%&'()*+,.\/:;<=>?@@[\\\]^`{|}~]/g, "_");
                            var Line = "";
                            Line += "<tr id='row_" + ID + "'>";
                            Line += "<td style='text-align:center'>" + data.result[i].machine_name + "</td>";
                            Line += "<td style='text-align:center'>" + data.result[i].tag.tag_id + "</td>";
                            Line += "<td style='text-align:center'>" + data.result[i].tag.tag_name + "</td>";
                            Line += "<td style='text-align:center'>" + data.result[i].unit_name + "</td>";

                            Line += "<td style='text-align:center'><input type='checkbox' "
                                + "onchange='ChangeActiveState(" + data.result[i].tag.company_id + ",\""
                                + data.result[i].tag.tag_id + "\",$(this))' class='new-switch' ";
                            if (data.result[i].tag.active)
                                Line += "checked";
                            Line += "/>";
                            Line += "</td>";

                            Line += "<td style='text-align:center'><a href='javascript:void(0)' onclick=\"ShowDetail('" + ID + "',$(this))\">" +
                                    "Show <span class=\"glyphicon glyphicon-chevron-down\"></span></a></td>";
                            Line += "<td style='text-align:center'><a href='javascript:void(0)' " +
                                "onclick=\"GoToUpdatePage(" + data.result[i].company_id + ",'" + data.result[i].tag.tag_id + "')\">" +
                                "<span class=\"glyphicon glyphicon-pencil\"></span></a></td>";
                            Line += "<td style='text-align:center'><a href='javascript:void(0)' onclick=\"ShowDeleteDialog(" +
                                data.result[i].company_id + ",'" +
                                data.result[i].tag.tag_id + "','" + data.result[i].tag.tag_name + "')\">" +
                                "<span class=\"glyphicon glyphicon-trash\"></span></a></td>";
                            Line += "</tr>";

                            Line += "<tr id='detail_" + ID + "' class='detail_row'>";
                            Line += "<td colspan='2'></td>";
                            Line += "<td colspan='4'><table class='table'>";
                            Line += "<tr><td>Compression Method</td><td>" + data.result[i].compression_name + "</td></tr>";
                            if (data.result[i].tag.compression_method != '-') {
                                Line += "<tr><td>Compression Bandwidth</td><td>" +
                                    data.result[i].tag.compression_bandwidth + "</td></tr>";
                                if(data.result[i].tag.compression_method!='th')
                                    Line += "<tr><td>Compression Expired Time</td><td>" +
                                        data.result[i].tag.expired_time + " seconds</td></tr>";
                            }
                            Line += "<tr><td>Description</td><td><pre>" + data.result[i].tag.tag_description + "</pre></td></tr>";
                            Line += "<tr><td>Source Tag ID</td><td>" + data.result[i].tag.source_tag_id + "</td></tr>";
                            Line += "</table></td></tr>";
                            $("#fieldset-tag > table > tbody").append(Line);
                        }
                        $(".new-switch").bootstrapSwitch
                        (
                            {
                                onColor: 'success',
                                onText: 'Yes',
                                offText: 'No'
                            }
                        );
                        $("#fieldset-tag .detail_row").hide();
                    }
                    ShowHideFilter();
                }
            );
    }

    function ChangeActiveState(companyID, tagID, dom)
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("ChangeActiveState")',
                    data: { company_id: companyID, tag_id: tagID, active: dom.prop('checked') },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#modal-progress").modal('show');
                    }
                }
            ).done
            (
                function (data) {
                    $("#modal-progress").modal('hide');
                    if (data != null && data.code != 1) alert(data.message);
                }
            );
    }

    function GoToUpdatePage(companyID, tagID)
    {
        location.href = '@Url.Action("Update")?companyID=' + companyID + "&tagID=" + tagID;
    }

    function ShowDeleteDialog(companyID, tagID, tagName) {
        $("#delete-message").html
            (
                "Are you sure want to delete tag " + tagName + "?"
            );

        $("#deleted-company-id").val(companyID);
        $("#deleted-id").val(tagID);

        $("#myModal").modal("show");
    }

    var ShowFilter = true;
    function ShowHideFilter() {
        ShowFilter = !ShowFilter;

        if (ShowFilter) {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    function ShowDetail(id, dom) {
        if (!dom.hasClass('showed')) {
            dom.html("Hide <span class=\"glyphicon glyphicon-chevron-up\"></span>");
            $("#detail_" + id).show();
            dom.addClass('showed');
        }
        else {
            dom.html("Show <span class=\"glyphicon glyphicon-chevron-down\"></span>");
            $("#detail_" + id).hide();
            dom.removeClass('showed');
        }
    }

    $
        (
            function () {
                $("#companies").trigger("change");
                $("#myModal .deleteConfirmed").click
                (
                    function () {
                        $("#frmDelete").submit();
                    }
                );
            }
        );
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Historian", FormMethod.Post, new { id = "frmDelete" }))
                {
                    <input type="hidden" id="deleted-id" name="tagID" />
                    <input type="hidden" id="deleted-company-id" name="companyID" />
                    <div id="delete-message"></div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning deleteConfirmed">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <button class="btn btn-lg btn-default" onclick="location.href='@Url.Action("Register")'">
        Create New Tag
    </button>

    <fieldset style="margin-top:10px">
        <legend>
            Tag Filter
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frm-filter">
                <table class="table table-striped">
                    <tr>
                        <td>
                            Company
                        </td>
                        <td></td>
                        <td style="width:100%">
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetDivision()">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Division
                        </td>
                        <td></td>
                        <td>
                            <select id="divisions" name="division_id" class="selectpicker" onchange="GetBlock()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Block
                        </td>
                        <td></td>
                        <td>
                            <select id="blocks" name="block_id" class="selectpicker" onchange="GetMachine()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Machine
                        </td>
                        <td></td>
                        <td>
                            <select id="machines" name="machine_id" class="selectpicker"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tag Name
                        </td>
                        <td></td>
                        <td>
                            <input type="text" name="tag_name" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Active State
                        </td>
                        <td></td>
                        <td>
                            <select id="actives" name="active_state" class="selectpicker">
                                <option value="-1">All</option>
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="margin-top:10px">
                <button class="btn btn-info" onclick="FindTag()" type="button">
                    <span class="glyphicon glyphicon-search"></span> Find Tag(s)
                </button>
            </div>
        </div>
    </fieldset>

    <fieldset id="fieldset-tag" style="margin-top:10px">
        <legend></legend>
        <table class="table table-striped">
            <thead style="text-align:center">
                <tr>
                    <td>
                        Machine
                    </td>
                    <td>
                        Tag ID
                    </td>
                    <td>
                        Tag Name
                    </td>
                    <td>
                        UoM
                    </td>
                    <td>
                        Active
                    </td>
                    <td>
                        Detail
                    </td>
                    <td>
                        Edit
                    </td>
                    <td>
                        Delete
                    </td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </fieldset>
</div>

