﻿@model DaVinxi.Models.HistorianTag

@{
    ViewBag.Title = "Update " + Model.tag_name;
}

<script type="text/javascript">
    function GetMachine() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: '', blockID: '' },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#machines").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#machines").append("<option value='uncategorized'>Uncategorized</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#machines").append("<option value='" + data[i].machine.machine_id + "'>"
                                + data[i].machine.machine_name + "</option>");
                        }
                    }
                    $("#machines").val('@Model.machine_id');
                    $("#machines").selectpicker("refresh");
                }
            );
    }

    function GetUoM() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetEngineeringUnitsJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#units").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#units").append("<option value='" + data[i].unit_id + "'>"
                                + data[i].unit_name + "</option>");
                        }
                    }
                    $("#units").val('@Model.uom');
                    $("#units").selectpicker("refresh");
                }
            );
    }

    function GetCompression() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetCompressionMethod", "HelperClass")',
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#compressions").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#compressions").append("<option value='" + data[i].compression_id + "'>"
                                + data[i].compression_name + "</option>");
                        }
                    }
                    $("#compressions").selectpicker("refresh");
                    $("#compressions").val('@Model.compression_method');
                    $("#compressions").trigger("change");
                }
            );
    }

    function CompressChanged() {
        $(".numericControl").prop("disabled", true);

        if ($("#compressions").val() != '-') {
            if ($("#compressions").val() == 'th') {
                $("input[name='compression_bandwidth']").prop("disabled", false);
                $("input[name='expired_time']").prop("disabled", true);
            }
            else {
                $("input[name='compression_bandwidth']").prop("disabled", false);
                $("input[name='expired_time']").prop("disabled", false);
            }
        }
    }

    $(function () {
        GetCompression();
        GetMachine();
        GetUoM();

        $(".numericControl").spinner
            (
                {
                    step: 0.01,
                    numberFormat: "n"
                }
            );

        $(".new-switch").bootstrapSwitch
            (
                {
                    onColor: 'success',
                    onText: 'Yes',
                    offText: 'No'
                }
            );
    });
</script>

<div class="container">

    @using (Html.BeginForm("Update", "Historian", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin", enctype = "multipart/form-data" }))
    {

        <fieldset>
            <legend>@ViewBag.Title</legend>
            <div>
                @Html.ValidationSummary(false)
                @Html.HiddenFor(m => m.company_id, new { id = "companies" })
                @Html.HiddenFor(m => m.tag_id)
                @Html.HiddenFor(m => m.created_date)
                @Html.HiddenFor(m => m.revised_date)
                @Html.HiddenFor(m => m.revised_by)
                @Html.HiddenFor(m => m.last_date_data)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.machine_id)
                <select id="machines" name="machine_id" class="selectpicker"></select>
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.source_tag_id)
                @Html.TextBoxFor(m => m.source_tag_id)
                @Html.ValidationMessageFor(m => m.source_tag_id)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.tag_name)
                @Html.TextBoxFor(m => m.tag_name)
                @Html.ValidationMessageFor(m => m.tag_name)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.uom)
                <select id="units" name="uom" class="selectpicker"></select>
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.compression_method)
                <select id="compressions" name="compression_method" class="selectpicker" onchange="CompressChanged()"></select>
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.compression_bandwidth)<br />
                @Html.TextBoxFor(m => m.compression_bandwidth, new { @class = "numericControl" })
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.expired_time)<br />
                @Html.TextBoxFor(m => m.expired_time, new { @class = "numericControl" })
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.active)
                @Html.CheckBoxFor(m => m.active, new { @class = "new-switch" })
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.tag_description)
                @Html.TextAreaFor(m => m.tag_description)
                @Html.ValidationMessageFor(m => m.tag_description)
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

