﻿@model DaVinxi.Models.SKURegisterModel

@{
    ViewBag.Title = "Edit SKU " + Model.sku_name;
}

<script type="text/javascript">
    function GetRelatedProperties()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url : '@Url.Action("GetQualityPropertiesBySKUJSON", "HelperClass")',
                    dataType: 'json',
                    async: true,
                    data: { companyID: $("#company").val(), skuID: $("#skuID").val() }
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        var Selected = new Array();
                        for(var i=0;i<data.length;i++)
                        {
                            Selected.push(data[i].property_id);
                        }
                        $("#properties").val(Selected);
                    }

                    $("#properties").chosen();
                }
            );
    }

    function GetSubcategories()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUSubCategoriesJSON","HelperClass")',
                    data: { companyID: $("#company").val(), categoryID : $("#categories").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend:function(xhr)
                    {
                        $("#subcategories").html('');
                        $("#subcategories").val('');
                    }
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        for(var i=0;i<data.length;i++)
                        {
                            $("#subcategories").append("<option value='" + data[i].subcategory_id + "'>" +
                                data[i].subcategory_name + "</option>");
                        }
                    }
                    $("#subcategories").val('@Model.subcategory_id');
                    $("#subcategories").attr("data-width", "100%");
                    $("#subcategories").attr("data-size", "5");
                    $("#subcategories").attr("data-live-search", "true");
                    $("#subcategories").addClass("show-tick");
                    $("#subcategories").selectpicker("refresh");
                }
            );
    }

    $
        (
            function ()
            {
                $("#categories").trigger("change");
                GetRelatedProperties();

                $(".numericControl").spinner
                (
                    {
                        step: 0.01,
                        numberFormat: "n"
                    }
                );
                
                $(".ui-spinner").css("width", "100%");
                $(".ui-spinner-input").css("width", "95%");
            }
        );
</script>

<div class="container">

    @using (Html.BeginForm("Edit", "SKU", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.HiddenFor(m => m.company_id, new { id = "company" })
                @Html.HiddenFor(m => m.sku_id, new { id = "skuID" })
            </div>

            <div>
                @Html.Label("Category")
                <select id="categories" onchange="GetSubcategories()" class="selectpicker">
                    @foreach (DaVinxi.Models.SKUCategories category in ViewBag.Categories)
                    {
                        <option value="@category.category_id"
                                @(string.Compare(category.category_id, ViewBag.SelectedCategory, true) == 0 ? "selected" : "")>
                            @category.category_name
                        </option>
                    }
                </select>
            </div>

            <div>
                @Html.LabelFor(s => s.subcategory_id)
                <select id="subcategories" name="subcategory_id"></select>
            </div>

            <div>
                @Html.Label("SKU Additional ID (optional)")
                @Html.TextBoxFor(m => m.additional_id)
            </div>

            <div>
                @Html.LabelFor(m => m.sku_name)
                @Html.TextBoxFor(m => m.sku_name)
                @Html.ValidationMessageFor(m => m.sku_name)
            </div>

            <div>
                @Html.LabelFor(m => m.segment_id)
                <select id="segments" name="segment_id" class="selectpicker">
                    @foreach (DaVinxi.Models.SKUSegments segment in ViewBag.Segments)
                    {
                        <option value="@segment.segment_id"
                                @(string.Compare(segment.segment_id, Model.segment_id, true) == 0 ? "selected" : "")>
                            @segment.segment_name
                        </option>
                    }
                </select>
            </div>

            <div>
                @Html.LabelFor(m => m.business_id)
                <select id="businesses" name="business_id" class="selectpicker">
                    @foreach (DaVinxi.Models.SKUBusinesses business in ViewBag.Businesses)
                    {
                        <option value="@business.business_id"
                                @(string.Compare(business.business_id, Model.business_id, true) == 0 ? "selected" : "")>
                            @business.business_name
                        </option>
                    }
                </select>
            </div>

            <div>
                @Html.LabelFor(s => s.basis_weight)
                @Html.TextBoxFor(m => m.basis_weight, new { @class = "numericControl" })
            </div>

            <div>
                @Html.Label("Quality Properties")

                <select id="properties" class="chosen-select" name="properties" data-placeholder="Choose Property(ies)" multiple>
                    @foreach (DaVinxi.Models.QualityProperties property in ViewBag.Properties)
                    {
                        <option value="@property.property_id">
                            @property.property_name
                        </option>
                    }
                </select>
            </div>

            <div>
                @Html.Label("Critical Quality Property (optional)")
                @Html.TextAreaFor(s => s.critical_quality_property)
            </div>

            <div>
                @Html.Label("Work Instruction (optional)")
                @Html.TextAreaFor(s => s.work_instruction)
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","SKU")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

