﻿@model IEnumerable<DaVinxi.Models.MasterSKU>

@{
    ViewBag.Title = "Manage SKU";
}

<script type="text/javascript">
    function ShowDeleteDialog(companyID,skuID,fullName)
    {
        $("#delete-message").html("Are you sure want to delete SKU " + fullName + "?");

        $("#deleted-id").val(skuID);
        $("#deleted-company-id").val(companyID);

        $("#myModal").modal("show");
    }

    function ShowHideDetails(companyID,machID)
    {
        var RowID = "row_" + companyID + machID;
        var btnID = "btn_" + companyID + machID;

        if($("#" + RowID).hasClass("showed"))
        {
            $("#" + RowID).hide();
            $("#" + RowID).removeClass("showed");
            $("#" + btnID).removeClass("glyphicon-chevron-up");
            $("#" + btnID).addClass("glyphicon-chevron-down");
        }
        else
        {
            $("#" + RowID).show();
            $("#" + RowID).addClass("showed");
            $("#" + btnID).addClass("glyphicon-chevron-up");
            $("#" + btnID).removeClass("glyphicon-chevron-down");
        }
    }

    $
        (
            function ()
            {
                $("#myModal .deleteConfirmed").click
                (
                    function()
                    {
                        $("#frmDelete").submit();
                    }
                );

                $(".collapsable").hide();
            }
        );
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "SKU", FormMethod.Post, new { id = "frmDelete" }))
                {
                    <input type="hidden" id="deleted-id" name="skuID" />
                    <input type="hidden" id="deleted-company-id" name="companyID" />
                    <div id="delete-message"></div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning deleteConfirmed">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button class="btn btn-lg btn-default" onclick="location.href='@Url.Action("Register","SKU")'">
        Add New SKU
    </button>

    <table class="table table-bordered table-hover" style="margin-top:15px">
        <thead style="text-align:center">
            <tr>
                <td>
                    @Html.DisplayNameFor(u => u.company_id)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.sku_id)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.sku_name)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.basis_weight)
                </td>
                <td>
                    Quality Properties
                </td>
                <td>
                    Details
                </td>
                <td>
                    Edit
                </td>
                <td>
                    Delete
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        @if (ViewBag.RelatedCompanies != null &&
                            (ViewBag.RelatedCompanies as Dictionary<int, string>).ContainsKey(item.company_id))
                        {
                            @Html.Label((ViewBag.RelatedCompanies as Dictionary<int, string>)[item.company_id])
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sku_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sku_name)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(s => item.basis_weight)
                    </td>
                    <td>
                        @if (ViewBag.RelatedProperties != null &&
                            (ViewBag.RelatedProperties as Dictionary<string, List<DaVinxi.Models.QualityProperties>>).ContainsKey(item.sku_id))
                        {
                            <ul>
                                @foreach (var qProp in (ViewBag.RelatedProperties as Dictionary<string, List<DaVinxi.Models.QualityProperties>>)[item.sku_id])
                                {
                                    <li>@qProp.property_name</li>
                                }
                            </ul>
                        }
                    </td>
                    <td style="text-align:center">
                        <a href="javascript:void(0)" onclick="ShowHideDetails(@item.company_id,'@item.sku_id.Replace('.','_')')">
                            Details
                            <span class="glyphicon glyphicon-chevron-down"
                                  id="@string.Concat("btn_",item.company_id,item.sku_id)"></span>
                        </a>
                    </td>
                    <td style="text-align:center">
                        <a href="@Url.Action("Edit", "SKU",
                            new { companyID = item.company_id, skuID=item.sku_id})">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td style="text-align:center">
                        <a href="javascript:void(0)"
                           onclick="ShowDeleteDialog(@item.company_id,'@item.sku_id','@item.sku_name')">
                            <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal"></span>
                        </a>
                    </td>
                </tr>
                <tr class="collapsable" id="@string.Concat("row_",item.company_id,item.sku_id.Replace('.','_'))">
                    <td colspan="2"></td>
                    <td colspan="6">
                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    Category
                                </td>
                                <td style="text-align:center">
                                    @if (ViewBag.RelatedCategories != null &&
                                        (ViewBag.RelatedCategories as Dictionary<string, string>).ContainsKey(item.subcategory_id))
                                    {
                                        @Html.Label((ViewBag.RelatedCategories as Dictionary<string, string>)[item.subcategory_id])
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(u => u.subcategory_id)
                                </td>
                                <td style="text-align:center">
                                    @if (ViewBag.RelatedSubcategories != null &&
                                        (ViewBag.RelatedSubcategories as Dictionary<string, string>).ContainsKey(item.subcategory_id))
                                    {
                                        @Html.Label((ViewBag.RelatedSubcategories as Dictionary<string, string>)[item.subcategory_id])
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(u => u.additional_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(s => item.additional_id)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(u => u.segment_id)
                                </td>
                                <td style="text-align:center">
                                    @if (ViewBag.RelatedSegments != null &&
                            (ViewBag.RelatedSegments as Dictionary<string, string>).ContainsKey(item.segment_id))
                                    {
                                        @Html.Label((ViewBag.RelatedSegments as Dictionary<string, string>)[item.segment_id])
                                    }
                                </td>
                                </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(u => u.business_id)
                                </td>
                                <td style="text-align:center">
                                    @if (ViewBag.RelatedBusinesses != null &&
                            (ViewBag.RelatedBusinesses as Dictionary<string, string>).ContainsKey(item.business_id))
                                    {
                                        @Html.Label((ViewBag.RelatedBusinesses as Dictionary<string, string>)[item.business_id])
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(u => u.critical_quality_property)
                                </td>
                                <td>
                                    @Html.Raw("<pre>" + Html.Encode(item.critical_quality_property) + "</pre>")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayNameFor(u => u.work_instruction)
                                </td>
                                <td>
                                    @Html.Raw("<pre>" + Html.Encode(item.work_instruction) + "</pre>")
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
