﻿@model DaVinxi.Models.SKURegisterModel

@{
    ViewBag.Title = "Register New SKU";
}

<script type="text/javascript">
    function GetComponents()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetQualityPropertiesJSON", "HelperClass")',
                    async: true,
                    dataType:'json',
                    data:{companyID : $("#company").val()},
                    beforeSend : function(xhr)
                    {
                        $("#properties").html("");
                        $("#properties").val(new Array());
                    }
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        for(var i=0;i<data.length;i++)
                        {
                            $("#properties").append("<option value='" + data[i].property_id + "'>"
                                + data[i].property_name + "</option>");
                        }
                    }
                    $(".chosen-select").chosen();
                }
            );
    }

    function GetCategories()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUCategoriesJSON","HelperClass")',
                    data: { companyID: $("#company").val() },
                    dataType: "json",
                    async: true,
                    beforeSend:function(xhr)
                    {
                        $("#categories").html('');
                        $("#categories").val('');
                    }
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        for(var i=0;i<data.length;i++)
                        {
                            $("#categories").append("<option value='" + data[i].category_id + "'>" +
                                data[i].category_name + "</option>");
                        }
                    }

                    $("#categories").attr("data-width", "100%");
                    $("#categories").attr("data-size", "5");
                    $("#categories").attr("data-live-search", "true");
                    $("#categories").addClass("show-tick");
                    $("#categories").selectpicker("refresh");
                    $("#categories").trigger("change");
                }
            );
    }

    function GetSubcategories()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUSubCategoriesJSON","HelperClass")',
                    data: { companyID: $("#company").val(), categoryID : $("#categories").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend:function(xhr)
                    {
                        $("#subcategories").html('');
                        $("#subcategories").val('');
                    }
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        for(var i=0;i<data.length;i++)
                        {
                            $("#subcategories").append("<option value='" + data[i].subcategory_id + "'>" +
                                data[i].subcategory_name + "</option>");
                        }
                    }

                    $("#subcategories").attr("data-width", "100%");
                    $("#subcategories").attr("data-size", "5");
                    $("#subcategories").attr("data-live-search", "true");
                    $("#subcategories").addClass("show-tick");
                    $("#subcategories").selectpicker("refresh");
                }
            );
    }

    function GetSegments()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUSegmentsJSON", "HelperClass")',
                    data: { companyID: $("#company").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#segments").html('');
                        $("#segments").val('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#segments").append("<option value='" + data[i].segment_id + "'>" +
                                data[i].segment_name + "</option>");
                        }
                    }

                    $("#segments").attr("data-width", "100%");
                    $("#segments").attr("data-size", "5");
                    $("#segments").attr("data-live-search", "true");
                    $("#segments").addClass("show-tick");
                    $("#segments").selectpicker("refresh");
                }
            );
    }

    function GetBusinesses() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUBusinessJSON", "HelperClass")',
                    data: { companyID: $("#company").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#businesses").html('');
                        $("#businesses").val('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#businesses").append("<option value='" + data[i].business_id + "'>" +
                                data[i].business_name + "</option>");
                        }
                    }

                    $("#businesses").attr("data-width", "100%");
                    $("#businesses").attr("data-size", "5");
                    $("#businesses").attr("data-live-search", "true");
                    $("#businesses").addClass("show-tick");
                    $("#businesses").selectpicker("refresh");
                }
            );
    }

    function OnCompanyChange()
    {
        GetCategories();
        GetSegments();
        GetBusinesses();
        GetComponents();
    }

    $(
        function ()
        {
            $("#company").trigger("change");
            $(".numericControl").spinner
            (
                {
                    step: 0.01,
                    numberFormat: "n"
                }
            );
            $(".numericControl").val(0);
            $(".ui-spinner").css("width", "100%");
            $(".ui-spinner-input").css("width", "95%");
        }
    );
</script>

<div class="container">

    @using (Html.BeginForm("Register", "SKU", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.LabelFor(m => m.company_id)

                <select class="selectpicker" id="company" name="company_id" onchange="OnCompanyChange()">
                    @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                    {
                        <option value="@c.company_id">@c.company_name</option>
                    }
                </select>

                @Html.ValidationMessageFor(m => m.company_id)
            </div>

            <div>
                @Html.Label("Category")
                <select id="categories" onchange="GetSubcategories()"></select>
            </div>

            <div>
                @Html.LabelFor(s => s.subcategory_id)
                <select id="subcategories" name="subcategory_id"></select>
            </div>

            <div>
                @Html.LabelFor(m => m.sku_id)
                @Html.TextBoxFor(m => m.sku_id)
                @Html.ValidationMessageFor(m => m.sku_id)
            </div>

            <div>
                @Html.Label("SKU Additional ID (optional)")
                @Html.TextBoxFor(m => m.additional_id)
            </div>
            
            <div>
                @Html.LabelFor(m => m.sku_name)
                @Html.TextBoxFor(m => m.sku_name)
                @Html.ValidationMessageFor(m => m.sku_name)
            </div>

            <div>
                @Html.LabelFor(m => m.segment_id)
                <select id="segments" name="segment_id"></select>
            </div>

            <div>
                @Html.LabelFor(m => m.business_id)
                <select id="businesses" name="business_id"></select>
            </div>

            <div>
                @Html.LabelFor(s=>s.basis_weight)
                @Html.TextBoxFor(m => m.basis_weight, new { @class = "numericControl" })
            </div>

            <div>
                @Html.Label("Quality Properties")

                <select class="chosen-select" id="properties" name="properties" data-placeholder="Choose property(ies)" multiple></select>
            </div>

            <div>
                @Html.Label("Critical Quality Property (optional)")
                @Html.TextAreaFor(s => s.critical_quality_property)
            </div>

            <div>
                @Html.Label("Work Instruction (optional)")
                @Html.TextAreaFor(s => s.work_instruction)
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","SKU")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

