﻿
@{
    ViewBag.Title = "Downtime Tracking";
}
<style>
    .navbar.center .navbar-inner {
        text-align: center;
    }

        .navbar.center .navbar-inner .nav {
            float: none;
            display: inline-block;
        }
</style>
<script type="text/javascript">
    function GetDivision() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDivisionsJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#divisions").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#divisions").append("<option value=''>All divisions</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#divisions").append("<option value='" + data[i].division_id + "'>"
                                + data[i].division_name + "</option>")
                        }
                    }
                    $("#divisions").selectpicker("refresh");
                    $("#divisions").trigger("change");
                }
            );
    }

    function GetBlock() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetBlocksJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#blocks").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#blocks").append("<option value=''>All blocks</option>");

                        var PrevDivision = "", Line = "";
                        for (var i = 0; i < data.length; i++) {
                            if (PrevDivision != data[i].division_id) {
                                PrevDivision = data[i].division_id;
                                if (i > 0)
                                    Line += "</optgroup>";
                                Line += "<optgroup label=\"Division : " + data[i].division_name + "\">";
                            }
                            Line += "<option value='" + data[i].block_id + "'>"
                                + data[i].block_name + "</option>";
                        }

                        Line += "</optgroup>";
                        $("#blocks").append(Line);
                    }
                    $("#blocks").selectpicker("refresh");
                    $("#blocks").trigger("change");
                }
            );
    }

    function GetMachine() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val(), blockID: $("#blocks").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#machines").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#machines").append("<option value=''>All machines</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#machines").append("<option value='" + data[i].machine.machine_id + "'>"
                                + data[i].machine.machine_name + "</option>");
                        }
                    }
                    $("#machines").selectpicker("refresh");
                }
            );
    }

    var ShowFilter = true;
    function ShowHideFilter() {
        ShowFilter = !ShowFilter;

        if (ShowFilter) {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    var DowntimeCountID = new Array(), DowntimeDurationID = new Array(),
        Breadcrumbs = new Array(), ClickedText = "All", PropBreadcrumbs = new Array();
    function GetTracking(targetDowntime)
    {
        if (targetDowntime == null || targetDowntime.length <= 0) {
            Breadcrumbs = [];
            ClickedText = "All";
            PropBreadcrumbs.push(ClickedText);
        }
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDowntimeTracking")',
                    data: $("#frm-filter").serialize() + "&targetParent=" + targetDowntime,
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        Breadcrumbs.push(targetDowntime);
                        if (ShowFilter) ShowHideFilter();
                        $("#modal-progress").modal('show');
                        $("#downtime-toolbox").hide();
                        $("#downtime-tracking-result").hide();
                    }
                }
            ).done(
                function (data)
                {
                    if (data != null && data.tracking != null && data.tracking.length > 0) {
                        $("#downtime-tracking-result").show();
                        DowntimeCountID = [];
                        DowntimeDurationID = [];
                        var SumDuration = 0, SumCount = 0;
                        for (var i = 0; i < data.tracking.length; i++) {
                            SumDuration += Number(data.tracking[i].sum_duration);
                            SumCount += Number(data.tracking[i].count);
                        }

                        data.tracking.sort
                            (
                                function (a, b) {
                                    return Number(b.count) - Number(a.count);
                                }
                            );

                        var DowntimeCountCategories = new Array(),
                            DowntimeCountPoints = new Array(),
                            DowntimeCountPercent = new Array(),
                            DowntimeDurationCategories = new Array(),
                            DowntimeDurationPoints = new Array(),
                            DowntimeDurationPercent = new Array(),
                            DowntimeActionPoints = new Array(),
                            DowntimeActionPercent = new Array(), TempCount = 0, TempDuration = 0;
                        for (var i = 0; i < data.tracking.length; i++) {
                            DowntimeCountCategories.push(data.tracking[i].downtime_name);
                            DowntimeCountID.push([$("#companies").val(), data.tracking[i].downtime_id]);
                            DowntimeCountPoints.push(Number(data.tracking[i].count));
                            TempCount += Number(data.tracking[i].count);
                            DowntimeCountPercent.push((TempCount / SumCount) * 100);
                        }
                        GeneratePareto("downtime-count", DowntimeCountCategories, DowntimeCountPoints,
                            DowntimeCountPercent, "Frequency", "Downtime Tracking", true, true);

                        data.tracking.sort
                            (
                                function (a, b) {
                                    return Number(b.sum_duration) - Number(a.sum_duration);
                                }
                            );

                        for (var i = 0; i < data.tracking.length; i++) {
                            DowntimeDurationCategories.push(data.tracking[i].downtime_name);
                            DowntimeDurationID.push([$("#companies").val(), data.tracking[i].downtime_id]);
                            DowntimeDurationPoints.push(Number(data.tracking[i].sum_duration));
                            TempDuration += Number(data.tracking[i].sum_duration);
                            DowntimeDurationPercent.push((TempDuration / SumDuration) * 100);
                        }
                        GeneratePareto("downtime-duration", DowntimeDurationCategories, DowntimeDurationPoints,
                            DowntimeDurationPercent, "Duration", "Downtime Tracking", false, true);

                        if (data.dAction != null && data.dAction.length > 0)
                        {
                            data.dAction.sort
                            (
                                function (a, b) {
                                    return Number(b.count) - Number(a.count);
                                }
                            );
                            SumCount = 0;
                            for (var i = 0; i < data.dAction.length; i++) {
                                SumCount += Number(data.dAction[i].count);
                            }

                            var DowntimeActionCategories = new Array(), DowntimeActionPoints = new Array(),
                                DowntimeActionPercent = new Array();
                            TempCount = 0;
                            for (var i = 0; i < data.dAction.length; i++) {
                                DowntimeActionCategories.push(data.dAction[i].action_name);
                                DowntimeActionPoints.push(Number(data.dAction[i].count));
                                TempCount += Number(data.dAction[i].count);
                                DowntimeActionPercent.push((TempCount / SumCount) * 100);
                            }
                            GeneratePareto("downtime-action", DowntimeActionCategories, DowntimeActionPoints,
                                DowntimeActionPercent, "Count", "Downtime Solution(s)", true, false);
                        }

                        $("#downtime-toolbox").show();

                        if (Breadcrumbs.length > 1)
                            $("#downtime-toolbox .downtime-back").show();
                        else
                            $("#downtime-toolbox .downtime-back").hide();
                    }
                    else
                        Breadcrumbs.pop();
                    $("#modal-progress").modal('hide');
                }
            );
    }

    function GeneratePareto(domID, dataCategories, points, percent, variableText, title, isCount, allowClick) {
        $("#" + domID).highcharts(
                {
                    chart: {
                        type: 'column',
                        zoomType: 'xy',
                        height: 600
                    },
                    title: {
                        text: title,
                        style: {
                            fontSize: '200%'
                        }
                    },
                    subtitle: {
                        text: "Downtime Category : " + ClickedText
                    },
                    xAxis: {
                        categories: dataCategories,
                        labels: {
                            style: {
                                fontSize: '200%'
                            }
                        }
                    },
                    yAxis: [
                        {
                            gridLineWidth: 0,
                            title: {
                                text: "Percentage",
                                style: {
                                    color: '#4572A7',
                                    fontSize: '200%'
                                }
                            },
                            labels: {
                                formatter: function () {
                                    return this.value + ' %';
                                },
                                style: {
                                    color: '#4572A7'
                                }
                            },
                            opposite: true,
                            tickInterval: 10,
                            min: 0,
                            max: 100
                        },
					    {
					        title: {
					            text: isCount ? "Frequency" : "Duration (minute)",
					            style: {
					                color: '#89A54E',
					                fontSize: '200%'
					            }
					        }
					    }
                    ],
                    tooltip: {
                        shared: true
                    },
                    plotOptions: {
                        column: {
                            cursor: 'pointer',
                            point: {
                                events: {
                                    click: function () {
                                        if (allowClick) {
                                            var DowntimeID = isCount ? DowntimeCountID : DowntimeDurationID;
                                            ClickedText = dataCategories[this.x];
                                            PropBreadcrumbs.push(ClickedText);
                                            $("#companies").val(DowntimeID[this.x][0]);
                                            GetTracking(DowntimeID[this.x][1])
                                        }
                                    }
                                }
                            }
                        }
                    },
                    series: [
                        {
                            name: isCount ? "Frequency" : "Duration (minute)",
                            type: 'column',
                            yAxis: 1,
                            data: points
                        },
                        {
                            name: "Percentage",
                            type: 'spline',
                            data: percent,
                            tooltip: {
                                valueSuffix: ' %'
                            }
                        }
                    ]
                }
            );
    }

    function GoBack() {
        var PrevDowntimeID = "";
        if (Breadcrumbs.length >= 2) {
            PrevDowntimeID = Breadcrumbs.pop();
            PrevDowntimeID = Breadcrumbs.pop();
            ClickedText = PropBreadcrumbs.pop();
            ClickedText = PropBreadcrumbs.pop();
        }
        GetTracking(PrevDowntimeID);
    }

    $
        (
            function () {
                $("#companies").trigger("change");

                $(".datepicker").datetimepicker(
                    {
                        format: 'MMMM DD YYYY HH:mm'
                    });
                var Today = new Date();
                $("#startDate").data('DateTimePicker').date(Today);
                $("#finishDate").data('DateTimePicker').date(Today);

                $("#downtime-toolbox").hide();

                $("#downtime-tracking-result").hide();
            }
        );
</script>

<div class="container">
    <fieldset style="margin-top:10px">
        <legend>
            Downtime Tracking Setting
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frm-filter">
                <table class="table table-striped">
                    <tr>
                        <td>
                            Company
                        </td>
                        <td></td>
                        <td style="width:100%">
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetDivision()">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Division
                        </td>
                        <td></td>
                        <td>
                            <select id="divisions" name="division_id" class="selectpicker" onchange="GetBlock()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Block
                        </td>
                        <td></td>
                        <td>
                            <select id="blocks" name="block_id" class="selectpicker" onchange="GetMachine()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Machine
                        </td>
                        <td></td>
                        <td>
                            <select id="machines" name="machine_id" class="selectpicker"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Start Time
                        </td>
                        <td></td>
                        <td>
                            <div class="input-group date datepicker" id="startDate">
                                <input type="text" name="start_date"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            End Time
                        </td>
                        <td></td>
                        <td>
                            <div class="input-group date datepicker" id="finishDate">
                                <input type="text" name="finish_date"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>

            <div style="margin-top:10px">
                <button class="btn btn-info" onclick="GetTracking('')" type="button">
                    <span class="glyphicon glyphicon-stats"></span> Get Downtime Tracking
                </button>
            </div>
        </div>
    </fieldset>

    <fieldset style="margin-top:10px" id="downtime-tracking-result">
        <legend>Downtime Tracking</legend>
        <div id="downtime-toolbox">
            <div class="alert alert-info" role="alert">
                <b>Hints :</b>
                <ul>
                    <li>
                        Click on "Downtime Tracking" column to drill down the data
                    </li>
                    <li>
                        Click <b>Back</b> button to go to previous data
                    </li>
                    <li>
                        Click <b>Reset</b> button to go reset graph
                    </li>
                </ul>
            </div>
        </div>
        <div id="downtime-count"></div>
        <div id="downtime-duration"></div>
        <div id="downtime-action"></div>

        <nav class="navbar navbar-fixed-bottom navbar-inverse center" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#timecontrol" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-inner" id="timecontrol">
                    <ul class="nav navbar-nav" style="text-align:center">
                        <li>
                            <a href="javascript:void(0)" onclick="GoBack()">
                                <span class="glyphicon glyphicon-backward"></span>
                                Back
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="GetTracking('')">
                                <span class="glyphicon glyphicon-refresh"></span>
                                Reset
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </fieldset>
</div>

