﻿@model DaVinxi.Models.MachineComponentRegisterModel

@{
    ViewBag.Title = "Edit Machine Component " + Model.component_name;
}

<script type="text/javascript">
    $(function () {
        $("input[type='checkbox']").bootstrapSwitch
            (
                {
                    onColor: 'success',
                    onText: 'Yes',
                    offText: 'No'
                }
            );
    });
</script>

<div class="container">

    @using (Html.BeginForm("Edit", "MachineComponent", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.HiddenFor(m => m.company_id)
                @Html.HiddenFor(m => m.component_id)
            </div>

            <div>
                @Html.LabelFor(m => m.component_name)
                @Html.EditorFor(m => m.component_name,
                    new { placeholder = "Component Name" })
                @Html.ValidationMessageFor(m => m.component_name)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.unit_id)

                <select class="selectpicker" name="unit_id">
                    @foreach (DaVinxi.Models.MasterEngineeringUnits u in ViewBag.Units)
                    {
                        <option value="@u.unit_id"
                                @(string.Compare(u.unit_id, Model.unit_id, true) == 0 ? "selected" : "")>
                            @u.unit_name
                        </option>
                    }
                </select>
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.is_numeric)
                @Html.CheckBoxFor(m => m.is_numeric)
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index", "MachineComponent")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

