﻿@model IEnumerable<DaVinxi.Models.MasterMachineComponents>
    
@{
    ViewBag.Title = "Manage Machine Components";
}
<script type="text/javascript">
    $
        (
            function ()
            {
                $("#myModal .deleteConfirmed").click
                (
                    function()
                    {
                        $("#frmDelete").submit();
                    }
                );
            }
        );

    function ShowDeleteDialog(companyID,componentID,fullName)
    {
        $("#delete-message").html
            (
                "Are you sure want to delete components " + fullName + "?"
            );

        $("#deleted-id").val(componentID);
        $("#deleted-company-id").val(companyID);

        $("#myModal").modal("show");
    }
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "MachineComponent", FormMethod.Post, new { id = "frmDelete" }))
                {
                    <input type="hidden" id="deleted-id" name="componentID" />
                    <input type="hidden" id="deleted-company-id" name="companyID" />
                    <div id="delete-message"></div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning deleteConfirmed">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button class="btn btn-lg btn-default" onclick="location.href='@Url.Action("Register","MachineComponent")'">
        Add New Machine Component
    </button>

    <table class="table table-bordered table-hover" style="margin-top:15px">
        <thead style="text-align:center">
            <tr>
                <td>
                    @Html.DisplayNameFor(u => u.company_id)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.component_id)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.component_name)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.unit_id)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.is_numeric)
                </td>
                <td>
                    Edit
                </td>
                <td>
                    Delete
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        @if (ViewBag.RelatedCompanies != null &&
                            (ViewBag.RelatedCompanies as Dictionary<int, string>).ContainsKey(item.company_id))
                        {
                            @Html.Label((ViewBag.RelatedCompanies as Dictionary<int, string>)[item.company_id])
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.component_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.component_name)
                    </td>
                    <td>
                        @if (ViewBag.RelatedUnits != null &&
                            (ViewBag.RelatedUnits as Dictionary<string, string>).ContainsKey(item.unit_id))
                        {
                            @Html.Label((ViewBag.RelatedUnits as Dictionary<string, string>)[item.unit_id])
                        }
                    </td>
                    <td style="text-align:center">
                        @if (item.is_numeric)
                        {
                            <span class="glyphicon glyphicon-ok"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove"></span>
                        }
                    </td>
                    <td style="text-align:center">
                        <a href="@Url.Action("Edit", "MachineComponent",
                            new { companyID = item.company_id, id=item.component_id})">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td style="text-align:center">
                        <a href="javascript:void(0)"
                           onclick="ShowDeleteDialog(@item.company_id,'@item.component_id','@item.component_name')">
                            <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>