﻿@model DaVinxi.Models.MachineComponentRegisterModel

@{
    ViewBag.Title = "Register New Machine Component";
}

<script type="text/javascript">
    $(function () {
        $("input[type='checkbox']").bootstrapSwitch
            (
                {
                    onColor: 'success',
                    onText: 'Yes',
                    offText: 'No'
                }
            );
    });
</script>

<div class="container">

    @using (Html.BeginForm("Register", "MachineComponent", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.LabelFor(m => m.company_id)

                <select class="selectpicker" name="company_id">
                    @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                    {
                        <option value="@c.company_id">@c.company_name</option>
                    }
                </select>

                @Html.ValidationMessageFor(m => m.company_id)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.component_id)
                @Html.TextBoxFor(m => m.component_id,
                    new { placeholder = "Machine Component ID / Initial" })
                @Html.ValidationMessageFor(m => m.component_id)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.component_name)
                @Html.TextBoxFor(m => m.component_name,
                    new { placeholder = "Machine Component Name" })
                @Html.ValidationMessageFor(m => m.component_name)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.unit_id)

                <select class="selectpicker" name="unit_id">
                    @foreach (DaVinxi.Models.MasterEngineeringUnits u in ViewBag.Units)
                    {
                        <option value="@u.unit_id">[@u.unit_id] @u.unit_name</option>
                    }
                </select>
            </div>
            
            <div style="margin-top:10px">
                @Html.LabelFor(m => m.is_numeric)
                @Html.CheckBoxFor(m => m.is_numeric)
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","MachineComponent")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

