﻿@{
    ViewBag.Title = "Manage Defects";
}

<style>
    .defect-tree li {
        list-style-type:none;
        margin:0;
        padding:10px 5px 0 5px;
        position:relative
    }
    .defect-tree li::before, .defect-tree li::after {
        content:'';
        left:-20px;
        position:absolute;
        right:auto
    }
    .defect-tree ul>li::before {
        border-left:1px solid #999;
        bottom:50px;
        height:100%;
        top:0;
        width:1px
    }
    .defect-tree ul>li::after {
        border-top:1px solid #999;
        height:20px;
        top:25px;
        width:25px
    }
    
    .defect-tree li.parent_li>span {
        cursor:pointer
    }
    .defect-tree>ul>li::before, .defect-tree>ul>li::after {
        border:0
    }
    .defect-tree li:last-child::before {
        height:30px
    }
    .defect-tree li.parent_li>span:hover, .defect-tree li.parent_li>span:hover+ul li span {
        background:#eee;
        border:1px solid #94a0b4;
        color:#000
    }

    .navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}
</style>

<script type="text/javascript">
    var fullPath = '@HttpContext.Current.Request.Url.Scheme://@HttpContext.Current.Request.Url.Authority';
    function GetPath(url) {
        return (fullPath + url).replace('~','');
    }

    function GetDefectPhotos(defectID)
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDefectPhotosJSON", "HelperClass")',
                    data: { companyID: $("#companyID").val(), defectID: defectID },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#photos .carousel-indicators").html('');
                        $("#photos .carousel-inner").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#photos .carousel-indicators").append("<li data-target='#photos' data-slide-to='" + i + 
                                "' " + (i > 0 ? "" : "class='active'") + "></li>");
                            $("#photos .carousel-inner").append("<div class='item " + (i > 0 ? "" : "active") + "'>" +
                                                                    "<img src='" +
                                                                    GetPath('@DaVinxi.Models.Constant.DefectImagePath' +
                                                                        data[i].image_path) + "' /> " + "</div>");
                        }

                        $("#photos").addClass("slide");
                        $("#photos").carousel();
                        $("#photos").show();
                    }
                }
            );
    }

    function GetDefectInfo(defectID)
    {
        if (defectID != "0x000")
            $("#clicked-id").val(defectID);
        else
            $("#clicked-id").val('');

        $.ajax
                (
                    {
                        type: "POST",
                        url: '@Url.Action("GetDefectInfoJSON", "HelperClass")',
                        data: { companyID: $("#companyID").val(), defectID: defectID },
                        dataType: 'json',
                        async: true,
                        beforeSend: function (xhr) {
                            $("#defect_id").text('');
                            $("#defect_name").text('');
                            $("#data_type").text('');
                            $("#test_method").text('');
                            $("#ref_file").html('');
                            $("#pass_condition").text('');
                            $("#fail_condition").text('');
                            $("#desc").text('');
                            $("#photos").removeClass("slide");
                            $("#photos").hide();
                        }
                    }
                ).done
                (
                    function (data) {
                        if (data != null && data.length > 0) {
                            $("#defect_id").text(data[0].defect_id);
                            $("#defect_name").text(data[0].defect_name);
                            $("#data_type").text((data[0].data_type == 'c' ? 'Count' : 'Proportion'));
                            $("#test_method").text(data[0].test_method);

                            if (data[0].reference_file != null)
                                $("#ref_file").html("<a href='" + GetPath('@DaVinxi.Models.Constant.DefectRefFilePath' +
                                data[0].reference_file) + "' target='_blank'>Click here to open</a>");
                            else
                                $("#ref_file").text('None');

                            $("#pass_condition").text(data[0].pass_condition);
                            $("#fail_condition").text(data[0].fail_condition);
                            $("#desc").text(data[0].description);

                            GetDefectPhotos(defectID);

                            if ($("#" + defectID).hasClass("hasChild")) {
                                if ($("#" + defectID).hasClass("collapsed")) {
                                    $("#btn-" + defectID + " .glyphicon").addClass("glyphicon-plus-sign")
                                                            .removeClass("glyphicon-minus-sign");
                                    $("#" + defectID).removeClass("collapsed").html("");
                                }
                                else
                                {
                                    GetDefects(defectID);
                                    $("#btn-" + defectID + " .glyphicon").removeClass("glyphicon-plus-sign")
                                        .addClass("glyphicon-minus-sign");
                                    $("#" + defectID).addClass("collapsed");
                                }
                            }

                            
                            if (defectID != 'root-node') {
                                $(".AddChild").show().click
                                    (
                                        function()
                                        {
                                            AddDefect(data[0].defect_id);
                                        }
                                    );
                                $(".UpdateDefect").show();
                                $(".DeleteDefect").show();
                            }
                            else
                            {
                                $(".AddChild").hide();
                                $(".UpdateDefect").hide();
                                $(".DeleteDefect").hide();
                            }
                        }
                    }
                );
    }

    function GetDefects(defectID) {
        if (defectID != "0x000")
            $("#clicked-id").val(defectID);
        else
            $("#clicked-id").val('');

        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDefectsJSON","HelperClass")',
                    data: { companyID: $("#companyID").val(), parentID: defectID },
                    dataType: 'json',
                    async: false
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var SignStr = "<span class='glyphicon glyphicon-certificate'></span> ";
                            if (data[i].count > 0)
                                SignStr = "<span class='glyphicon glyphicon-plus-sign'></span> ";

                            $("#" + defectID).append("<li><button id='btn-" + data[i].defect.defect_id +
                                "' class='btn btn-default " + (data[i].defect.defect_id!="root-node" ? "tree-node" : "") +
                                "' onclick=\"GetDefectInfo('" + data[i].defect.defect_id + "')\">" +
                                SignStr + data[i].defect.defect_name +
                                "</button><ul id='" + data[i].defect.defect_id + "' class='defect-tree " +
                                (data[i].count > 0 ? "hasChild" : "") + "'></ul></li>");
                        }
                        $(".tree-node").contextmenu
                            (
                                {
                                    target: "#context-menu",
                                    before:function(e, element){
                                        $("#clicked-id").val($(e.target).parent("li").find("ul").attr("id"));
                                        return true;
                                    }
                                }
                            );
                    }
                }
            );
    }

    function AddDefect(defectID)
    {
        if (defectID == null || defectID.length <= 0)
            defectID = $("#clicked-id").val();

        location.href = '/Defect/Register?companyID=' + $("#companyID").val() + '&parentID=' + defectID;
    }

    function DeleteDefect()
    {
        location.href = "/Defect/Delete?companyID=" + $("#companyID").val() + "&defectID=" + $("#clicked-id").val();
    }

    function UpdateDefect() {
        location.href = "/Defect/Update?companyID=" + $("#companyID").val() + "&defectID=" + $("#clicked-id").val();
    }

    function GetBreadcrumbs()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetBreadCrumb")',
                    data: { companyID: $("#companyID").val() },
                    dataType: 'json',
                    async: false
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        for(var i=data.length-1;i>=0;i--)
                        {
                            $("#btn-" + data[i]).trigger("click");
                            $("#btn-" + data[i]).focus();
                        }
                    }
                }
            );
    }

    $
        (
            function () {
                $("#companyID").trigger("change");
                $("#photos").hide();
                $(".AddChild").hide();
                $(".UpdateDefect").hide();
                $(".DeleteDefect").hide();
                GetBreadcrumbs();

                $("#context-menu > ul > li").css("cursor", "pointer");
            }
        );
</script>

<div id="context-menu">
    <ul class="dropdown-menu" role="menu">
        <li>
            <a tabindex="-1" class="ctx-add-child" onclick="AddDefect(null)">
                <span class="glyphicon glyphicon-plus-sign"></span> Add Sub-defect
            </a>
        </li>
        <li>
            <a tabindex="-1" class="ctx-update" onclick="UpdateDefect()">
                <span class="glyphicon glyphicon-retweet"></span> Update
            </a>
        </li>
        <li>
            <a tabindex="-1" class="ctx-delete" onclick="DeleteDefect()">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </a>
        </li>
    </ul>
</div>

<div class="container">
    <fieldset>
        <legend>Manage Defects</legend>
        <div style="margin-bottom:10px">
            @Html.Label("Company")

            <select class="selectpicker" id="companyID" name="company_id" onchange="GetDefects('0x0000');">
                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                {
                    <option value="@c.company_id">@c.company_name</option>
                }
            </select>
        </div>

        <div>
            <nav class="navbar navbar-fixed-bottom navbar-inverse center" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed btn-info" data-toggle="collapse" data-target="#defect-control" aria-expanded="false">
                            Defect Menu
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-inner" id="defect-control">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="javascript:void(0)" onclick="AddDefect('0x0000')">
                                    <span class="glyphicon glyphicon-plus"></span> Add Defect
                                </a>
                            </li>
                            <li class="AddChild">
                                <a href="javascript:void(0)">
                                    <span class="glyphicon glyphicon-plus-sign"></span> Add Sub-defect
                                </a>
                            </li>
                            <li class="UpdateDefect">
                                <a href="javascript:void(0)" onclick="UpdateDefect()">
                                    <span class="glyphicon glyphicon-retweet"></span> Update
                                </a>
                            </li>
                            <li class="DeleteDefect">
                                <a href="javascript:void(0)" onclick="DeleteDefect()">
                                    <span class="glyphicon glyphicon-trash"></span> Delete
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div id="tree-table" class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Defect Tree
                </div>
                <div class="panel-body" style="max-height:450px;overflow-y:auto">
                    <ul id="0x0000" class="defect-tree"></ul>
                </div>
            </div>
        </div>

        <div id="node-info" class="col-md-6">
            <div class="panel panel-info">
            <div class="panel-heading">
                Defect Detail Information
            </div>
                <div class="panel-body">
                    <div id="photos" class="carousel" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#photos" data-slide-to="0" class="active"></li>
                        </ol>

                        <div class="carousel-inner">
                            <img src="" />
                        </div>

                        <a class="left carousel-control" href="#photos" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#photos" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>

                    <table class="table">
                        <tr>
                            <td>Defect ID</td>
                            <td>:</td>
                            <td id="defect_id"></td>
                        </tr>
                        <tr>
                            <td>Defect Name</td>
                            <td>:</td>
                            <td id="defect_name"></td>
                        </tr>
                        <tr>
                            <td>Data Type</td>
                            <td>:</td>
                            <td id="data_type"></td>
                        </tr>
                        <tr>
                            <td>Test Method</td>
                            <td>:</td>
                            <td><pre id="test_method"></pre></td>
                        </tr>
                        <tr>
                            <td>Reference File</td>
                            <td>:</td>
                            <td id="ref_file"></td>
                        </tr>
                        <tr>
                            <td>Pass Condition</td>
                            <td>:</td>
                            <td><pre id="pass_condition"></pre></td>
                        </tr>
                        <tr>
                            <td>Fail Condition</td>
                            <td>:</td>
                            <td><pre id="fail_condition"></pre></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>:</td>
                            <td><pre id="desc"></pre></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
</div>