﻿@model DaVinxi.Models.MasterDefect

@{
    ViewBag.Title = "Register New Defect";
}

<script type="text/javascript">
    $
        (
            function()
            {
                $(":file").fileinput
                    (
                        {
                            showUpload:false
                        }
                    );
            }
        );
</script>

<div class="container">

    @using (Html.BeginForm("Register", "Defect", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
                @Html.HiddenFor(m => m.company_id)
                @Html.HiddenFor(m => m.parent_defect_id)
                @Html.HiddenFor(m => m.created_date)
                @Html.HiddenFor(m => m.revised_date)
                @Html.HiddenFor(m => m.revised_by)
            </div>

            <div>
                @Html.LabelFor(m => m.defect_id)
                @Html.TextBoxFor(m => m.defect_id)
                @Html.ValidationMessageFor(m => m.defect_id)
            </div>

            <div>
                @Html.LabelFor(m => m.defect_name)
                @Html.TextBoxFor(m => m.defect_name)
                @Html.ValidationMessageFor(m => m.defect_name)
            </div>

            <div>
                @Html.LabelFor(m => m.data_type)

                <select class="selectpicker" name="data_type">
                    <option value="c">Count</option>
                    <option value="p">Proportion</option>
                </select>
            </div>

            <div>
                @Html.LabelFor(m => m.test_method)
                @Html.TextAreaFor(m => m.test_method)
                @Html.ValidationMessageFor(m => m.test_method)
            </div>

            <div>
                @Html.LabelFor(m => m.reference_file)
                <input type="file" accept="application/pdf" name="ref_file" />
            </div>

            <div>
                @Html.LabelFor(m => m.pass_condition)
                @Html.TextAreaFor(m => m.pass_condition)
                @Html.ValidationMessageFor(m => m.pass_condition)
            </div>

            <div>
                @Html.LabelFor(m => m.fail_condition)
                @Html.TextAreaFor(m => m.fail_condition)
                @Html.ValidationMessageFor(m => m.fail_condition)
            </div>

            <div>
                @Html.LabelFor(m => m.description)
                @Html.TextAreaFor(m => m.description)
            </div>

            <div>
                @Html.Label("Photo(s) (optional)")
                <input type="file" id="photos" name="photos" multiple accept="image/*"/>
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","Defect")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

