﻿@model DaVinxi.Models.MasterDefect

@{
    ViewBag.Title = "Update Defect " + Model.defect_name;
}

<style>
    .right-corner{
        top:0;
        right:0;
        position:absolute;
    }

    .boxed {
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }

    .thumbs{
        max-height:100px;
        max-width:178px;
    }
</style>

<script type="text/javascript">
    function GetDefectPhotos()
    {
        var Path = '@DaVinxi.Models.Constant.DefectImagePath';
        Path = Path.replace("~", "");
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDefectPhotosJSON", "HelperClass")',
                    data: { companyID: $("#companyID").val(), defectID: $("#defectID").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend:function(xhr)
                    {
                        $("#current-photos").html('');
                        $("#fieldset-photos").hide();
                    }
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        for(var i=0;i<data.length;i++)
                        {
                            $("#current-photos").append
                                (
                                    "<div class='col-md-2' style='margin-top:10px' id='" + data[i].photo_id + "'>"
                                    + "<button class='btn btn-small btn-danger right-corner' "
                                    + "type='button' onclick=\"DeleteSinglePhoto('" + data[i].photo_id + "')\">"
                                    + "<span class='glyphicon glyphicon-trash'></span>"
                                    + "</button>"
                                    + "<img src='" + Path + data[i].image_path + "' class='thumbs'/>"
                                    + "</div>"
                                );
                        }
                        $("#fieldset-photos").show();
                    }
                }
            );
    }

    function DeleteRefFile()
    {
        if (confirm("Do you want to delete this reference file?")) {
            $.ajax
                (
                    {
                        type: "POST",
                        url: '@Url.Action("DeleteRefFile")',
                        data: { companyID: $("#companyID").val(), defectID: $("#defectID").val() },
                        async: false
                    }
                ).done
                (
                    function (data) {
                        $("#ref-file").val(null);
                        $("#del-ref-file").hide();
                    }
                );
        }
    }

    function DeleteSinglePhoto(photoID)
    {
        if (confirm("Do you want to delete this photo?")) {
            $.ajax
                (
                    {
                        type: "POST",
                        url: '@Url.Action("DeleteSinglePhoto")',
                        data: { companyID: $("#companyID").val(), photoID: photoID },
                        async: false
                    }
                ).done
                (
                    function (data) {
                        $("#" + photoID).remove();
                    }
                );
        }
    }

    function DeleteAllPhotos() {
        if (confirm("Do you want to delete all photo(s)?")) {
            $.ajax
                (
                    {
                        type: "POST",
                        url: '@Url.Action("DeleteAllPhotos")',
                        data: { companyID: $("#companyID").val(), defectID: $("#defectID").val() },
                        async: false
                    }
                ).done
                (
                    function (data) {
                        $("#fieldset-photos").hide();
                        $("#current-photos").html('');
                    }
                );
        }
    }

    $
        (
            function()
            {
                $(".container > form > fieldset > div").css("margin-top", "10px");
                $("textarea").attr("cols", "60");
                $("textarea").attr("wrap", "hard");

                $(":file").fileinput
                    (
                        {
                            showUpload: false
                        }
                    );

                GetDefectPhotos();
            }
        );
</script>

<div class="container">

    @using (Html.BeginForm("Update", "Defect", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
                @Html.HiddenFor(m => m.defect_id, new { id = "defectID" })
                @Html.HiddenFor(m => m.company_id, new { id = "companyID" })
                @Html.HiddenFor(m => m.reference_file, new { id = "ref-file" })
                @Html.HiddenFor(m => m.created_date)
                @Html.HiddenFor(m => m.revised_date)
                @Html.HiddenFor(m => m.revised_by)
            </div>

            <div>
                @Html.LabelFor(m => m.parent_defect_id)

                <select class="selectpicker" id="parentDefect" name="parent_defect_id">
                    <option value="0x0000">Insert as new defect category</option>
                    @foreach (DaVinxi.Models.MasterDefect c in ViewBag.AvailableDefect)
                    {
                        <option value="@c.defect_id" @(string.Compare(Model.parent_defect_id,c.defect_id,true)==0 ? "selected" : "")>
                            [@c.defect_id] @c.defect_name
                        </option>
                    }
                </select>

                @Html.ValidationMessageFor(m => m.parent_defect_id)
            </div>

            <div>
                @Html.LabelFor(m => m.defect_name)
                @Html.TextBoxFor(m => m.defect_name)
                @Html.ValidationMessageFor(m => m.defect_name)
            </div>

            <div>
                @Html.LabelFor(m => m.data_type)

                <select class="selectpicker" name="data_type" id="dataType">
                    <option value="c" @(string.Compare(Model.data_type, "c", true) == 0 ? "selected" : "")>Count</option>
                    <option value="p" @(string.Compare(Model.data_type, "p", true) == 0 ? "selected" : "")>Proportion</option>
                </select>
            </div>

            <div>
                @Html.LabelFor(m => m.test_method)
                @Html.TextAreaFor(m => m.test_method)
                @Html.ValidationMessageFor(m => m.test_method)
            </div>

            <div>
                @Html.LabelFor(m => m.reference_file)
                <input type="file" accept="application/pdf" name="ref_file" />
                @if (Model.reference_file != null && Model.reference_file.Length > 0)
                {
                    <div id="del-ref-file">
                        <a href="@Url.Content(Path.Combine(DaVinxi.Models.Constant.DefectRefFilePath,Model.reference_file))" target="_blank">
                            Click here to open reference file
                        </a>
                        <button class="btn btn-danger" id="delRefFile" onclick="DeleteRefFile()" type="button">
                            <span class="glyphicon glyphicon-trash"></span> Remove current reference file
                        </button>
                    </div>
                }
            </div>

            <div>
                @Html.LabelFor(m => m.pass_condition)
                @Html.TextAreaFor(m => m.pass_condition)
                @Html.ValidationMessageFor(m => m.pass_condition)
            </div>

            <div>
                @Html.LabelFor(m => m.fail_condition)
                @Html.TextAreaFor(m => m.fail_condition)
                @Html.ValidationMessageFor(m => m.fail_condition)
            </div>

            <div>
                @Html.LabelFor(m => m.description)
                @Html.TextAreaFor(m => m.description)
            </div>

            <div>
                @Html.Label("Add Photo(s) (optional)")
                <input type="file" id="photos" name="photos" multiple accept="image/*" />

                <fieldset id="fieldset-photos" style="margin-top:10px">
                    <legend>
                        Current Photo(s) 
                        <button class="btn btn-danger btn-small" onclick="DeleteAllPhotos()" type="button">
                            <span class="glyphicon glyphicon-trash"></span> Delete all photo(s)
                        </button>
                    </legend>
                    <div id="current-photos"></div>
                </fieldset>
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","Defect")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
