﻿
@{
    ViewBag.Title = "SKU's Property Setting";
}

<script type="text/javascript">
    function GetSKU() {
       $('#skus').ajaxSelectPicker({
            ajax: {
                type: 'POST',
                url: '@Url.Action("GetSKUJSON", "HelperClass")',
                dataType: 'json',
                data: {
                    companyID: $("#companies").val(),
                    skuID: '{{{q}}}'
                },
                async: true
            },
            preprocessData: function (results) {
                var Products = [];
                if (results.length > 0) {
                    for (var i = 0; i < results.length; i++) {
                        Products.push
                            (
                                {
                                    value: results[i].sku_id,
                                    text: "[" + results[i].sku_id + "] " + results[i].sku_name,
                                    disable: false
                                }
                            );
                    }
                }
                return Products;
            },
            placeHolderOption: 'Click and start typing',
            preserveSelected: false
        });
    }

    function GetProperties() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetPropertySettingJSON", "HelperClass")',
                    data: {
                        companyID: $("#companies").val(), skuID: $("#skus").val()
                    },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#tbl-properties").html('');
                        $("#properties-wrapper .simulate").hide();
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        var Line = "",
                            Header = "<tr style='text-align:center;font-weight:bold;font-size:large' class='active'>" +
                                "<td rowspan='2'>Property Name</td>" +
                                "<td colspan='2'>Reject Limit</td>" +
                                "<td colspan='2'>Sigma</td>" +
                                "<td colspan='3'>Control Limit</td>" +
                                "<td colspan='2'>Map-Index</td>" +
                                "<td rowspan='2'>Skew</td>" +
                                "<td rowspan='2'>QI</td> " +
                                "<td rowspan='2'>Edit</td>" +
                                "</tr>" +
                                "<tr style='text-align:center'>" +
                                "<td>Lower</td>" +
                                "<td>Upper</td>" +
                                "<td>Sigma</td>" +
                                "<td>Multiplier</td>" +
                                "<td>Target</td>" +
                                "<td>Lower</td>" +
                                "<td>Upper</td>" +
                                "<td>Lower</td>" +
                                "<td>Upper</td>" +
                                "</tr>";

                        for (var i = 0; i < data.length; i++) {
                            Line = Header;
                            Line += "<tr style='text-align:right' id='" + data[i].property_id + "'>";
                            Line += "<td class='property_name' style='text-align:left'>" + data[i].property_name + "</td>";
                            Line += "<td class='lrl changeable'>" + data[i].lrl +
                                "<input type='hidden' class='property_id' value='" + data[i].property_id + "'/></td>";
                            Line += "<td class='url changeable'>" + data[i].url + "</td>";
                            Line += "<td class='sigma changeable'>" + data[i].sigma + "</td>";
                            Line += "<td class='sigmax changeable'>" + data[i].sigma_multiplier + "</td>";
                            Line += "<td class='target changeable'>" + data[i].target + "</td>";
                            Line += "<td class='lcl changeable'>" + data[i].lcl + "</td>";
                            Line += "<td class='ucl changeable'>" + data[i].ucl + "</td>";
                            Line += "<td class='ll changeable'>" + data[i].lower_map + "</td>";
                            Line += "<td class='rl changeable'>" + data[i].upper_map + "</td>";
                            Line += "<td class='weight changeable'>" + data[i].weight + "</td>";
                            Line += "<td style='text-align:center'><a href='javascript:void(0)' onclick='ShowHideQI(\"" +
                                    data[i].property_id + "\")' class='qi-toogle'>" +
                                    "Show <span class='glyphicon glyphicon-chevron-down'></span></a></td>";
                            Line += "<td style='text-align:center'><a href='javascript:void(0)' onclick='ChangeValues(\"" +
                                data[i].property_id + "\",\"" + data[i].property_name +
                                "\")'><span class='glyphicon glyphicon-pencil'></span></a></td>";
                            Line += "</tr>";
                            Line += "<tr class='qi_map' id='map_" + data[i].property_id +
                                        "'><td></td><td class='map_container' colspan='14'></td></tr>";
                            $("#tbl-properties").append(Line);
                        }

                        $(".changeable").dblclick
                            (
                                function () {
                                    var ID = $(this).parent("tr").attr("id"), attribName = "",
                                        attrib = $(this).attr("class").split(" ")[0];

                                    if (attrib == 'lrl')
                                        attribName = "Lower Reject Limit";
                                    else if (attrib == 'url')
                                        attribName = "Upper Reject Limit";
                                    else if (attrib == 'sigma')
                                        attribName = "Sigma";
                                    else if (attrib == 'sigmax')
                                        attribName = "Sigma Multiplier";
                                    else if (attrib == 'lcl')
                                        attribName = "Lower Control Limit";
                                    else if (attrib == 'ucl')
                                        attribName = "Upper Control Limit";
                                    else if (attrib == 'target')
                                        attribName = "Target";
                                    else if (attrib == 'll')
                                        attribName = "Lower Map";
                                    else if (attrib == 'rl')
                                        attribName = "Upper Map";
                                    else if (attrib == 'weight')
                                        attribName = "Property Weight";

                                    ShowEditDialog(ID, $("#" + ID).find(".property_name").text(),
                                        attrib, attribName, $(this).text());
                                }
                            ).css("cursor", "pointer").addClass("info");

                        $(".qi_map").hide();
                        $("#properties-wrapper .simulate").show();
                        //ShowHideFilter();
                    }
                }
            );
    }

    /*function CalculateProcessCapability(propertyID) {
        var URL = Number($("#" + propertyID + " .url").text());
        var LRL = Number(Number($("#" + propertyID + " .lrl").text()));
        var SigmaCount = Number($("#" + propertyID + " .sigmax").text());
        var Sigma = Number($("#" + propertyID + " .sigma").text());
        var Target = Number($("#" + propertyID + " .target").text());

        var OldCp = Number($("#" + propertyID + " .cp").text());
        var Cp = (URL - LRL) / (SigmaCount * 2 * Sigma);
        Cp = Cp.toFixed(2);

        if (OldCp != Cp) {
            $("#new-data-value").val(Cp);
            $("#attrib-changed").val("cp");
            $("#property-changed").val(propertyID);

            SaveSingleProperty();
        }

        var Cpk1 = (URL - Target) / (SigmaCount * Sigma);
        var Cpk2 = (Target - LRL) / (SigmaCount * Sigma);
        var OldCpk = Number($("#" + propertyID + " .cpk").text());
        var NewCpk = OldCpk;

        if ((Cpk1 <= Cpk2) && (OldCpk != Cpk1))
            NewCpk = Cpk1;
        else if ((Cpk1 > Cpk2) && (OldCpk != Cpk2))
            NewCpk = Cpk2;

        NewCpk = NewCpk.toFixed(2);

        if (OldCpk != NewCpk) {
            $("#new-data-value").val(NewCpk);
            $("#attrib-changed").val("cpk");
            $("#property-changed").val(propertyID);

            SaveSingleProperty();
        }
    }*/

    function ShowHideQI(propertyID) {
        if ($("#map_" + propertyID).hasClass("showed")) {
            $("#map_" + propertyID).removeClass("showed");
            $("#map_" + propertyID).hide(400, 'easeInQuad');
            $("#" + propertyID + " .qi-toogle").html("Show <span class='glyphicon glyphicon-chevron-down'></span>");
        }
        else {
            $("#map_" + propertyID).addClass("showed");
            $("#map_" + propertyID).show(400,'easeInQuad');
            $("#" + propertyID + " .qi-toogle").html("Hide <span class='glyphicon glyphicon-chevron-up'></span>");
            DrawQI(propertyID);
        }
    }

    function DrawQI(propertyID) {
        var Target = Number($("#" + propertyID + " .target").text()),
					URL = Number($("#" + propertyID + " .url").text()),
					LRL = Number($("#" + propertyID + " .lrl").text()),
					UCL = Number($("#" + propertyID + " .ucl").text()),
					LCL = Number($("#" + propertyID + " .lcl").text()),
					RL = Number($("#" + propertyID + " .ll").text()),
					RR = Number($("#" + propertyID + " .rl").text()),
					PropertyName = $("#" + propertyID + " .property_name").text();


        var RLPoint = [[LRL, 0], [LRL, 1], null, [URL, 0], [URL, 1]];
        
        var CLPoint = [[LCL, 0], [LCL, 1], null, [UCL, 0], [UCL, 1]];

        var TargetPoint = [[Target, 0], [Target, 1]];

        var MinX = (LRL < LCL ? LRL : LCL) - 0.5;
        var MaxX = (URL > UCL ? URL : UCL) + 0.5;

        var Points = [], LoopStep = 0.01;

        if (Target != NaN && LRL != NaN && (LRL < Target)) {
            LoopStep = Number(((Target - LRL) / 100).toFixed(2));
            if (LoopStep <= 0)
                LoopStep = 0.01;
            for (var i = LRL; i < Target; i += LoopStep) {
                var Value = Math.pow((i - LRL) / (Target - LRL), RL);
                Points.push([i, Number(Value.toFixed(2))]);
            }
        }

        if (Target != NaN && URL != NaN && (Target < URL)) {
            LoopStep = Number(((URL - Target) / 100).toFixed(2));
            if (LoopStep <= 0)
                LoopStep = 0.01;
            for (var i = Target; i <= URL; i += LoopStep) {
                var Value = Math.pow((URL - i) / (URL - Target), RR);
                Points.push([i, Number(Value.toFixed(2))]);
            }
        }

        $("#map_" + propertyID + " .map_container").highcharts
            (
                {
                    chart:
                    {
                        type: 'spline',
                        marginTop: 70,
                        zoomType: 'xy'
                    },
                    title:
                    {
                        text: $("#skus option:selected").text() + "<br/>" +
                                PropertyName + " Setting"
                    },
                    xAxis:
                    {
                        min: MinX,
                        max: MaxX
                    },
                    yAxis:
                    {
                        title:
                        {
                            text: "Quality Index"
                        },
                        max: 1,
                        min: 0
                    },
                    plotOptions: {
                        spline: {
                            lineWidth: 2,
                            states: {
                                hover: {
                                    lineWidth: 3
                                }
                            },
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    series:
                    [
                        {
                            name: 'Reject Limit',
                            data: RLPoint
                        },
                        {
                            name: 'Control Limit',
                            data: CLPoint
                        },
                        {
                            name: 'Target',
                            data: TargetPoint
                        },
                        {
                            name: 'Quality Mapping',
                            data: Points,
                            color: 'red'
                        }
                    ]
                }
            );
    }

    function ShowEditDialog(propertyID, propertyName, attrib, attribName, value) {
        ChangeValues(propertyID, propertyName);
        $("#modal-change-values tr").hide();
        $("#modal-change-values ." + attrib).show();
    }

    function ChangeValues(propertyID, propertyName) {
        $("#modal-change-values tr").show();
        $("#modal-change-values .modal-title").text("Change " + propertyName + " Setting");
        $("#modal-change-values .change-property-id").val(propertyID);
        $("#modal-change-values .change-company-id").val($("#companies").val());
        $("#modal-change-values .change-sku-id").val($("#skus").val());
        $("#modal-change-values .change-lrl").val($("#" + propertyID + " .lrl").text());
        $("#modal-change-values .change-url").val($("#" + propertyID + " .url").text());
        $("#modal-change-values .change-sigma").val($("#" + propertyID + " .sigma").text()).change
            (
                function () {
                    var Target = Number($("#modal-change-values .change-target").val()),
                        Sigma = Number($("#modal-change-values .change-sigma").val()),
                        SigmaX = Number($("#modal-change-values .change-sigmax").val());
                    $("#modal-change-values .change-lcl").val((Target - (SigmaX * Sigma)).toFixed(2));
                    $("#modal-change-values .change-ucl").val((Target + (SigmaX * Sigma)).toFixed(2));
                }
            );

        $("#modal-change-values .change-sigmax").val($("#" + propertyID + " .sigmax").text()).change
            (
                function () {
                    var Target = Number($("#modal-change-values .change-target").val()),
                        Sigma = Number($("#modal-change-values .change-sigma").val()),
                        SigmaX = Number($("#modal-change-values .change-sigmax").val());
                    $("#modal-change-values .change-lcl").val((Target - (SigmaX * Sigma)).toFixed(2));
                    $("#modal-change-values .change-ucl").val((Target + (SigmaX * Sigma)).toFixed(2));
                }
            );

        $("#modal-change-values .change-lcl").val($("#" + propertyID + " .lcl").text()).change
            (
                function () {
                    var LCL = Number($("#modal-change-values .change-lcl").val()),
                        Sigma = Number($("#modal-change-values .change-sigma").val()),
                        SigmaX = Number($("#modal-change-values .change-sigmax").val());
                    $("#modal-change-values .change-target").val((LCL + (SigmaX * Sigma)).toFixed(2));
                    $("#modal-change-values .change-ucl").val((LCL + (2 * SigmaX * Sigma)).toFixed(2));
                }
            );

        $("#modal-change-values .change-ucl").val($("#" + propertyID + " .ucl").text()).change
            (
                function () {
                    var UCL = Number($("#modal-change-values .change-ucl").val()),
                        Sigma = Number($("#modal-change-values .change-sigma").val()),
                        SigmaX = Number($("#modal-change-values .change-sigmax").val());
                    $("#modal-change-values .change-target").val((UCL - (SigmaX * Sigma)).toFixed(2));
                    $("#modal-change-values .change-lcl").val((UCL - (2 * SigmaX * Sigma)).toFixed(2));
                }
            );

        $("#modal-change-values .change-target").val($("#" + propertyID + " .target").text()).change
            (
                function () {
                    var Target = Number($("#modal-change-values .change-target").val()),
                        Sigma = Number($("#modal-change-values .change-sigma").val()),
                        SigmaX = Number($("#modal-change-values .change-sigmax").val());
                    $("#modal-change-values .change-lcl").val((Target - (SigmaX * Sigma)).toFixed(2));
                    $("#modal-change-values .change-ucl").val((Target + (SigmaX * Sigma)).toFixed(2));
                }
            );

        $("#modal-change-values .change-lower-map").val($("#" + propertyID + " .ll").text());
        $("#modal-change-values .change-upper-map").val($("#" + propertyID + " .rl").text());
        $("#modal-change-values .change-weight").val($("#" + propertyID + " .weight").text());

        $("#modal-change-values").modal("show");
    }

    function SaveSingleProperty() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("SaveSingleProperty", "HelperClass")',
                    data: {
                        companyID: $("#companies").val(),
                        skuID: $("#skus").val(),
                        propertyID: $("#property-changed").val(),
                        attrib: $("#attrib-changed").val(),
                        newValue: $("#new-data-value").val()
                    },
                    async: false
                }
            ).done
            (
                function (data) {
                    if (data != null) {
                        if (data == '0x000') {
                            $("#" + $("#property-changed").val()).find(
                                "." + $("#attrib-changed").val()).text($("#new-data-value").val());
                            //CalculateProcessCapability($("#property-changed").val());

                            if ($("#map_" + $("#property-changed").val()).hasClass("showed"))
                                DrawQI($("#property-changed").val());
                        }
                    }
                    $("#modal-change-single-value").modal("hide");
                }
            );
    }

    function SaveSetting() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("SavePropertySetting", "HelperClass")',
                    data: $("#modal-change-values .change-values").serialize(),
                    async: false
                }
            ).done
            (
                function (data) {
                    if (data != null) {
                        if (data == '0x000') {
                            $("#modal-change-values tr").show();
                            var propertyID = $("#modal-change-values .change-property-id").val();
                            $("#" + propertyID + " .lrl").text($("#modal-change-values .change-lrl").val());
                            $("#" + propertyID + " .url").text($("#modal-change-values .change-url").val());
                            $("#" + propertyID + " .sigma").text($("#modal-change-values .change-sigma").val());
                            $("#" + propertyID + " .sigmax").text($("#modal-change-values .change-sigmax").val());
                            $("#" + propertyID + " .lcl").text($("#modal-change-values .change-lcl").val());
                            $("#" + propertyID + " .ucl").text($("#modal-change-values .change-ucl").val());
                            $("#" + propertyID + " .target").text($("#modal-change-values .change-target").val());
                            $("#" + propertyID + " .ll").text($("#modal-change-values .change-lower-map").val());
                            $("#" + propertyID + " .rl").text($("#modal-change-values .change-upper-map").val());
                            $("#" + propertyID + " .weight").text($("#modal-change-values .change-weight").val());
                            //CalculateProcessCapability($("#modal-change-values .change-property-id").val());

                            if ($("#map_" + propertyID).hasClass("showed"))
                                DrawQI(propertyID);
                        }
                    }
                    $("#modal-change-values").modal("hide");
                }
            );
    }

    function GetMachines()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: {companyID : $("#companies").val()},
                    async: false
                }
            ).done
            (
                function (data) {
                    var Line = "";
                    if (data != null) {
                        for(var i=0;i<data.length;i++)
                        {
                            Line+="<option value='" + data[i].machine.machine_id + "'>" +
                                data[i].machine.machine_name + "</option>";
                        }
                    }
                    $("#modal-simulate .selectpicker1").html(Line);
                }
            );
    }

    function OpenSimulationForm()
    {
        var Index = 0;
        $("#modal-simulate .simLine").remove();
        $("#modal-simulate input[name=simCompany]").val($("#companies").val());
        $("#modal-simulate input[name=simSKU]").val($("#skus").val());
        GetMachines();
        $("#tbl-properties .property_id").each(
                function ()
                {
                    var Line = "";
                    Line += "<tr class='simLine'>";
                    Line += "<td><input type='hidden' name='simProp.id' value='" + Index + "'/>" +
                        "<input type='hidden' name='simProp[" + Index + "].property_id' value='" + $(this).val() + "'/>" +
                        $("#" + $(this).val() + " .property_name").text() + "</td>";
                    Line += "<td><input type='number' class='numericControl form-control' value='" +
                        $("#" + $(this).val() + " .target").text() + "' name='simProp[" + Index + "].target'/></td>";
                    Line += "<td><input type='number' class='numericControl form-control' value='" +
                        $("#" + $(this).val() + " .sigma").text() + "' name='simProp[" + Index + "].sigma'/></td>";
                    Line += "<td><input type='number' class='numericControl form-control' value='" +
                        $("#" + $(this).val() + " .sigmax").text() + "' name='simProp[" + Index + "].sigmax'/></td>";
                    Line += "</tr>";
                    $("#modal-simulate .table").append(Line);
                    Index++;
                }
            );

        $("#modal-simulate .modal-title").text("Simulate data for " + $("#skus option:selected").text());
        $("#modal-simulate .selectpicker1").selectpicker('refresh');
        $("#modal-simulate").modal("show");
    }

    function Simulate()
    {
        $.ajax
                (
                    {
                        type: "POST",
                        url: '@Url.Action("Simulate", "SKUPropertySetting")',
                        data: $("#modal-simulate .frm-simulation").serialize(),
                        beforeSend: function (xhr)
                        {
                            $("#modal-simulate").modal("hide");
                            $("#modal-progress").modal("show");
                        }
                    }
                ).done
                (
                    function (data) {
                        if(data!="0x000")
                            alert('Failed');
                        $("#modal-progress").modal("hide");
                    }
                );
    }

    var ShowFilter = true;
    function ShowHideFilter() {
        ShowFilter = !ShowFilter;

        if (ShowFilter) {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    $
        (
            function()
            {
                $(".numericControl").addClass("form-control");
                $(".ui-spinner").css("width", "100%");
                $(".ui-spinner-input").css("width", "90%");
                $('.ui-spinner-button').click(function () {
                    $(this).siblings('input').change();
                });
                GetSKU();
                $("#modal-simulate .selectpicker1").selectpicker();
                $(".datepicker").datetimepicker({
                    format: 'MMMM DD YYYY HH:mm'
                }).data('DateTimePicker').date(new Date());
                

                $("#properties-wrapper .simulate").hide();

                $("#modal-progress .progress-bar").progressbar({
                    value: false,
                    change: function () {
                        $("#modal-progress .progress-label").text($("#modal-progress .progress-bar").progressbar("value") + "%");
                    },
                    complete: function () {
                        progressLabel.text("Complete!");
                    }
                });
            }
        );
</script>

<div class="modal fade" id="modal-simulate" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <form class="frm-simulation">
                    <input type="hidden" name="simCompany" />
                    <input type="hidden" name="simSKU" />
                    <table class="table">
                        <tr>
                            <td>Iteration</td>
                            <td><input type="number" name="simIteration" class="numericControl" value="1" /></td>
                        </tr>
                        <tr>
                            <td>Machine</td>
                            <td colspan="3"><select class="selectpicker1" name="simMachine" data-live-search="true"></select></td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td colspan="3">
                                <div class="input-group date datepicker" data-date-format="MMMM DD YYYY HH:mm">
                                    <input type="text" name="simDate" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>@@Product Duration (minutes)</td>
                            <td><input type="number" name="simDuration" class="numericControl" value="40" /></td>
                        </tr>
                        <tr>
                            <td>@@Product Weight (Kilogram)</td>
                            <td><input type="number" name="simWeight" class="numericControl" value="3500" /></td>
                        </tr>
                        <tr class="text-center">
                            <td>Property</td>
                            <td>Target</td>
                            <td>Sigma</td>
                            <td>Sigma Multiplier</td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submit-simulation" onclick="Simulate()">Simulate</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-change-single-value">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <td>Old value</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td id="old-data-value"></td>
                    </tr>
                    <tr>
                        <td>New value</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>
                            <input type="number" class="numericControl" id="new-data-value" />
                            <input type="hidden" id="attrib-changed" />
                            <input type="hidden" id="property-changed" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveSingleProperty()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-change-values">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body" id="modal-body">
                <form class="change-values">
                    <input type="hidden" class="change-company-id" name="companyID" />
                    <input type="hidden" class="change-sku-id" name="skuID" />
                    <input type="hidden" class="change-property-id" name="propertyID"/>
                    <table class="table">
                        <tr class="lrl">
                            <td>Lower Reject limit</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td><input type="number" class="numericControl change-lrl" name="lrl" /></td>
                        </tr>
                        <tr class="url">
                            <td>Upper Reject limit</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td><input type="number" class="numericControl change-url" name="url" /></td>
                        </tr>
                        <tr class="sigma">
                            <td>Sigma</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td><input type="number" class="numericControl change-sigma" name="sigma" /></td>
                        </tr>
                        <tr class="sigmax">
                            <td>Sigma Multiplier</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td><input type="number" class="numericControl change-sigmax" name="sigmax" /></td>
                        </tr>
                        <tr class="target">
                            <td>Target</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td><input type="number" class="numericControl change-target" name="target" /></td>
                        </tr>
                        <tr class="lcl">
                            <td>Lower Control limit</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td><input type="number" class="numericControl change-lcl" name="lcl" /></td>
                        </tr>
                        <tr class="ucl">
                            <td>Upper Control limit</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td><input type="number" class="numericControl change-ucl" name="ucl" /></td>
                        </tr>
                        <tr class="ll">
                            <td>Lower Map</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td><input type="number" class="numericControl change-lower-map" name="ll" /></td>
                        </tr>
                        <tr class="rl">
                            <td>Upper Map</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td><input type="number" class="numericControl change-upper-map" name="rl" /></td>
                        </tr>
                        <tr class="weight">
                            <td>Skew</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td><input type="number" class="numericControl change-weight" name="weight" /></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveSetting()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <fieldset>
        <legend>
            SKU Specification Setting
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frmSetting">
                <table class="table table-striped">
                    <tr>
                        <td>
                            Company
                        </td><td></td>
                        <td style="width:100%">
                            <select id="companies" name="company_id" class="selectpicker">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SKU
                        </td><td></td>
                        <td>
                            <select id="skus" name="sku_id" class="selectpicker" onchange="GetProperties()"></select>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div id="properties-wrapper" style="margin-top:10px">
            <fieldset id="fieldset-properties">
                <button class="btn btn-success simulate" onclick="OpenSimulationForm()">Simulate the data</button>
                <legend>Quality Specification</legend>
                <table class="table table-bordered frozen" style="margin-top:10px">
                    <thead style="text-align:center">
                        
                    </thead>
                    <tbody id="tbl-properties"></tbody>
                    <tfoot></tfoot>
                </table>
            </fieldset>
        </div>
    </fieldset>
</div>
