﻿@{
    ViewBag.Title = "Welcome";
}

<div class="container">
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <div class="media">
        <div class="media-left" style="font-size:100px">
            <span class="glyphicon glyphicon-ok-circle"></span>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            ...
        </div>
    </div>
</div>
