﻿
@{
    ViewBag.Title = "Manage Production Batches";
}

<script type="text/javascript">
    function GetDivision() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDivisionsJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#divisions").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#divisions").append("<option value=''>All divisions</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#divisions").append("<option value='" + data[i].division_id + "'>"
                                + data[i].division_name + "</option>")
                        }
                    }
                    $("#divisions").selectpicker("refresh");
                    $("#divisions").trigger("change");
                }
            );
    }

    function GetBlock() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetBlocksJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val() },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#blocks").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#blocks").append("<option value=''>All blocks</option>");

                        var PrevDivision = "", Line = "";
                        for (var i = 0; i < data.length; i++) {
                            if (PrevDivision != data[i].division_id) {
                                PrevDivision = data[i].division_id;
                                if (i > 0)
                                    Line += "</optgroup>";
                                Line += "<optgroup label=\"Division : " + data[i].division_name + "\">";
                            }
                            Line += "<option value='" + data[i].block_id + "'>"
                                + data[i].block_name + "</option>";
                        }

                        Line += "</optgroup>";
                        $("#blocks").append(Line);
                    }
                    $("#blocks").selectpicker("refresh");
                    $("#blocks").trigger("change");
                }
            );
    }

    function GetMachine() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val(), blockID: $("#blocks").val() },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#machines").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#machines").append("<option value=''>All machines</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#machines").append("<option value='" + data[i].machine.machine_id + "'>"
                                + data[i].machine.machine_name + "</option>");
                        }
                    }
                    $("#machines").selectpicker("refresh");
                }
            );
    }

    function GetCategories() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUCategoriesJSON","HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#categories").html('');
                        $("#subcategories").html('');
                        $("#skus").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#categories").append("<option value=''>All categories</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#categories").append("<option value='" + data[i].category_id + "'>[" + data[i].category_id + "] " +
                                data[i].category_name + "</option>")
                        }
                    }
                    $("#categories").selectpicker("refresh");
                    $("#categories").trigger("change");
                }
            );
    }

    function GetSubCategories() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUSubCategoriesJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), categoryID: $("#categories").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#subcategories").html('');
                        $("#skus").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#subcategories").append("<option value=''>All subcategories</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#subcategories").append("<option value='" + data[i].subcategory_id + "'>[" + data[i].subcategory_id + "] " +
                                data[i].subcategory_name + "</option>")
                        }
                    }
                    $("#subcategories").selectpicker("refresh");
                    $("#subcategories").trigger("change");
                }
            );
    }

    function GetSegments() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUSegmentsJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#segments").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#segments").append("<option value=''>All segments</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#segments").append("<option value='" + data[i].segment_id + "'>[" + data[i].segment_id + "] " +
                                data[i].segment_name + "</option>")
                        }
                    }
                    $("#segments").selectpicker("refresh");
                }
            );
    }

    function GetBusinesses() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUBusinessJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#businesses").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#businesses").append("<option value=''>All businesses</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#businesses").append("<option value='" + data[i].business_id + "'>[" + data[i].business_id + "] " +
                                data[i].business_name + "</option>")
                        }
                    }
                    $("#businesses").selectpicker("refresh");
                }
            );
    }

    function GetSKU() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUJSON", "HelperClass")',
                    data: {
                        companyID: $("#companies").val(), categoryID: $("#categories").val(),
                        subcategoryID: $("#subcategories").val(), segmentID: $("#segments").val(),
                        businessID: $("#businesses").val()
                    },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#skus").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#skus").append("<option value=''>All SKUs</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#skus").append("<option value='" + data[i].sku_id + "'>[" + data[i].sku_id + "] " +
                                data[i].sku_name + "</option>");
                        }
                    }
                    $("#skus").selectpicker("refresh");
                    $("#skus").trigger("change");
                }
            );
    }

    function FindBatch()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("FindBatch","HelperClass")',
                    data: $("#frm-batch").serialize(),
                    async: true,
                    beforeSend:function(xhr)
                    {
                        $("#fieldset-batch > table > tbody").html('');
                    }
                }
            ).done
            (
                function(data)
                {
                    $("#fieldset-batch > legend").text("Found " + data.length + " batch(es)");
                    if(data!=null && data.length>0)
                    {
                        var Line = "";
                        for(var i=0;i<data.length;i++)
                        {
                            var Line = "";
                            Line += "<tr>";
                            Line += "<td>" + data[i].batch_id + "</td>";
                            Line += "<td>" + data[i].machine_name + "</td>";
                            Line += "<td>" + data[i].sku_id + "</td>";
                            Line += "<td>" + data[i].sku_name + "</td>";
                            Line += "<td style='text-align:center'>" + data[i].start_date + "</td>";
                            Line += "<td style='text-align:center'>" + data[i].finish_date + "</td>";
                            Line += "<td style='text-align:center'><a href='javascript:void(0)' onclick=\"Update(" +
                                data[i].company_id + ",'" + data[i].batch_id + "')\">" +
                                "<span class=\"glyphicon glyphicon-pencil\"></span></a></td>";
                            Line += "<td style='text-align:center'><a href='javascript:void(0)' onclick=\"ShowDeleteDialog(" +
                                data[i].company_id + ",'" + data[i].batch_id + "')\">" +
                                "<span class=\"glyphicon glyphicon-trash\"></span></a></td>";
                            Line += "</tr>";
                            $("#fieldset-batch > table > tbody").append(Line);
                        }
                    }
                    ShowHideFilter();
                }
            );
    }

    function Update(companyID,batchID)
    {
        location.href = "/Batch/Update?companyID=" + companyID + "&batchID=" + batchID;
    }

    function ShowDeleteDialog(companyID, batchID) {
        $("#delete-message").html
            (
                "Are you sure want to delete batch " + batchID + "?"
            );

        $("#deleted-company-id").val(companyID);
        $("#deleted-id").val(batchID);

        $("#myModal").modal("show");
    }

    var ShowFilter = true;
    function ShowHideFilter() {
        ShowFilter = !ShowFilter;

        if (ShowFilter) {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    $
        (
            function()
            {
                $("#companies").trigger("change");
                $("#myModal .deleteConfirmed").click
                (
                    function () {
                        $("#frmDelete").submit();
                    }
                );
            }
        );
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Batch", FormMethod.Post, new { id = "frmDelete" }))
                {
                    <input type="hidden" id="deleted-company-id" name="companyID" />
                    <input type="hidden" id="deleted-id" name="batchID" />
                    <div id="delete-message"></div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning deleteConfirmed">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <button class="btn btn-lg btn-default" onclick="location.href='@Url.Action("Register")'">
        Add New Batch
    </button>

    <fieldset style="margin-top:10px">
        <legend>
            Batch Filter
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frm-batch">
                <table class="table table-striped">
                    <tr>
                        <td>
                            Company
                        </td>
                        <td></td>
                        <td style="width:100%">
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetDivision();GetSegments();GetBusinesses();GetCategories()">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Division
                        </td>
                        <td></td>
                        <td>
                            <select id="divisions" name="division_id" class="selectpicker" onchange="GetBlock()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Block
                        </td>
                        <td></td>
                        <td>
                            <select id="blocks" name="block_id" class="selectpicker" onchange="GetMachine()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Machine
                        </td>
                        <td></td>
                        <td>
                            <select id="machines" name="machine_id" class="selectpicker"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Categories
                        </td>
                        <td></td>
                        <td>
                            <select id="categories" name="category_id" class="selectpicker" onchange="GetSubCategories()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Business
                        </td>
                        <td></td>
                        <td>
                            <select id="businesses" name="business_id" class="selectpicker" onchange="GetSKU()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Subcategories
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <select id="subcategories" name="subcategory_id" class="selectpicker" onchange="GetSKU()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Segment
                        </td>
                        <td></td>
                        <td>
                            <select id="segments" name="segment_id" class="selectpicker" onchange="GetSKU()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SKU
                        </td>
                        <td></td>
                        <td>
                            <select id="skus" name="sku_id" class="selectpicker"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Batch ID
                        </td>
                        <td></td>
                        <td>
                            <input type="text" id="batchID" name="batch_id" />
                        </td>
                    </tr>
                </table>
            </form>
            <div style="margin-top:10px">
                <button class="btn btn-info" onclick="FindBatch()">
                    <span class="glyphicon glyphicon-search"></span> Find Batch(es)
                </button>
            </div>
        </div>
    </fieldset>

    <fieldset id="fieldset-batch" style="margin-top:10px">
        <legend></legend>
        <table class="table table-striped">
            <thead style="text-align:center">
                <tr>
                    <td>
                        Batch ID
                    </td>
                    <td>
                        Machine
                    </td>
                    <td>
                        SKU ID
                    </td>
                    <td>
                        SKU Name
                    </td>
                    <td>
                        Start Date
                    </td>
                    <td>
                        Finish Date
                    </td>
                    <td>
                        Edit
                    </td>
                    <td>
                        Delete
                    </td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </fieldset>
</div>

