﻿@model DaVinxi.Models.MasterBatch

@{
    ViewBag.Title = "Register New Batch";
}

<script type="text/javascript">
    function GetSKU() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUJSON", "HelperClass")',
                    data: {
                        companyID: $("#companies").val()
                    },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#skus").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#skus").append("<option value='" + data[i].sku_id + "'>[" + data[i].sku_id + "] " +
                                data[i].sku_name + "</option>");
                        }
                    }
                    $("#skus").selectpicker("refresh");
                }
            );
    }

    function GetMachine() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: {
                        companyID: $("#companies").val()
                    },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#machines").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#machines").append("<option value='" + data[i].machine.machine_id + "'>" +
                                data[i].machine.machine_name + "</option>");
                        }
                    }
                    $("#machines").selectpicker("refresh");
                }
            );
    }

    $
        (
            function()
            {
                $(".datepicker").datetimepicker(
                    {
                        format: 'MMMM DD YYYY HH:mm'
                    });
                $("#startDate").data("DateTimePicker").date('@Model.start_date.ToString("MMM dd yyyy HH:mm")');
                $("#finishDate").data("DateTimePicker").date('@Model.finish_date.ToString("MMM dd yyyy HH:mm")');
                $("#companies").trigger("change");
            }
        );
</script>

<div class="container">

    @using (Html.BeginForm("Register", "Batch", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new {@class="form-signin", enctype = "multipart/form-data" }))
    {
        
        <fieldset>
            <legend>@ViewBag.Title</legend>
            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.ValidationSummary(false)
                @Html.HiddenFor(m => m.created_date)
                @Html.HiddenFor(m => m.revised_date)
                @Html.HiddenFor(m => m.revised_by)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.company_id)
                <select id="companies" name="company_id" class="selectpicker" onchange="GetSKU();GetMachine()">
                    @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                    {
                        <option value="@c.company_id">@c.company_name</option>
                    }
                </select>
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.batch_id)
                @Html.TextBoxFor(m => m.batch_id)
                @Html.ValidationMessageFor(m => m.batch_id)
            </div>

            <div style="margin-top:10px">
                <label>Machine</label>
                <select id="machines" name="machine_id" class="selectpicker"></select>
            </div>

            <div>
                <label>SKU</label>
                <select id="skus" name="sku_id" class="selectpicker"></select>
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.start_date)
                <div class="input-group date datepicker" id="startDate" data-date-format="MMMM DD YYYY HH:mm">
                    @Html.TextBoxFor(m => m.start_date)
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.start_date)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.finish_date)
                <div class="input-group date datepicker" id="finishDate">
                    @Html.TextBoxFor(m => m.finish_date)
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.finish_date)
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
