﻿@model DaVinxi.Models.QualityPropRegisterModel

@{
    ViewBag.Title = "Register New Quality Property";
}
<style>
    .defect-tree li {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0 5px;
        position: relative;
    }

        .defect-tree li::before, .defect-tree li::after {
            content: '';
            left: -20px;
            position: absolute;
            right: auto;
        }

        .defect-tree li::before {
            border-left: 1px solid #999;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px;
        }

        .defect-tree li::after {
            border-top: 1px solid #999;
            height: 20px;
            top: 25px;
            width: 25px;
        }

        .defect-tree li.parent_li > span {
            cursor: pointer;
        }

    .defect-tree > ul > li::before, .defect-tree > ul > li::after {
        border: 0;
    }

    .defect-tree li:last-child::before {
        height: 30px;
    }

    .defect-tree li.parent_li > span:hover, .defect-tree li.parent_li > span:hover + ul li span {
        background: #eee;
        border: 1px solid #94a0b4;
        color: #000;
    }
</style>

<script type="text/javascript">
    function GetUnits()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetEngineeringUnitsJSON", "HelperClass")',
                    dataType: 'json',
                    data: { companyID: $("#company").val() },
                    beforeSend:function(xhr)
                    {
                        $("#unit").html('');
                    }
                }
            ).done
            (
                function (data)
                {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#unit").append("<option value='" + data[i].unit_id + "'>" +
                               "[" + data[i].unit_id + "] " + data[i].unit_name + "</option>");
                        }

                        $("#unit").attr("data-width", "100%");
                        $("#unit").attr("data-size", "5");
                        $("#unit").attr("data-live-search", "true");
                        $("#unit").addClass("show-tick");
                        $("#unit").selectpicker();
                    }
                }
            );
    }

    function GetDefects(defectID, defectName) {
        $("#choosed-defect-id").val(defectID);
        $("#choosed-defect-name").val(defectName);

        if (defectID != '0x0000' && $("#" + defectID).hasClass('collapsed')) {
            $("#btn-" + defectID + " .glyphicon").addClass("glyphicon-plus-sign")
                                                            .removeClass("glyphicon-minus-sign");
            $("#" + defectID).removeClass("collapsed").html("");
        }
        else {
            $.ajax
                (
                    {
                        type: "POST",
                        url: '@Url.Action("GetDefectsJSON","HelperClass")',
                        data: { companyID: $("#company").val(), parentID: defectID },
                        dataType: 'json',
                        async: true,
                        beforeSend: function (xhr) {
                            $("#" + defectID).html('');
                        }
                    }
                ).done
                (
                    function (data) {
                        if (data != null && data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                if ('root-node' == data[i].defect.defect_id)
                                    continue;

                                var SignStr = "<span class='glyphicon glyphicon-certificate'></span> ";
                                if (data[i].count > 0)
                                    SignStr = "<span class='glyphicon glyphicon-plus-sign'></span> ";

                                $("#" + defectID).append("<li><button id='btn-" + data[i].defect.defect_id +
                                    "' class='btn btn-default " + (data[i].defect.defect_id != "root-node" ? "tree-node" : "") +
                                    "' onclick=\"GetDefects('" + data[i].defect.defect_id + "','" + data[i].defect.defect_name + "')\" " +
                                    "ondblclick=\"SelectDefect()\""
                                    + ">" +
                                    SignStr + data[i].defect.defect_name +
                                    "</button><ul id='" + data[i].defect.defect_id + "' class='defect-tree " +
                                    (data[i].count > 0 ? "hasChild" : "") + "'></ul></li>");
                            }

                            $("#btn-" + defectID + " .glyphicon").removeClass("glyphicon-plus-sign")
                                                            .addClass("glyphicon-minus-sign");
                            $("#" + defectID).addClass("collapsed");
                        }
                    }
                );
        }
    }

    function ShowDefectDialog(callerID)
    {
        $("#caller-id").val(callerID);
        GetDefects("0x0000", "");
        $("#myModal").modal("show");
    }

    function SelectDefect()
    {
        if (!$("#" + $("#choosed-defect-id").val()).hasClass("hasChild")) {
            $("#" + $("#caller-id").val()).val($("#choosed-defect-id").val());
            $("#" + $("#caller-id").val() + "_name").val($("#choosed-defect-name").val());
            $("#myModal").modal("hide");
        }
        else
            alert("Please select lowest level defect");
    }

    function ClearDefect(caller)
    {
        $("#" + caller).val('');
        $("#" + caller + "_name").val('');
    }

    $
        (
            function()
            {
                $("#company").trigger("change");
            }
        );
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Choose Defect</h4>
            </div>
            <div class="modal-body defect-tree">
                <input type="hidden" id="choosed-defect-id" />
                <input type="hidden" id="choosed-defect-name" />
                <input type="hidden" id="caller-id" />
                <ul id="0x0000"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SelectDefect()">Select Defect</button>
            </div>
        </div>
    </div>
</div>

<div class="container">

    @using (Html.BeginForm("Register", "QualityProperties", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.LabelFor(m => m.company_id)

                <select class="selectpicker" name="company_id" id="company" onchange="GetUnits()">
                    @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                    {
                        <option value="@c.company_id">@c.company_name</option>
                    }
                </select>

                @Html.ValidationMessageFor(m => m.company_id)
            </div>

            <div>
                @Html.LabelFor(m => m.property_id)
                @Html.TextBoxFor(m => m.property_id)
                @Html.ValidationMessageFor(m => m.property_id)
            </div>

            <div>
                @Html.LabelFor(m => m.property_name)
                @Html.TextBoxFor(m => m.property_name)
                @Html.ValidationMessageFor(m => m.property_name)
            </div>

            <div>
                @Html.LabelFor(m => m.unit_id)

                <select name="unit_id" id="unit"></select>
            </div>

            <div>
                @Html.LabelFor(m => m.test_method)
                @Html.TextBoxFor(m => m.test_method)
                @Html.ValidationMessageFor(m => m.test_method)
            </div>

            <div>
                @Html.LabelFor(m => m.reference)
                @Html.TextBoxFor(m => m.reference)
                @Html.ValidationMessageFor(m => m.reference)
            </div>

            <div>
                @Html.LabelFor(m => m.lrl_defect)
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" onclick="ShowDefectDialog('lrl_defect')">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    <input type="text" readonly class="form-control" id="lrl_defect_name" />
                    <input type="hidden" name="lrl_defect" id="lrl_defect" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" onclick="ClearDefect('lrl_defect')">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.lrl_defect)
            </div>

            <div>
                @Html.LabelFor(m => m.url_defect)
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" onclick="ShowDefectDialog('url_defect')">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                    <input type="text" readonly class="form-control" id="url_defect_name" />
                    <input type="hidden" name="url_defect" id="url_defect" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" onclick="ClearDefect('url_defect')">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
                @Html.ValidationMessageFor(m => m.url_defect)
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","QualityProperties")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
