﻿
@{
    ViewBag.Title = "Process Control";
}

<script type="text/javascript">
    function GetMachine() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: '', blockID: '' },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#machines").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#machines").append("<option value='" + data[i].machine.machine_id
                                + "' machine_type_id='" + data[i].machine.machine_type_id + "'>"
                                + data[i].machine.machine_name + "</option>");
                        }
                    }
                    $("#machines").selectpicker("refresh");
                    $("#machines").trigger("change");
                }
            );
    }

    function GetMachineComponents() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachineComponentByMachineTypeJSON", "HelperClass")',
                    data: {
                        companyID: $("#companies").val(),
                        machTypeID:$("#machines option:selected").attr("machine_type_id")
                    },
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        $("#components").val('');
                        $("#components").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#components").append("<option value='" + data[i].component.component_id
                                + "'>"
                                + data[i].component.component_name + "</option>");
                        }
                    }
                    $("#components").trigger("chosen:updated");
                }
            );
    }

    function GetData() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetProcessData")',
                    data: $("#frm-filter").serialize(),
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        $("#result .nav-tabs").html('');
                        $("#result .tab-content").html('');
                        $("#modal-progress").modal('show');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        var PrevSKU = "",
                            TabID = "", PrevComponentID = "";
                        var Points = [
                            {
                                name: "",
                                data: []
                            },
                            {
                                name: "Upper Alarm Limit",
                                data: [],
                                dashStyle: 'Dash',
                                color: 'red'
                            },
                            {
                                name: "Lower Alarm Limit",
                                data: [],
                                dashStyle: 'Dash',
                                color: 'red'
                            },
                            {
                                name: "Min",
                                data: [],
                                dashStyle: 'ShortDash',
                                color: 'black'
                            },
                            {
                                name: "Max",
                                data: [],
                                dashStyle: 'ShortDash',
                                color: 'black'
                            },
                            {
                                name: "Target",
                                data: [],
                                dashStyle: 'ShortDashDot',
                                color: 'green'
                            }
                        ];
                        for (var i = 0; i < data.length; i++) {
                            data[i].result.sku_id = data[i].result.sku_id.replace(/[!"#$%&'()*+,.\/:;<=>?@@[\\\]^`{|}~]/g, "_");
                            if (PrevSKU != data[i].result.sku_id) {
                                CheckData(Points, (i <= 0 ? null : data[i - 1]));
                                TabID = "sku_tab_" + data[i].result.sku_id;
                                $("#result .nav-tabs").append("<li role='presentation'>"
                                    + "<a href='#" + TabID + "' aria-controls='" + TabID + "' role='tab' "
                                    + "data-toggle='tab'>SKU: " + data[i].result.sku_name + "</a></li>");

                                $("#result .tab-content").append('<div role="tabpanel" class="tab-pane" id="'
                                    + TabID + '"></div>');

                                PrevSKU = data[i].result.sku_id;
                                $('#navtab-result a:last').tab('show');
                                ResetPoints(Points);
                            }

                            if (PrevComponentID != data[i].result.component_id) {
                                CheckData(Points, (i <= 0 ? null : data[i - 1]));
                                $("#" + TabID).append("<div class='" + data[i].result.component_id
                                    + "' style='margin-top:10px'></div>");
                                ResetPoints(Points);
                                Points[0].name = data[i].result.component_name;
                                PrevComponentID = data[i].result.component_id;
                            }
                            
                            
                            Points[0].data.push({
                                x: data[i].totalMs,
                                y: data[i].result.value,
                                marker: {
                                    enabled: true,
                                    radius: 5
                                }
                            });

                            Points[1].data.push({
                                x: data[i].totalMs,
                                y: data[i].result.upper_alarm_limit
                            });

                            Points[2].data.push({
                                x: data[i].totalMs,
                                y: data[i].result.lower_alarm_limit
                            });

                            Points[3].data.push({
                                x: data[i].totalMs,
                                y: data[i].result.min
                            });

                            Points[4].data.push({
                                x: data[i].totalMs,
                                y: data[i].result.max
                            });

                            Points[5].data.push({
                                x: data[i].totalMs,
                                y: data[i].result.target
                            });

                            if (data[i].result.value < data[i].result.lower_alarm_limit ||
                                data[i].result.value > data[i].result.upper_alarm_limit)
                                Points[0].data[Points[0].data.length - 1].color = 'red';
                        }
                        CheckData(Points, data[data.length - 1]);
                        $('#navtab-result a:first').tab('show');
                    }
                    $("#modal-progress").modal('hide');
                }
            );
    }

    function ResetPoints(points) {
        for (var i = 0; i < points.length; i++)
            points[i].data = [];
    }

    function CheckData(points, prevData) {
        if (prevData != null && points != null && points[0].data.length > 0) {
            DrawChart($("#sku_tab_" + prevData.result.sku_id + " ." + prevData.result.component_id),
                prevData.result.machine_name, prevData.result.sku_name, prevData.result.component_name,
                prevData.result.unit_name, points);
        }
    }

    function DrawChart(dom, machineName, skuName, componentName, uom, data) {
        dom.highcharts
            (
                'StockChart',
                {
                    chart: {
                        zoomType: 'x',
                        height: 700,
                        type: 'line'
                    },
                    rangeSelector: {
                        buttons: [
                            {
                                type: 'day',
                                count: 1,
                                text: '1 Day'
                            },
                            {
                                type: 'week',
                                count: 1,
                                text: '1 Week'
                            },
                            {
                                type: 'all',
                                text: 'All'
                            }
                        ],
                        selected: 0,
                        buttonSpacing: 10,
                        inputEnabled: false,
                        buttonTheme: {
                            width: null
                        }
                    },
                    navigator: {
                        enabled: false
                    },
                    title: {
                        text: "Process Control For " + componentName,
                        style: {
                            fontSize: "200%"
                        }
                    },
                    subtitle: {
                        text: "Machine: " + machineName + "<br/>SKU: " + skuName
                            + "<br/>From " + $("input[name='start_date']").val()
                            + " until " + $("input[name='finish_date']").val(),
                        style: {
                            fontSize: "150%"
                        }
                    },
                    tooltip: {
                        valueSuffix: ' ' + uom,
                    },
                    legend: {
                        enabled: true
                    },
                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: 'Timestamp',
                            style: {
                                fontSize: "200%"
                            }
                        },
                        dateTimeLabelFormats: {
                            day: '%e %b %Y %H:%m'
                        }
                    },
                    yAxis: {
                        title: {
                            text: (uom == null || uom.length <= 0 || uom == '-' ? "" : uom),
                            style: {
                                fontSize: "200%"
                            }
                        }
                    },
                    plotOptions: {
                        series: {
                            turboThreshold: 0
                        }
                    },
                    series: data
                }
            );
    }

    var ShowFilter = true;
    function ShowHideFilter() {
        ShowFilter = !ShowFilter;

        if (ShowFilter) {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    $
        (
            function () {
                $("#components").chosen();
                $("#companies").trigger("change");
                $(".datepicker").datetimepicker({
                    format: 'MMM DD YYYY HH:mm'
                });
                $("#startDate").data("DateTimePicker").date(new Date("Jul 01 2014 07:00"));
                $("#finishDate").data("DateTimePicker").date(new Date("Jul 02 2014 07:00"));
            }
        );
</script>



<div class="container">
    <fieldset>
        <legend>
            Filter
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frm-filter">
                <table class="table">
                    <tr>
                        <td>
                            Company
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td style="width:100%" colspan="3">
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetMachine()">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Machine
                        </td>
                        <td></td>
                        <td colspan="3">
                            <select id="machines" class="selectpicker" name="machine_id" onchange="GetMachineComponents()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Machine Components
                        </td>
                        <td></td>
                        <td colspan="3">
                            <select id="components" name="component_id" 
                                    multiple 
                                    style="width:100%"
                                    data-placeholder="Select machine component(s)"></select>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td>Date</td>
                        <td>From</td>
                        <td>
                            <div class="input-group date datepicker" id="startDate">
                                <input type="text" name="start_date" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td>to</td>
                        <td>
                            <div class="input-group date datepicker" id="finishDate">
                                <input type="text" name="finish_date" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>

                <div>
                    <button type="button" class="btn btn-info" onclick="GetData()">
                        <span class="glyphicon glyphicon-stats"></span> Get process data
                    </button>
                </div>
            </form>
        </div>
    </fieldset>

    <div id="result" role="tabpanel" style="margin-top:10px">
        <ul class="nav nav-tabs" role="tablist" id="navtab-result"></ul>
        <div class="tab-content"></div>
    </div>
</div>

