﻿
@{
    ViewBag.Title = "Process Setting";
}
<style>
   .navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}
</style>

<script type="text/javascript">
    function GetMachine() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        $("#machines").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#machines").append("<option value='" + data[i].machine.machine_id + "'>"
                                + data[i].machine.machine_name + "</option>");
                        }
                    }
                    $("#machines").selectpicker('refresh');
                }
            );
    }

    function GetSKU() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        $("#skus").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#skus").append("<option value='" + data[i].sku_id + "'>["
                                + data[i].sku_id + "] " + data[i].sku_name + "</option>");
                        }
                    }
                    $("#skus").selectpicker('refresh');
                }
            );
    }

    function GetSetting() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetProcessSetting")',
                    data: $("#frm-filter").serialize(),
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        $("#navbar-bottom").hide();
                        $("#result_components").html('');
                        $("#modal-progress").modal('show');
                    }
                }
            ).done
            (
                function (data) {
                    $("#modal-progress").modal('hide');
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var Line = "";
                            Line += "<tr id='row_" + data[i].component_id + "'>";
                            Line += "<td class='text-center'><input type='hidden' name='setting.index' value='"
                                + data[i].component_id + "'/><input type='hidden' name='setting["
                                + data[i].component_id + "].component_id' value='" + data[i].component_id
                                + "'/><span class='component_name'>" + data[i].component_name + "</span></td>";
                            Line += "<td><input type='number' class='numericControl' value='"
                                + data[i].lower_alarm_limit + "' name='setting[" + data[i].component_id + "].lower_alarm_limit'/></td>";
                            Line += "<td><input type='number' class='numericControl' value='"
                                + data[i].upper_alarm_limit + "' name='setting[" + data[i].component_id + "].upper_alarm_limit'/></td>";
                            Line += "<td><input type='number' class='numericControl' value='"
                                + data[i].min + "' name='setting[" + data[i].component_id + "].min'/></td>";
                            Line += "<td><input type='number' class='numericControl' value='"
                                + data[i].target + "' name='setting[" + data[i].component_id + "].target'/></td>";
                            Line += "<td><input type='number' class='numericControl' value='"
                                + data[i].max + "' name='setting[" + data[i].component_id + "].max'/></td>";
                            Line += "<td><input type='number' class='numericControl' value='"
                                + data[i].rl + "' name='setting[" + data[i].component_id + "].rl'/></td>";
                            Line += "<td><input type='number' class='numericControl' value='"
                                + data[i].rr + "' name='setting[" + data[i].component_id + "].rr'/></td>";
                            Line += "<td><a href='javascript:void(0)' onclick=\"ShowMap('"
                                + data[i].component_id + "','" + data[i].component_name + "')\">"
                                + "<span class='map_text'>Show</span></a></td>";
                            Line += "</tr>";
                            Line += "<tr class='map' id='map_" + data[i].component_id
                                + "'><td></td><td colspan='7' class='map_container'></td></tr>";
                            $("#result_components").append(Line);
                        }
                        $("#result_components .numericControl").addClass('form-control').css('text-align','right');
                        $("#navbar-fixed-bottom").show();

                        $("#result_components .map").hide();
                    }
                }
            );
    }

    function ShowMap(componentID, componentName) {
        if (!$("#map_" + componentID).hasClass("showed")) {
            $("#map_" + componentID).show();
            $("#map_" + componentID).addClass("showed");
            $("#row_" + componentID + " .map_text").text("Hide");
            DrawQI(componentID, componentName);
        }
        else {
            $("#map_" + componentID).hide();
            $("#map_" + componentID).removeClass("showed");
            $("#row_" + componentID + " .map_text").text("Show");
        }
    }

    function DrawQI(componentID, componentName) {
        var Target = Number($("input[name='setting[" + componentID + "].target']").val()),
					URL = Number($("input[name='setting[" + componentID + "].upper_alarm_limit']").val()),
					LRL = Number($("input[name='setting[" + componentID + "].lower_alarm_limit']").val()),
					UCL = Number($("input[name='setting[" + componentID + "].max']").val()),
					LCL = Number($("input[name='setting[" + componentID + "].min']").val()),
					RL = Number($("input[name='setting[" + componentID + "].rl']").val()),
					RR = Number($("input[name='setting[" + componentID + "].rr']").val());


        var RLPoint = [[LRL, 0], [LRL, 1], null, [URL, 0], [URL, 1]];

        var CLPoint = [[LCL, 0], [LCL, 1], null, [UCL, 0], [UCL, 1]];

        var TargetPoint = [[Target, 0], [Target, 1]];

        var MinX = (LRL < LCL ? LRL : LCL) - 0.5;
        var MaxX = (URL > UCL ? URL : UCL) + 0.5;

        var Points = [], LoopStep = 0.01;

        if (Target != NaN && LRL != NaN && (LRL < Target)) {
            LoopStep = Number(((Target - LRL) / 100).toFixed(2));
            if (LoopStep <= 0)
                LoopStep = 0.01;
            for (var i = LRL; i < Target; i += LoopStep) {
                var Value = Math.pow((i - LRL) / (Target - LRL), RL);
                Points.push([i, Number(Value.toFixed(2))]);
            }
        }

        if (Target != NaN && URL != NaN && (Target < URL)) {
            LoopStep = Number(((URL - Target) / 100).toFixed(2));
            if (LoopStep <= 0)
                LoopStep = 0.01;
            for (var i = Target; i <= URL; i += LoopStep) {
                var Value = Math.pow((URL - i) / (URL - Target), RR);
                Points.push([i, Number(Value.toFixed(2))]);
            }
        }

        $("#map_" + componentID + " .map_container").highcharts
            (
                {
                    chart:
                    {
                        type: 'spline',
                        marginTop: 70,
                        zoomType: 'xy'
                    },
                    title:
                    {
                        text: componentName + " Setting"
                    },
                    xAxis:
                    {
                        min: MinX,
                        max: MaxX
                    },
                    yAxis:
                    {
                        title:
                        {
                            text: "Process Index"
                        },
                        max: 1,
                        min: 0
                    },
                    plotOptions: {
                        spline: {
                            lineWidth: 2,
                            states: {
                                hover: {
                                    lineWidth: 3
                                }
                            },
                            marker: {
                                enabled: false
                            }
                        }
                    },
                    series:
                    [
                        {
                            name: 'Alarm Limit',
                            data: RLPoint
                        },
                        {
                            name: 'Min/Max',
                            data: CLPoint
                        },
                        {
                            name: 'Target',
                            data: TargetPoint
                        },
                        {
                            name: 'Process Mapping',
                            data: Points,
                            color: 'red'
                        }
                    ]
                }
            );
    }

    function Save() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("Save")',
                    data: $("#frm-filter").serialize() + "&" + $("#frm-setting").serialize(),
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        $("#modal-progress").modal('show');
                    }
                }
            ).done
            (
                function (data) {
                    $("#modal-progress").modal('hide');
                    if (data != null && data.code != 1) {
                        alert(data.message);
                    }
                }
            );
    }

    $
        (
            function ()
            {
                $("#companies").trigger("change");
                $("#navbar-fixed-bottom").hide();
            }
        );
</script>

<div class="container">
    <fieldset>
        <legend>
            Process Setting
        </legend>
        <div id="filter">
            <form id="frm-filter">
                <table class="table table-striped">
                    <tr>
                        <td>
                            Company
                        </td>
                        <td></td>
                        <td style="width:100%">
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetMachine();GetSKU()">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Machine
                        </td>
                        <td></td>
                        <td>
                            <select class="selectpicker" id="machines" name="machine_id"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SKU
                        </td>
                        <td></td>
                        <td>
                            <select class="selectpicker" id="skus" name="sku_id"></select>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="margin-top:10px">
                <button class="btn btn-info" type="button" onclick="GetSetting()">
                    <span class="glyphicon glyphicon-search"></span> Get Process Setting
                </button>
            </div>
        </div>
    </fieldset>

    <fieldset style="margin-top:10px">
        <legend></legend>
        <form id="frm-setting">
            <table class="table table-striped">
                <thead style="text-align:center">
                    <tr>
                        <td rowspan="2">
                            Machine Component
                        </td>
                        <td colspan="2">
                            Alarm Limit
                        </td>
                        <td colspan="3">
                            Setting
                        </td>
                        <td colspan="3">
                            Map
                        </td>
                    </tr>
                    <tr>
                        <td>Lower</td>
                        <td>Upper</td>
                        <td>Min</td>
                        <td>Target</td>
                        <td>Max</td>
                        <td>Lower</td>
                        <td>Upper</td>
                        <td>Graph</td>
                    </tr>
                </thead>
                <tbody id="result_components"></tbody>
            </table>
        </form>
    </fieldset>
</div>
<nav class="navbar navbar-fixed-bottom navbar-inverse center" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#timecontrol" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-inner collapse navbar-collapse" id="timecontrol">
            <ul class="nav navbar-nav" style="text-align:center">
                <li>
                    <a href="javascript:void(0)" onclick="Save()">
                        <span class="glyphicon glyphicon-save"></span><br />
                        <p>Save</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

