﻿
@{
    ViewBag.Title = "Roll Report";
}
@Scripts.Render("~/bundles/state-machine")
<script type="text/javascript">
    var ShowFilter = true;
    function ShowHideFilter() {
        ShowFilter = !ShowFilter;

        if (ShowFilter) {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    function GetMachines() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: {
                        companyID: $("#companies").val()
                    },
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        $("#machines").html('');
                        //$("#modal-progress").modal("show");
                    }
                }
            ).done
            (
                function (data) {
                    //$("#modal-progress").modal("hide");
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#machines").append('<option value="' + data[i].machine.machine_id + '">'
                                + data[i].machine.machine_name + '</option>');
                        }
                        $("#machines").selectpicker('refresh');
                    }
                    $("#machines").trigger("change");
                }
            );
    }

    function GetStateMachines() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetStateMachines","StateMachine")',
                    data: {
                        company_id: $("#companies").val()
                    },
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        $("#state_machines").html('');
                        //$("#modal-progress").modal("show");
                    }
                }
            ).done
            (
                function (data) {
                    //$("#modal-progress").modal("hide");
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#state_machines").append('<option value="' + data[i].state_machine_id
                                + '" initial-state="' + data[i].initial_state + '">'
                                + data[i].state_machine_name + '</option>');
                        }
                        $("#state_machines").selectpicker('refresh');
                    }
                    $("#state_machines").trigger("change");
                }
            );
            }

            var Variables = "";
            function GetVariables() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetVariables","StateMachine")',
                    data: { company_id: $("#companies").val(), state_machine_id: $("#state_machines").val() },
                    beforeSend: function (xhr) {
                        $("#variables").html("");
                        //$("#modal-progress").modal('show');
                        Variables = null;
                    }
                }).done(function (data) {
                    if (data != null && data.length > 0) {
                        //$("#modal-progress").modal('hide');
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].data_source != 0)
                                continue;
                            var Line = "<tr>";
                            Line += "<td>" + data[i].variable_name + "</td>";
                            Line += "<td><input type='hidden' name='tags.index' value='" + data[i].variable_id
                                    + "'/><select class='selectpicker' name='tags["
                                    + data[i].variable_id + "]' priority='" + data[i].priority + "'>"
                                    + Tags + "</select></td>";
                            Line += "</tr>";
                            $("#variables").append(Line);
                        }
                        $("#variables .selectpicker").attr("data-width", "100%");
                        $("#variables .selectpicker").attr("data-size", "5");
                        $("#variables .selectpicker").attr("data-live-search", "true");
                        $("#variables .selectpicker").addClass("show-tick");
                        $("#variables .selectpicker").selectpicker();

                        Variables = data;
                    }
                });
            }

            var Tags = null;
            function GetTags() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetTags", "TagData")',
                    data: { companyID: $("#companies").val(), machine_id:$("#machines").val() },
                    beforeSend: function (xhr) {
                        Tags = null;
                        $("#variables .selectpicker").html('');
                        //$("#modal-progress").modal('show');
                    },
                    dataType: 'json',
                    async: false
                }).done(function (data) {
                    //$("#modal-progress").modal('hide');
                    if (data != null && data.length > 0) {
                        Tags = '';
                        for (var i = 0; i < data.length; i++) {
                            Tags += "<option value='" + data[i].tag_id + "'>[" + data[i].tag_id + "] " + data[i].tag_name + "</option>";
                        }

                        if ($("#variables").find(".selectpicker").length > 0) {
                            $("#variables .selectpicker").html(Tags);
                        }
                    }
                    $("#variables .selectpicker").selectpicker('refresh');
                });
            }

            function Sort(arr) {
                if (arr != null && arr.length > 0) {
                    for (var i = 0; i < arr.length - 1; i++) {
                        for (var j = i + 1; j < arr.length; j++) {
                            if (arr[j].timestamp < arr[i].timestamp ||
                                (arr[j].timestamp == arr[i].timestamp && arr[j].priority > arr[i].priority)) {
                                var Temp = arr[i];
                                arr[i] = arr[j];
                                arr[j] = Temp;
                            }
                        }
                    }
                }
            }

            function GetData() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetTagData","StateMachine")',
                    data: $("#frm-filter").serialize(),
                    beforeSend: function (xhr) {
                        $("#modal-progress").modal('show');
                        $("#table-log").html('');
                        $("#table_report").html('');
                        ShowHideFilter();
                    },
                    dataType: 'json'
                }).done(function (data) {
                    if (data == null || data.length <= 0) {
                        //$("#tab-result").hide();
                        alert("No data found");
                        $("#modal-progress").modal('hide');
                    }
                    else {
                        var Result = [], TagRelation = new HashTable();

                        for (var i = 0; i < Variables.length; i++) {
                            if ($("body").find("select[name='tags[" + Variables[i].variable_id + "]']").length > 0) {
                                TagRelation.setItem("'" + $("select[name='tags["
                                    + Variables[i].variable_id + "]']").val() + "'",
                                    {
                                        id: Variables[i].variable_id, priority: Variables[i].priority,
                                        data_type: Number(Variables[i].data_type)
                                    });
                            }
                        }

                        for (var i = 0; i < data.length; i++) {
                            var TagR = TagRelation.getItem("'" + data[i].info.tag_id + "'");
                            Result.push({
                                timestamp: Number(data[i].info.timestamp),
                                variable_id: TagR.id,
                                priority: TagR.priority,
                                value: (Number(TagR.data_type) == 0 ? Number(data[i].info.value) : "'" + data[i].info.value + "'"),
                                epoch: Number(data[i].epoch_time)
                            });
                        }
                        Sort(Result);
                        RunStateMachine(Result);
                    }
                });
            }

            function CreateNewStateReportElement() {
                return {
                    info: '', count: 0,
                    total_time: 0, weight: 0, count: 0
                };
            }

            function CreateNewReportElement() {
                return {
                    roll_number: -1,
                    states: new HashTable(),
                    is_small_roll: false,
                    length: -1
                };
            }

            function RunStateMachine(data) {
                try {

                    var SMachine = new StateMachine($("#companies").val(), $("#state_machines").val());
                    var PrevTime = null, PrevLength = 0;
                    var CurrentState = {
                        state_machine_id: $("#state_machines").val(),
                        state_id: $("#state_machines option:selected").attr('initial-state'),
                        state_name: ''
                    },
                    PrevState = CurrentState;

                    var LengthPoints = [], StockPoints = [], StateReport = [];
                    StateReport.push(CreateNewReportElement());

                    var Weight = 0, PrevSheetBreakLength = 0, Length = 0;

                    for (var i = 0; i < data.length; i++) {
                        var Time = data[i].epoch / 1000;
                        if (PrevTime == null)
                            PrevTime = Time;

                        SMachine.variables.setItem(data[i].variable_id, data[i].value);

                        if (data[i].variable_id == "stock") {
                            Weight = (SMachine.variables.getItem('stock') * 1000) / (24 * 3600);
                            StockPoints.push({ x: data[i].epoch, y: data[i].value });
                            SMachine.variables.setItem(data[i].variable_id, 1);
                            if (data[i].value < Number($("#lowest_stock").val()))
                                SMachine.variables.setItem(data[i].variable_id, 0);
                        }
                        else if (data[i].variable_id == "length") {
                            data[i].value *= Number($("#length_conversion").val());

                            Length = data[i].value;
                            if (StateReport[StateReport.length - 1].length < Length)
                                StateReport[StateReport.length - 1].length = Length;

                            LengthPoints.push({ x: data[i].epoch, y: data[i].value });
                            if (PrevLength == null) {
                                PrevLength = data[i].value;
                            }
                            else {

                                var DiffTime = (Time) - PrevTime,
                                    DiffLength = data[i].value - PrevLength,
                                    Velocity = DiffLength / DiffTime;

                                if (data[i].value <= 0 ||
                                    ((PrevState.state_id == 'a' || PrevState.state_id == 'c') &&
                                        Velocity <= Number($("#lowest_speed").val())))
                                    SMachine.variables.setItem('length', 0);

                                if (Math.floor(Velocity) == 0 ||
                                    ((PrevState.state_id == 'b' || PrevState.state_id == 'd') &&
                                        Velocity > 0 && Velocity <= Number($("#lowest_speed").val())))
                                    Velocity = 0;

                                SMachine.variables.setItem('velocity', Velocity);
                            }
                        }

                        CurrentState = SMachine.getNextState('@Url.Action("GetTransitionsByState","StateMachine")', CurrentState);
                        var ReportID = "'" + CurrentState.state_machine_id + "_" + CurrentState.state_id + "'";
                        var StateHasChanged = false;
                        if (PrevState.state_machine_id != CurrentState.state_machine_id || PrevState.state_id != CurrentState.state_id) {
                            AddLog(PrevTime * 1000, CurrentState);

                            if (CurrentState.state_machine_id == $("#state_machines").val() && CurrentState.state_id == 'c' &&
                                PrevLength <= Number($("#lowest_roll_length").val()))
                                StateReport[StateReport.length - 1].is_small_roll = true;

                            if (PrevState.state_id == 'c' && PrevState.state_machine_id == $("#state_machines").val()) {
                                if (SMachine.variables.hasItem('number'))
                                    StateReport[StateReport.length - 1].roll_number = SMachine.variables.getItem('number');
                                StateReport.push(CreateNewReportElement());
                            }

                            StateHasChanged = true;
                        }

                        if (!StateReport[StateReport.length - 1].states.hasItem(ReportID)) {
                            StateReport[StateReport.length - 1].states.setItem(ReportID, CreateNewStateReportElement());
                            StateReport[StateReport.length - 1].states.getItem(ReportID).info = CurrentState;
                        }
                        var SReport = StateReport[StateReport.length - 1].states.getItem(ReportID);
                        if (StateHasChanged)
                            SReport.count++;
                        SReport.total_time += Time - PrevTime;

                        if (CurrentState.state_machine_id == $("#state_machines").val() &&
                            CurrentState.state_id != 'soff' && SMachine.variables.hasItem('stock')) {
                            var TWeight = Weight;
                            TWeight *= Time - PrevTime;
                            TWeight += TWeight * Number($("#moisture").val()) / 100;

                            var TrimWeight = (TWeight * Number($("#trim_width").val()) * 2) /
                                (Number($("#headbox_width").val()) - Number($("#trim_width").val())),
                                DeckelWeight = (TWeight * Number($("#deckel_width").val())) /
                                (Number($("#headbox_width").val()) - Number($("#trim_width").val()) - Number($("#deckel_width").val()));
                            TWeight -= DeckelWeight - TrimWeight;
                            SReport.weight += TWeight;
                        }

                        if (CurrentState.state_machine_id == $("#state_machines").val() && CurrentState.state_id == 'c') {
                            PrevSheetBreakLength = 0;
                        }
                        else if (CurrentState.state_machine_id == $("#state_machines").val() && CurrentState.state_id == 'd') {
                            var IsNewJoin = PrevSheetBreakLength <= 0 ||
                                Length - PrevSheetBreakLength >= Number($("#different_sb_join").val()),
                                JoinStateID = "'join_state'";

                            if (!StateReport[StateReport.length - 1].states.hasItem(JoinStateID)) {
                                StateReport[StateReport.length - 1].states.setItem(JoinStateID, CreateNewStateReportElement());
                                StateReport[StateReport.length - 1].states.getItem(JoinStateID).info = { state_name: 'SB join' };
                            }

                            if (IsNewJoin)
                                StateReport[StateReport.length - 1].states.getItem(JoinStateID).count++;

                            PrevSheetBreakLength = Length;
                        }

                        PrevState = CurrentState;

                        PrevTime = Time;

                        if (data[i].variable_id == 'length') {
                            PrevLength = data[i].value;
                        }
                    }

                    $('#navtab-result li:eq(0) a').tab('show');
                    InitGraph($("#graph_length"),
                        $("#variables select[name='tags[length]'] option:selected").text().replace(/\[(.*)?\]/, "").trim(),
                        "meter(s)", LengthPoints);

                    $('#navtab-result li:eq(1) a').tab('show');
                    InitGraph($("#graph_stock"),
                        $("#variables select[name='tags[stock]'] option:selected").text().replace(/\[(.*)?\]/, "").trim(),
                        "Ton(s)/day", StockPoints);

                    $('#navtab-result li:eq(3) a').tab('show');
                    GenerateReport(StateReport);

                    $('#navtab-result a:first').tab('show');
                }
                catch (ex) {
                    alert(ex.message);
                    location.reload();
                }
                $("#modal-progress").modal('hide');
            }

            function AddLog(timestamp, state) {
                var Line = "<tr>";
                Line += "<td>" + moment.utc(timestamp).format("MMM Do YYYY HH:mm:ss") + "</td>";
                Line += "<td>" + state.state_name + "</td>";
                Line += "</tr>";
                $("#table-log").append(Line);
            }

            function GenerateReport(report) {
                if (report != null && report.length > 0) {
                    var DiffTime = ((new Date($("#finishDate").find("input").val())) -
                        (new Date($("#startDate").find("input").val()))) / 60000,
                        GrandTotalDuration = 0, StateDurations = { total: 0, items: new HashTable() },
                        ArrWasteStateID = ['a', 'd'], ArrStateID = ['a', 'b', 'c', 'd'],
                        Waste = { total_weight: 0, total_duration: 0, items: new HashTable() };

                    Waste.items.setItem('small_roll', {
                        name: "Roll < " + $("#lowest_roll_length").val() + " meter(s)",
                        weight: 0, duration: 0
                    });

                    for (var i = 0; i < report.length; i++) {
                        var RollWeight = 0, TotalDuration = 0, SubLine = '', SubLineRowCount = 1;
                        if (report[i].states != null) {
                            report[i].states.each(function (index, elmt) {
                                if (index == ("'" + $("#state_machines").val() + "_b'"))
                                    RollWeight = elmt.weight;
                                TotalDuration += elmt.total_time / 60;

                                if (elmt.info.state_name.trim().length > 0) {
                                    SubLine += "<tr>";
                                    SubLine += "<td>" + elmt.info.state_name + "</td>";
                                    SubLine += "<td>" + elmt.count + "</td>";
                                    SubLine += "<td>" + elmt.weight.toFixed(2) + "</td>";
                                    SubLine += "<td>" + (elmt.total_time / 60).toFixed(2) + "</td>";
                                    SubLine += "</tr>";
                                    SubLineRowCount++;
                                }

                                if (ArrStateID.indexOf(elmt.info.state_id) != -1) {
                                    var DurationID = "'" + elmt.info.state_machine_id + "_" + elmt.info.state_id;
                                    if (!StateDurations.items.hasItem(DurationID))
                                        StateDurations.items.setItem(DurationID, [elmt.info.state_name, 0]);
                                    StateDurations.items.getItem(DurationID)[1] += elmt.total_time / 60;
                                    StateDurations.total += elmt.total_time / 60;
                                }

                                if (ArrWasteStateID.indexOf(elmt.info.state_id) != -1) {
                                    if (!Waste.items.hasItem(elmt.info.state_id)) {
                                        Waste.items.setItem(elmt.info.state_id, { name: elmt.info.state_name, weight: 0, duration: 0 });
                                    }
                                    Waste.items.getItem(elmt.info.state_id).weight += elmt.weight;
                                    Waste.total_weight += elmt.weight;
                                    Waste.items.getItem(elmt.info.state_id).duration += elmt.total_time / 60;
                                    Waste.total_duration += elmt.total_time / 60;
                                }
                            });

                            if (report[i].is_small_roll) {
                                Waste.items.getItem('small_roll').weight += RollWeight;
                                Waste.total_weight += RollWeight;
                            }
                        }

                        GrandTotalDuration += TotalDuration;
                        var Line = "<tr>";
                        Line += "<td" + (SubLineRowCount > 0 ? " rowspan='" + SubLineRowCount + "'" : "") + ">"
                            + (report[i].roll_number > 0 ? report[i].roll_number : "In progress") + "</td>";
                        Line += "<td></td>";
                        Line += "<td></td>";
                        Line += "<td>" + RollWeight.toFixed(2) + "</td>";
                        Line += "<td>" + TotalDuration.toFixed(2) + "</td>";
                        Line += "<td>" + report[i].length.toFixed(2) + "</td>";
                        Line += "</tr>";
                        Line += SubLine;

                        $("#table_report").append(Line);
                    }

                    /*InitPieChart($("#chart_uptime"), "Stock On",
                                [['Stock On', Number(((GrandTotalDuration * 100) / DiffTime).toFixed(2))],
                        ['Stock Off', Number((((DiffTime - GrandTotalDuration) * 100) / DiffTime).toFixed(2))]]);*/

                    InitPieChart($("#chart_uptime"), "Stock On",
                                [['Stock On', Number(GrandTotalDuration.toFixed(2))],
                        ['Stock Off', Number((DiffTime - GrandTotalDuration).toFixed(2))]], 'minute(s)');

                    var PieStateDurationData = [];
                    /*StateDurations.items.each(function (index, elmt) {
                        PieStateDurationData.push([elmt[0], Number(((elmt[1] * 100) / StateDurations.total).toFixed(2))]);
                    });*/
                    StateDurations.items.each(function (index, elmt) {
                        PieStateDurationData.push([elmt[0], Number(elmt[1].toFixed(2))]);
                    });
                    console.log(PieStateDurationData);
                    InitPieChart($("#chart_state"), "State Duration", PieStateDurationData, 'minute(s)');

                    var WasteCategories = [], WasteWeightPoints = [], WasteDurationPoints = [];

                    WasteCategories.push("Total");
                    WasteWeightPoints.push({ y: Number(Waste.total_weight.toFixed(2)), color: 'red' });
                    WasteDurationPoints.push({ y: Number(Waste.total_duration.toFixed(2)), color: 'red' });

                    Waste.items.each(function (index, elmt) {
                        WasteCategories.push(elmt.name)
                        WasteWeightPoints.push(Number(elmt.weight.toFixed(2)));
                        WasteDurationPoints.push(Number(elmt.duration.toFixed(2)));
                    });

                    InitBarChart($("#chart_waste_time"), "Waste Duration", WasteCategories, WasteDurationPoints, "MINUTE", "Duration");
                    InitBarChart($("#chart_waste_weight"), "Waste Weight", WasteCategories, WasteWeightPoints, "KG", "Weight");
                }
            }

            function InitGraph(dom, tagName, uom, points) {
                dom.highcharts({
                    chart: {
                        zoomType: 'x',
                        height: 600,
                        type: 'line'
                    },
                    title: {
                        text: tagName,
                        style: {
                            fontSize: "200%"
                        }
                    },
                    subtitle: {
                        text: "From " + $("#startDate").find("input").val() +
                                " until " + $("#finishDate").find("input").val(),
                        style: {
                            fontSize: "150%"
                        }
                    },
                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: 'Timestamp',
                            style: {
                                fontSize: "200%"
                            }
                        },
                        dateTimeLabelFormats: {
                            day: '%e %b %Y %H:%M:%S'
                        },
                        labels: {
                            style: {
                                fontSize: '150%'
                            }
                        }
                    },
                    yAxis: {
                        title: {
                            text: uom,
                            style: {
                                fontSize: "200%"
                            }
                        },
                        labels: {
                            style: {
                                fontSize: '150%'
                            }
                        }
                    },
                    plotOptions: {
                        series: {
                            turboThreshold: 0
                        }
                    },
                    series: [
                        {
                            name: uom,
                            data: points,
                            marker: {
                                enabled: false
                            }
                        }
                    ]
                });
            }

            function InitPieChart(dom, title, data, uom) {
                dom.highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: title
                    },
                    subtitle: {
                        text: "From " + $("#startDate").find("input").val() +
                                " until " + $("#finishDate").find("input").val(),
                        style: {
                            fontSize: "150%"
                        }
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y:.2f} ' + uom + '</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '{point.y:.2f} ' + uom,
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                                    fontSize: '110%'
                                }
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: 'Duration',
                        data: data
                    }]
                });
            }

            function InitBarChart(dom, title, categories, data, uom, seriesName) {
                dom.highcharts(
                        {
                            chart: {
                                type: 'column',
                                zoomType: 'xy',
                                height: 600
                            },
                            title: {
                                text: title,
                                style: {
                                    fontSize: '200%'
                                }
                            },
                            subtitle: {
                                text: "From " + $("#startDate").find("input").val() +
                                        " until " + $("#finishDate").find("input").val(),
                                style: {
                                    fontSize: "150%"
                                }
                            },
                            legend: {
                                enabled: false
                            },
                            xAxis: {
                                categories: categories,
                                labels: {
                                    style: {
                                        fontSize: '150%'
                                    },
                                    rotation: 90
                                }
                            },
                            yAxis: [
                                {
                                    title: {
                                        text: uom,
                                        style: {
                                            color: '#89A54E',
                                            fontSize: '200%'
                                        }
                                    },
                                    labels: {
                                        style: {
                                            fontSize: '150%'
                                        }
                                    }
                                }
                            ],
                            series: [
                                {
                                    name: seriesName,
                                    type: 'column',
                                    data: data,
                                    tooltip: {
                                        valueSuffix: ' ' + uom
                                    }
                                }
                            ]
                        }
                    );
            }

            $(
                function () {
                    $("#companies").trigger("change");
                    $(".datepicker").datetimepicker(
                            {
                                format: 'MMM DD YYYY HH:mm'
                            });
                    var Today = new Date(2014, 6, 2, 7);
                    $("#startDate").data('DateTimePicker').date(Today);
                    $("#finishDate").data('DateTimePicker').date(Today);

                    $(".numericControl").spinner
                                       (
                                           {
                                               step: .01,
                                               numberFormat: "n"
                                           }
                                       ).css("text-align", "right");
                    $(".ui-spinner-input").css("width", "85%");
                    $('.ui-spinner-button').click(function () {
                        $(this).siblings('input').change();
                    });

                    //$("#tab-result").hide();
                }
            );
</script>



<div class="container">
    <fieldset style="margin-top:10px">
        <legend>
            Setup
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frm-filter">
                <table class="table table-striped">
                    <tr>
                        <td>
                            Company
                        </td>
                        <td></td>
                        <td style="width:100%" colspan="4">
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetStateMachines();GetMachines()">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Machine
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select class="selectpicker" id="machines" name="machine_id" onchange="GetTags();"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            State Machine
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select class="selectpicker" id="state_machines" name="state_machine_id" onchange="GetVariables()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Variable(s)
                        </td>
                        <td></td>
                        <td colspan="4">
                            <table class="table table-striped" id="variables">
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Date time
                        </td>
                        <td></td>
                        <td>From</td>
                        <td>
                            <div class="input-group date datepicker" id="startDate">
                                <input type="text" name="start_date" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td>to</td>
                        <td>
                            <div class="input-group date datepicker" id="finishDate">
                                <input type="text" name="finish_date" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Additional Settings</td>
                        <td></td>
                        <td colspan="4">
                            <table class="table">
                                <tr>
                                    <td>Lowest speed for sheet break detection</td>
                                    <td><input type="text" class="numericControl" id="lowest_speed" value="4.0" /></td>
                                    <td>meter(s)/second</td>
                                </tr>
                                <tr>
                                    <td>Different between sheet break join</td>
                                    <td><input type="text" class="numericControl" id="different_sb_join" value="5000.0" /></td>
                                    <td>meter(s)</td>
                                </tr>
                                <tr>
                                    <td>Lowest roll length</td>
                                    <td><input type="text" class="numericControl" id="lowest_roll_length" value="5000.0" /></td>
                                    <td>meter(s)</td>
                                </tr>
                                <tr>
                                    <td>Lowest gross tonnage</td>
                                    <td><input type="text" class="numericControl" id="lowest_stock" value="10.0" /></td>
                                    <td>Ton(s)/day</td>
                                </tr>
                                <tr>
                                    <td>Headbox width</td>
                                    <td><input type="text" class="numericControl" id="headbox_width" value="2870.0" /></td>
                                    <td>milimeter(s)</td>
                                </tr>
                                <tr>
                                    <td>Trim width</td>
                                    <td><input type="text" class="numericControl" id="trim_width" value="30.0" /></td>
                                    <td>milimeter(s)</td>
                                </tr>
                                <tr>
                                    <td>Ordered deckel width</td>
                                    <td><input type="text" class="numericControl" id="deckel_width" value="0.0" /></td>
                                    <td>milimeter(s)</td>
                                </tr>
                                <tr>
                                    <td>Moisture</td>
                                    <td><input type="text" class="numericControl" id="moisture" value="4.5" /></td>
                                    <td>%</td>
                                </tr>
                                <tr>
                                    <td>Roll length conversion</td>
                                    <td><input type="text" class="numericControl" id="length_conversion" value="1.0" /></td>
                                    <td>meter(s)</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="margin-top:10px">
                <button class="btn btn-info" onclick="GetData()" type="button">
                    <span class="glyphicon glyphicon-play"></span> Run state machine
                </button>
            </div>
        </div>
    </fieldset>

    <fieldset style="margin-top:10px" id="tab-result">
        <legend></legend>
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist" id="navtab-result">
                <li role="presentation">
                    <a href="#graph_length" aria-controls="Length" role="tab" data-toggle="tab">Roll Length Graph</a>
                </li>
                <li role="presentation">
                    <a href="#graph_stock" aria-controls="Stock" role="tab" data-toggle="tab">Stock Graph</a>
                </li>
                <li role="presentation">
                    <a href="#log_state" aria-controls="LogState" role="tab" data-toggle="tab">
                        State Machine Log
                    </a>
                </li>
                <li role="presentation">
                    <a href="#report_state" aria-controls="ReportState" role="tab" data-toggle="tab">
                        Roll Report
                    </a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="graph_length"></div>
            <div role="tabpanel" class="tab-pane" id="graph_stock"></div>
            <div role="tabpanel" class="tab-pane" id="log_state" style="max-height:600px;overflow-y:auto">
                <table class="table table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <td>Timestamp</td>
                            <td>State</td>
                        </tr>
                    </thead>
                    <tbody id="table-log"></tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="report_state">
                <div class="row">
                    <div class="col-md-6" id="chart_uptime"></div>
                    <div class="col-md-6" id="chart_state"></div>
                </div>
                <div class="row">
                    <div class="col-md-6" id="chart_waste_time"></div>
                    <div class="col-md-6" id="chart_waste_weight"></div>
                </div>
                <div class="row" style="max-height:600px;overflow-y:auto;margin-top:10px">
                    <table class="table text-center table-bordered">
                        <thead>
                            <tr>
                                <td>Roll Number</td>
                                <td>State</td>
                                <td>Event</td>
                                <td>Weight<br/>(Kg)</td>
                                <td>Duration<br/>(minute)</td>
                                <td>Length<br/>(meter)</td>
                            </tr>
                        </thead>
                        <tbody id="table_report"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
</div>

