﻿@model IEnumerable<DaVinxi.Models.SKUBusinesses>

@{
    ViewBag.Title = "Manage SKU Business";
}

<script type="text/javascript">
    function ShowDeleteDialog(companyID,businessID,fullName)
    {
        $("#delete-message").html("Are you sure want to delete business " + fullName + "?");

        $("#deleted-id").val(businessID);
        $("#deleted-company-id").val(companyID);

        $("#myModal").modal("show");
    }

    $
        (
            function ()
            {
                $("#myModal .deleteConfirmed").click
                (
                    function()
                    {
                        $("#frmDelete").submit();
                    }
                );
            }
        );
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "SKUBusiness", FormMethod.Post, new { id = "frmDelete" }))
                {
                    <input type="hidden" id="deleted-id" name="businessID" />
                    <input type="hidden" id="deleted-company-id" name="companyID" />
                    <div id="delete-message"></div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning deleteConfirmed">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button class="btn btn-lg btn-default" onclick="location.href='@Url.Action("Register","SKUBusiness")'">
        Add New SKU Business
    </button>

    <table class="table table-bordered table-hover" style="margin-top:15px">
        <thead style="text-align:center">
            <tr>
                <td>
                    @Html.DisplayNameFor(u => u.company_id)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.business_id)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.business_name)
                </td>
                <td>
                    Quality Properties
                </td>
                <td>
                    Edit
                </td>
                <td>
                    Delete
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        @if (ViewBag.RelatedCompanies != null &&
                            (ViewBag.RelatedCompanies as Dictionary<int, string>).ContainsKey(item.company_id))
                        {
                            @Html.Label((ViewBag.RelatedCompanies as Dictionary<int, string>)[item.company_id])
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.business_id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.business_name)
                    </td>
                    <td>
                        @if (ViewBag.RelatedProperties != null &&
                            (ViewBag.RelatedProperties as Dictionary<string, List<DaVinxi.Models.QualityProperties>>).ContainsKey(item.business_id))
                        {
                            <ul>
                                @foreach (var qProp in (ViewBag.RelatedProperties as Dictionary<string, List<DaVinxi.Models.QualityProperties>>)[item.business_id])
                                {
                                    <li>@qProp.property_name</li>
                                }
                            </ul>
                        }
                    </td>
                    <td style="text-align:center">
                        <a href="@Url.Action("Edit", "SKUBusiness",
                            new { companyID = item.company_id, businessID = item.business_id })">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td style="text-align:center">
                        <a href="javascript:void(0)"
                           onclick="ShowDeleteDialog(@item.company_id,'@item.business_id','@item.business_name')">
                            <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
