﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="@Url.Content("~/Content/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <title>DaVinxi - @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css") 
    @Styles.Render("~/Content/custom")

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
        function OpenChangePassword() {
            $("#modal-change-password").modal('show');
        }

        function ChangePassword() {
            if ($("#frm-change-password input[name='new_password']").val() !==
                $("#frm-change-password input[name='re_new_password']").val())
                $("#change-password-error").html('<div class="alert alert-danger" role="alert">Passwords don\'t match</div>');
            else if ($("#frm-change-password input[name='new_password']").val() == null ||
                $("#frm-change-password input[name='new_password']").val().length <= 0)
                $("#change-password-error").html('<div class="alert alert-danger" role="alert">Please input your password</div>');
            else if ($("#frm-change-password input[name='re_new_password']").val() == null ||
                $("#frm-change-password input[name='re_new_password']").val().length <= 0)
                $("#change-password-error").html('<div class="alert alert-danger" role="alert">Please re-type your password</div>');
            else {
                $.ajax({
                    type: 'post',
                    url:'@Url.Action("ChangePassword","User")',
                    data: $("#frm-change-password").serialize(),
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        $("#frm-change-password .modal-footer").hide();
                        $("#change-password-error").html('<div class="progress">' +
                            '<div class="progress-bar progress-bar-success progress-bar-striped active" ' + 
                            'role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">' +
                            '<span class="sr-only">100% Complete</span></div></div>');
                    }
                }).done
                    (
                        function (data) {
                            $("#frm-change-password .modal-footer").show();
                            if (data.status == 1)
                                $("#change-password-error").html('<div class="alert alert-success" role="alert">' +
                                    'Password has changed</div>');
                            else
                                $("#change-password-error").html('<div class="alert alert-danger" role="alert">' +
                                    data.message + '</div>');
                        }
                    );
            }
        }

        $(
            function () {
                $(".selectpicker").attr("data-width", "100%");
                $(".selectpicker").attr("data-size", "5");
                $(".selectpicker").attr("data-live-search", "true");
                $(".selectpicker").addClass("show-tick");
                $(".selectpicker").selectpicker();

                $("input[type=text]").addClass("form-control");
                $("input[type=password]").addClass("form-control");
                $("input[type=file]").addClass("form-control");
                $("textarea").addClass("form-control");
                $("textarea").attr("rows", "25");

                $(".validation-summary-errors").addClass("alert");
                $(".validation-summary-errors").addClass("alert-danger");

                $(".login-new-switch").bootstrapSwitch
                (
                    {
                        onColor: 'success',
                        onText: 'Yes',
                        offText: 'No',
                        size:'small'
                    }
                );

                if ($("#companies option").length <= 1) {
                    if ($("#companies").parents("tr").length > 0)
                        $("#companies").parents("tr").hide();
                    else
                        $("#companies").parents("div").hide();
                }
            }
        );
    </script>
</head>
<body oncontextmenu="return true;">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")" style="background-color:white">
                    <img alt="Brand" style="float:left;margin-top:-10px;margin-left:-10px" 
                         src="~/Content/integration2.jpg" width="40" height="40" /> 
                    DaVinxi
                </a>
            </div>

            <div class="collapse navbar-collapse" id="navigationbar">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-leaf"></span>
                                Quality<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation" class="dropdown-header">SKU Categorization</li>
                                <li>
                                    <a href="@Url.Action("Index","SKU")">
                                        SKU Management
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","SKUSegment")">
                                        SKU's Segments
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","SKUBusiness")">
                                        SKU's Business
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","SKUCategories")">
                                        SKU's Categories
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","SKUSubcategories")">
                                        SKU's Subcategories
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","QualityProperties")">
                                        Quality Properties
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header">Specifications</li>
                                <li>
                                    <a href="@Url.Action("Index","SKUPropertySetting")">
                                        SKU's Specification Setting
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header">Quality Data</li>
                                <li>
                                    <a href="@Url.Action("Index","QualityData")">
                                        Quality Data
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","ProcessCapability")">
                                        Process Capabilities
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","QualityRunChart")">
                                        Quality Run Chart
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header">Defects</li>
                                <li>
                                    <a href="@Url.Action("Index","DefectTracking")">
                                        Defect Tracking
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Defect")">
                                        Defects Tree and Dictionary
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-stats"></span>
                                Historian<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation" class="dropdown-header">OPC FastTags</li>
                                <li>
                                    <a href="@Url.Action("Index","TagData")">
                                        Tag Visualization
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Historian")">
                                        Tag Database
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header">Data Analysis</li>
                                <li class="disabled">
                                    <a href="javascript:void(0)">
                                        Regression
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="javascript:void(0)">
                                        Principal Component Analysis (PCA)
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-equalizer"></span>
                                Process<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="presentation" class="dropdown-header">Downtime</li>
                                <li>
                                    <a href="@Url.Action("Index","DowntimeTracking")">
                                        Downtime Tracking
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","DowntimeLog")">
                                        Downtime Log
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","DowntimeTree")">
                                        Downtime Tree and Dictionary
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header">Process Flow</li>
                                <li class="disabled">
                                    <a href="javascript:void(0)">
                                        Process Flow
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header">Process Data</li>
                                <li>
                                    <a href="@Url.Action("Index","ProcessControl")">
                                        Process Control
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Product")">
                                        Product Management
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Batch")">
                                        Batch Management
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","RollReport")">
                                        Roll Report
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","BladeReport")">
                                        Blade Report
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li role="presentation" class="dropdown-header">Process Setting</li>
                                <li>
                                    <a href="@Url.Action("Index","SKUMachine")">
                                        Process Setting
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-flash"></span>
                                Optimization<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="disabled">
                                    <a href="javascript:void(0)">
                                        Evolutionary Optimization Process (EVOP)
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="javascript:void(0)">
                                        Self Directed Optimization (SDO)
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-usd"></span>
                                Financial<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="disabled">
                                    <a href="javascript:void(0)">
                                        Financial Model
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "SimFinancialModel")">
                                        Financial Simulator
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="javascript:void(0)">
                                        Standard Costing
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="javascript:void(0)">
                                        Actual Costing
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-list"></span>
                                Reports<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li class="disabled">
                                    <a href="javascript:void(0)">
                                        by Period
                                    </a>
                                </li>
                                <li class="disabled">
                                    <a href="javascript:void(0)">
                                        by SKU
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
                
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-wrench"></span>
                                Machine<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu navmenu-nav" role="menu">
                                <li>
                                    <a href="@Url.Action("Index","Machine")">
                                        Machine Management
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","MachineType")">
                                        Machine Types Management
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","MachineComponent")">
                                        Machine Components Management
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-th"></span>
                                Common Data<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu navmenu-nav" role="menu">
                                <li>
                                    <a href="@Url.Action("Index","User")">
                                        User Accounts Management
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Company")">
                                        Company Management
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Division")">
                                        Division Management
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Block")">
                                        Block Management
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","EU")">
                                        Engineering Unit Management
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","OperativeAction")">
                                        Operative Action Management
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","StateMachine")">
                                        State Machine Management
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                Welcome, @(Request.Cookies["real_name"] != null ?
                                    Request.Cookies["real_name"].Value : "Unknown")
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:void(0)" onclick="OpenChangePassword()">
                                        <span class="glyphicon glyphicon-lock"></span>
                                        Change Password
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="@Url.Action("Logout","User")">
                                        <span class='glyphicon glyphicon-log-out'></span> Sign out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <form class="navbar-form" method="post" action="@Url.Action("Login","User")">
                                <div class="form-group">
                                    <div class="input-group input-group-sm" style="padding-bottom:5px">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <input type="text" name="Username" placeholder="Username" autocomplete="off" autofocus />
                                    </div>

                                    <div class="input-group input-group-sm" style="padding-bottom:5px">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="password" name="Password" placeholder="Password" autocomplete="off" />
                                    </div>
                                    <span style="padding-right:5px">
                                        <label>Remember me</label>
                                        <input type="checkbox" name="RememberMe" class="login-new-switch" />
                                    </span>
                                    <button class="btn btn-large btn-primary" type="submit">
                                        <span class="glyphicon glyphicon-log-in"></span> 
                                        Sign in
                                    </button>
                                </div>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
        
    <div class="modal fade" id="modal-progress" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">100% Complete</span>
                        </div>
                    </div>
                    <div class="alert alert-info text-center" role="alert">Please wait...</div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-change-password" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">
                    <div id="change-password-error"></div>
                    <form id="frm-change-password">
                        <div>
                            <label for="new_password">New Password</label>
                            <input type="password" name="new_password" />
                        </div>
                        <div style="margin-top:5px">
                            <label for="re_new_password">Re-type new Password</label>
                            <input type="password" name="re_new_password" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-warning" onclick="ChangePassword()">Change</button>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top:70px;margin-bottom:70px" class="Printable">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    
</body>
</html>
