﻿<!DOCTYPE html>
@{
    ViewBag.FullPath = string.Format("{0}://{1}{2}{3}",
                                    HttpContext.Current.Request.Url.Scheme,
                                    HttpContext.Current.Request.Url.Host,
                                    HttpContext.Current.Request.Url.Port == 80
                                        ? string.Empty
                                        : ":" + HttpContext.Current.Request.Url.Port,
                                    HttpContext.Current.Request.ApplicationPath);
}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <link href="@string.Concat(ViewBag.FullPath,"Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@string.Concat(ViewBag.FullPath,"Content/bootstrap-theme.min.css")" rel="stylesheet">
    
    <script src="@string.Concat(ViewBag.FullPath,"Scripts/jquery-1.11.3.min.js")"></script>
    <script src="@string.Concat(ViewBag.FullPath,"Scripts/bootstrap.min.js")"></script>

</head>
<body>
    <div style="display:none;">
        <header>
            <div style="border-bottom:1px solid gray;">
                <div>
                    <img src="@string.Concat(ViewBag.FullPath,"Content/integration2.jpg")" width="50" height="50" style="float:left" />
                    <h1>DaVinxi - @ViewBag.Title</h1>
                </div>
                <div style="clear:both;"></div>
            </div>
        </header>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
    </div>
    <div style="display:none;">
        <footer>
            <div style="border-top:1px solid gray;">
                <div style="text-align:center">
                    Page&nbsp;<span class="page"></span>&nbsp;of&nbsp;<span class="topage"></span>
                </div>
                <div style="clear:both;"></div>
            </div>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>

