﻿@model DaVinxi.Models.MachineRegisterModel

@{
    ViewBag.Title = "Edit Machine " + Model.machine_name;
}

<script type="text/javascript">
    var Tags = "";
    function GetTag() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetTags", "TagData")',
                    data: { companyID: '@Model.company_id' },
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        Tags = "<option value=''>None</option>";
                    },
                    async: false
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            Tags += "<option value='" + data[i].tag_id + "'>[" + data[i].tag_id + "] " +
                                data[i].tag_name + "</option>";
                        }
                    }
                }
            );
    }
    function GetBlock() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetBlocksJSON", "HelperClass")',
                    data: { companyID: $("#company").val(), divisionID: '' },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#blocks").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        var PrevDivision = "", Line = "";
                        for (var i = 0; i < data.length; i++) {
                            if (PrevDivision != data[i].division_id) {
                                PrevDivision = data[i].division_id;
                                if (i > 0)
                                    Line += "</optgroup>";
                                Line += "<optgroup label=\"Division : " + data[i].division_name + "\">";
                            }
                            Line += "<option value='" + data[i].block_id + "'>"
                                + data[i].block_name + "</option>";
                        }

                        Line += "</optgroup>";
                        $("#blocks").append(Line);
                    }
                    $("#blocks").val("@Model.block_id");
                    $("#blocks").selectpicker("refresh");
                }
            );
    }

    function GetComponents() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachineDetailsJSON", "HelperClass")',
                    data: { machineID: $("#machine").val(), company: $("#company").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#components").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        var HasNumericControl = false;
                        for (var i = 0; i < data.length; i++) {
                            var Line = "";
                            Line += "<fieldset style='margin-bottom:10px'>";

                            var ElementName = "components[" + i + "]";

                            Line += "<input type='hidden' name='" +
                                ElementName + ".id' value='" + data[i].component_id + "'/>";
                            Line += "<input type='hidden' name='" +
                                ElementName + ".is_numeric' value='" + data[i].is_numeric + "'/>";

                            Line += "<legend>" +
                                    data[i].component_name + "</legend>";
                            var InputBox = "<input type='text' name='" + ElementName
                                    + ".data_value' value='" + data[i].value + "'";

                            if (data[i].is_numeric) {
                                Line += "<table class='table'>";
                                Line += "<tr>";
                                Line += "<td>Designed Setting</td>";
                                Line += "<td>" + InputBox + " class='numericControl'/>" + "</td>";
                                Line += "<td>" + data[i].unit_name + "</td>";
                                Line += "</tr>";
                                Line += "<tr>";
                                Line += "<td>Tag</td>";
                                Line += "<td colspan='2'><select class='selectpicker' name='"
                                    + ElementName + ".tag_id'>" + Tags + "</select></td>";
                                Line += "</tr>";
                                Line += "</table>";

                                HasNumericControl = true;
                            }
                            else {
                                Line += InputBox + " class='form-control'/>";
                            }
                            Line += "</fieldset>";
                            $("#components").append(Line);

                            if (data[i].is_numeric)
                                $("#components .selectpicker").last().val(data[i].tag_id);
                        }
                        if (HasNumericControl) {
                            $(".numericControl").spinner
                                (
                                    {
                                        step: 0.01,
                                        numberFormat: "n"
                                    }
                                );
                            $(".ui-spinner").css("width", "100%");
                            $(".ui-spinner-input").css("width", "95%");

                            $("#components .selectpicker").each(function () {
                                $(this).attr("data-width", "100%").attr("data-size",
                                    "5").attr("data-live-search", "true").addClass("show-tick").selectpicker();
                                $(this).selectpicker('refresh');
                            });
                        }
                    }
                }
            );
            }

            $
                (
                    function () {
                        GetTag();
                        GetBlock();
                        GetComponents();
                        $("#datePicker").datetimepicker
                            (
                                {
                                    format: 'MMMM DD YYYY',
                                    showTodayButton:true
                                }
                            );
                        $("#datePicker").data("DateTimePicker").date('@Model.installed_date.ToString("MMM dd yyyy")');
                    }
                );
</script>

<div class="container">

    @using (Html.BeginForm("Edit", "Machine", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.HiddenFor(m => m.company_id, new { id="company"})
                @Html.HiddenFor(m => m.machine_id, new { id="machine"})
                @Html.HiddenFor(m => m.machine_type_id, new { id = "machineType" })
            </div>

            <div style='margin-top:10px'>
                @Html.LabelFor(m => m.block_id)
                <select name="block_id" id="blocks" class="selectpicker"></select>
            </div>

            <div style='margin-top:10px'>
                @Html.LabelFor(m => m.machine_name)
                @Html.EditorFor(m => m.machine_name,
                    new { placeholder = "Machine Name" })
                @Html.ValidationMessageFor(m => m.machine_name)
            </div>

            <div style='margin-top:10px'>
                @Html.LabelFor(m => m.installed_date)
                <div class="input-group date" id="datePicker">
                    @Html.TextBoxFor(m => m.installed_date)
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <fieldset style="margin-top:30px">
                <legend>Components</legend>
                <div id="components"></div>
            </fieldset>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","Machine")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

