﻿@{
    ViewBag.Title = "Manage Machines";
}

<script type="text/javascript">
    function GetDivision() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDivisionsJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#divisions").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#divisions").append("<option value=''>All divisions</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#divisions").append("<option value='" + data[i].division_id + "'>"
                                + data[i].division_name + "</option>")
                        }
                    }
                    $("#divisions").selectpicker("refresh");
                    $("#divisions").trigger("change");
                }
            );
    }

    function GetBlock() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetBlocksJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#blocks").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#blocks").append("<option value=''>All blocks</option>");

                        var PrevDivision = "", Line = "";
                        for (var i = 0; i < data.length; i++) {
                            if (PrevDivision != data[i].division_id) {
                                PrevDivision = data[i].division_id;
                                if (i > 0)
                                    Line += "</optgroup>";
                                Line += "<optgroup label=\"Division : " + data[i].division_name + "\">";
                            }
                            Line += "<option value='" + data[i].block_id + "'>"
                                + data[i].block_name + "</option>";
                        }

                        Line += "</optgroup>";
                        $("#blocks").append(Line);
                    }
                    $("#blocks").selectpicker("refresh");
                    $("#blocks").trigger("change");
                }
            );
    }

    function GetMachine() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val(), blockID: $("#blocks").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#result_machines").html('');
                        ShowHideFilter();
                        $("#modal-progress").modal('show');
                    }
                }
            ).done
            (
                function (data) {
                    $("#modal-progress").modal('hide');
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            var Line = "";
                            Line += "<tr class='text-center'>";
                            Line += "<td>" + data[i].machine.machine_id + "</td>";
                            Line += "<td>" + data[i].machine.machine_name + "</td>";
                            Line += "<td><a href='javascript:void(0)' onclick='ShowHideDetails("
                                + data[i].machine.company_id + ",\"" + data[i].machine.machine_id
                                + "\")'>Details <span class='glyphicon glyphicon-chevron-down' " +
                                "id='btn_" + data[i].machine.company_id + "_" + data[i].machine.machine_id + "'></span></a></td>";
                            Line += "<td><a href='javascript:void(0)' onclick='EditMachine(" + data[i].machine.company_id
                                + ",\"" +
                                data[i].machine.machine_id + "\")'><span class='glyphicon glyphicon-pencil'></span></a></td>";
                            Line += "<td><a href='javascript:void(0)' onclick='ShowDeleteDialog(" + data[i].machine.company_id + 
                                ",\"" + data[i].machine.machine_id + "\",\"" + data[i].machine.machine_name + "\")'>" + 
                                "<span class='glyphicon glyphicon-trash'></span>"
                                + "</a></td>";
                            Line += "</tr>";
                            Line += "<tr class='rowDetails' id='row_" + data[i].machine.company_id + "_"
                                + data[i].machine.machine_id + "'>";
                            Line += "<td></td>";
                            Line += "<td colspan='4'><table class='table'></table></td>";
                            Line += "</tr>";
                            $("#result_machines").append(Line);
                        }
                        $("#result_machines .rowDetails").hide();
                    }
                }
            );
    }

    function EditMachine(companyID, machineID)
    {
        location.href = '@Url.Action("Edit")?companyID=' + companyID + "&machID=" + machineID;
    }

    function ShowHideDetails(companyID,machID)
    {
        var RowID = "row_" + companyID + "_" + machID;
        var btnID = "btn_" + companyID + "_" + machID;

        if($("#" + RowID).hasClass("showed"))
        {
            $("#" + RowID).hide();
            $("#" + RowID).removeClass("showed");
            $("#" + btnID).removeClass("glyphicon-chevron-up");
            $("#" + btnID).addClass("glyphicon-chevron-down");
        }
        else
        {
            FetchDetail(companyID,machID);
        }
    }

    function FetchDetail(companyID,machID)
    {
        var TableID = companyID + machID;
        var RowID = "row_" + companyID + "_" + machID;
        var btnID = "btn_" + companyID + "_" + machID;

        $.ajax
            (
                {
                    type:"POST",
                    url:'@Url.Action("GetMachineDetailsJSON","HelperClass")',
                    data:{machineID:machID,company:companyID},
                    dataType:'json',
                    beforeSend:function(xhr)
                    {
                        $("#" + RowID).find("table").html('');
                        $("#" + RowID).hide();
                        $("#" + RowID).removeClass("showed");
                    }
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        var Row="";
                        for(var i=0;i<data.length;i++)
                        {
                            Row = "";
                            Row+="<tr>";
                            Row+="<td rowspan='" + (data[i].is_numeric? "2" : "") + "'>" + data[i].component_name + "</td>";
                            Row += "<td>Designed Setting</td><td>" + data[i].value;

                            if (data[i].is_numeric)
                                Row += " " + data[i].unit_name;
                            Row += "</td>";
                            Row += "</tr>";

                            if (data[i].is_numeric) {
                                Row += "<tr>";
                                Row += "<td>Tag</td>";
                                if(data[i].tag_id!=null)
                                    Row += "<td>[" + data[i].tag_id + "] " + data[i].tag_name + "</td>";
                                Row += "</tr>";
                            }
                            $("#" + RowID).find("table").append(Row);
                        }
                        $("#" + RowID).show();
                        $("#" + RowID).addClass("showed");
                        $("#" + btnID).addClass("glyphicon-chevron-up");
                        $("#" + btnID).removeClass("glyphicon-chevron-down");
                    }
                    else
                        alert("No data");
                }
            );
    }

    function ShowDeleteDialog(companyID,machID,fullName)
    {
        $("#delete-message").html("Are you sure want to delete Machine " + fullName + "?");

        $("#deleted-id").val(machID);
        $("#deleted-company-id").val(companyID);

        $("#delete-modal").modal("show");
    }

    var ShowFilter = true;
    function ShowHideFilter() {
        ShowFilter = !ShowFilter;

        if (ShowFilter) {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    $
        (
            function ()
            {
                $("#companies").trigger("change");
                $("#delete-modal .deleteConfirmed").click
                (
                    function()
                    {
                        $("#frmDelete").submit();
                    }
                );
            }
        );
</script>

<div class="modal fade" id="delete-modal" tabindex=" -1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Machine", FormMethod.Post, new { id = "frmDelete" }))
                {
                    <input type="hidden" id="deleted-id" name="machID" />
                    <input type="hidden" id="deleted-company-id" name="companyID" />
                    <div id="delete-message"></div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning deleteConfirmed">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button class="btn btn-lg btn-default" onclick="location.href='@Url.Action("Register","Machine")'">
        Add New Machine
    </button>

    <fieldset style="margin-top:10px">
        <legend>
            Filter
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frm-filter">
                <table class="table table-striped">
                    <tr>
                        <td>
                            Company
                        </td>
                        <td></td>
                        <td style="width:100%">
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetDivision()">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Division
                        </td>
                        <td></td>
                        <td>
                            <select id="divisions" name="division_id" class="selectpicker" onchange="GetBlock()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Block
                        </td>
                        <td></td>
                        <td>
                            <select id="blocks" name="block_id" class="selectpicker"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Machine
                        </td>
                        <td></td>
                        <td>
                            <input type="text" name="machine_id" />
                        </td>
                    </tr>
                </table>
            </form>
            <div style="margin-top:10px">
                <button class="btn btn-info" onclick="GetMachine()" type="button">
                    <span class="glyphicon glyphicon-search"></span> Find Machine(s)
                </button>
            </div>
        </div>
    </fieldset>

    <fieldset id="fieldset-Product" style="margin-top:10px">
        <legend></legend>
        <table class="table table-striped">
            <thead style="text-align:center">
                <tr>
                    <td>
                        Machine ID
                    </td>
                    <td>
                        Machine Name
                    </td>
                    <td>
                        Detail
                    </td>
                    <td>
                        Edit
                    </td>
                    <td>
                        Delete
                    </td>
                </tr>
            </thead>
            <tbody id="result_machines"></tbody>
        </table>
    </fieldset>
</div>