﻿@model DaVinxi.Models.MachineRegisterModel

@{
    ViewBag.Title = "Register New Machine";
}

<script type="text/javascript">
    var Tags = "";
    function GetTag() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetTags", "TagData")',
                    data: { companyID: $("#company").val() },
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        Tags = "<option value=''>None</option>";
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            Tags += "<option value='" + data[i].tag_id + "'>[" + data[i].tag_id + "] " +
                                data[i].tag_name + "</option>";
                        }
                    }
                }
            );
    }

    function GetMachineType() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachineTypeJSON", "HelperClass")',
                    data: { companyID: $("#company").val() },
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        $("#machType").val('').html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#machType").append("<option value='" +
                                data[i].machine_type_id + "'>" +
                                data[i].machine_type_name + "</option>");
                        }
                    }
                    $("#machType").attr("data-width", "100%");
                    $("#machType").attr("data-live-search", "true");
                    $("#machType").addClass("show-tick");

                    $("#machType").selectpicker();
                    $("#machType").trigger("change");
                }
            );
            }

            function GetBlock() {
                $.ajax
                    (
                        {
                            type: "POST",
                            url: '@Url.Action("GetBlocksJSON", "HelperClass")',
                            data: { companyID: $("#company").val(), divisionID: '' },
                            dataType: 'json',
                            async: true,
                            beforeSend: function (xhr) {
                                $("#blocks").html('');
                            }
                        }
                    ).done
                    (
                        function (data) {
                            if (data != null && data.length > 0) {
                                var PrevDivision = "", Line = "";
                                for (var i = 0; i < data.length; i++) {
                                    if (PrevDivision != data[i].division_id) {
                                        PrevDivision = data[i].division_id;
                                        if (i > 0)
                                            Line += "</optgroup>";
                                        Line += "<optgroup label=\"Division : " + data[i].division_name + "\">";
                                    }
                                    Line += "<option value='" + data[i].block_id + "'>"
                                        + data[i].block_name + "</option>";
                                }

                                Line += "</optgroup>";
                                $("#blocks").append(Line);
                            }
                            $("#blocks").selectpicker("refresh");
                        }
                    );
            }

            function GetComponents() {
                $.ajax
                    (
                        {
                            type: "POST",
                            url: '@Url.Action("GetMachineComponentByMachineTypeJSON", "HelperClass")',
                            data: { machTypeID: $("#machType").val(), companyID: $("#company").val() },
                            dataType: 'json',
                            beforeSend: function (xhr) {
                                $("#components").html('');
                            }
                        }
                    ).done
                    (
                        function (data) {
                            if (data != null && data.length > 0) {
                                var HasNumericControl = false;
                                for (var i = 0; i < data.length; i++) {
                                    var Line = "<fieldset style='margin-bottom:10px'>";

                                    var ElementName = "components[" + i + "]";

                                    Line += "<input type='hidden' name='" +
                                        ElementName + ".id' value='" + data[i].component.component_id + "'/>";
                                    Line += "<input type='hidden' name='" +
                                        ElementName + ".is_numeric' value='" + data[i].component.is_numeric + "'/>";

                                    Line += "<legend>" +
                                            data[i].component.component_name + "</legend>";

                                    if (data[i].component.is_numeric) {
                                        Line += "<table class='table'>";
                                        Line += "<tr><td>Designed Setting</td><td><input type='text' name='" + ElementName
                                            + ".data_value' class='numericControl'/></td><td>" + data[i].uom + "</td></tr>";
                                        Line += "<tr><td>Historian Tag</td><td colspan='2'><select class='selectpicker' " +
                                            "name='" + ElementName + ".tag_id'>" + Tags + "</select></td></tr>";
                                        Line += "</table>";
                                        HasNumericControl = true;
                                    }
                                    else {
                                        Line += "<input type='text' name='" + ElementName
                                            + ".data_value' class='form-control'/>";
                                    }

                                    Line += "</fieldset>";
                                    $("#components").append(Line);
                                }
                                if (HasNumericControl) {
                                    $("#components .numericControl").spinner
                                        (
                                            {
                                                step: 0.01,
                                                numberFormat: "n"
                                            }
                                        );
                                    $(".numericControl").val(0);
                                    $(".ui-spinner").css("width", "100%");
                                    $(".ui-spinner-input").css("width", "90%");

                                    $("#components .selectpicker").each(function () {
                                        $(this).attr("data-width", "100%").attr("data-size",
                                            "5").attr("data-live-search", "true").addClass("show-tick").selectpicker();
                                    });
                                }
                            }
                        }
                    );
            }

            $
                (
                    function () {
                        $("#company").trigger("change");
                        $("#datePicker").datetimepicker
                            (
                                {
                                    format: 'MMMM DD YYYY'
                                }
                            );
                        $("#datePicker").data("DateTimePicker").date('Jan 1 1960');
                    }
                );
</script>

<div class="container">

    @using (Html.BeginForm("Register", "Machine", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.company_id)

                <select class="selectpicker" name="company_id" id="company" onchange="GetBlock(); GetMachineType();GetTag()">
                    @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                    {
                        <option value="@c.company_id">@c.company_name</option>
                    }
                </select>

                @Html.ValidationMessageFor(m => m.company_id)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.block_id)
                <select name="block_id" id="blocks" style="width:100%" class="selectpicker"></select>
                @Html.ValidationMessageFor(m => m.block_id)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.machine_type_id)
                <select name="machine_type_id" id="machType" style="width:100%" onchange="GetComponents()"></select>
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.machine_id)
                @Html.TextBoxFor(m => m.machine_id,
                    new { placeholder = "Machine ID / Initial" })
                @Html.ValidationMessageFor(m => m.machine_id)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.machine_name)
                @Html.TextBoxFor(m => m.machine_name,
                    new { placeholder = "Machine Name" })
                @Html.ValidationMessageFor(m => m.machine_name)
            </div>

            <div style="margin-top:10px">
                @Html.LabelFor(m => m.installed_date)
                <div class="input-group date" id="datePicker">
                    @Html.TextBoxFor(m => m.installed_date)
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <fieldset style="margin-top:30px">
                <legend>Components</legend>
                <div id="components"></div>
            </fieldset>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","Machine")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

