﻿@model DaVinxi.Models.MachineTypeRegisterModel

@{
    ViewBag.Title = "Edit MachineType " + Model.machine_type_name;
}

<script type="text/javascript">
    function GetComponents()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url:'@Url.Action("GetComponentsJSON","HelperClass")',
                    dataType:'json',
                    data:{companyID : $("#companyID").val()},
                    beforeSend : function(xhr)
                    {
                        $("#components").html("");
                        $("#components").val(new Array());
                    }
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        for(var i=0;i<data.length;i++)
                        {
                            $("#components").append("<option value='" + data[i].component_id + "'>" 
                                + data[i].component_name + "</option>");
                        }
                    }
                    GetRelatedComponents();
                }
            );
    }

    function GetRelatedComponents()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url : '@Url.Action("GetMachineTypeComponentJSON","HelperClass")',
                    dataType:'json',
                    data:{machTypeID : $("#machTypeID").val() , companyID : $("#companyID").val()}
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        var Selected = new Array();
                        for(var i=0;i<data.length;i++)
                        {
                            Selected.push(data[i].component_id);
                        }
                        $("#components").val(Selected);
                    }

                    $("#components").chosen();
                }
            );
    }

    $
        (
            function ()
            {
                GetComponents();
            }
        );
</script>

<div class="container">

    @using (Html.BeginForm("Edit", "MachineType", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.HiddenFor(m => m.company_id, new { id = "companyID" })
                @Html.HiddenFor(m => m.machine_type_id, new { id = "machTypeID" })
            </div>

            <div>
                @Html.LabelFor(m => m.machine_type_name)
                @Html.EditorFor(m => m.machine_type_name,
                    new { placeholder = "Machine Type Name" })
                @Html.ValidationMessageFor(m => m.machine_type_name)
            </div>

            <div>
                @Html.Label("Components")

                <select id="components" class="chosen-select" name="components" data-placeholder="Choose Component(s)" multiple>
                </select>
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","MachineType")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

