﻿
@{
    ViewBag.Title = "Quality Data";
}
<style>
    .navbar.center .navbar-inner {
        text-align: center;
    }

        .navbar.center .navbar-inner .nav {
            float: none;
            display: inline-block;
        }
</style>
<script type="text/javascript">
    function GetQualityData() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetQualityData", "HelperClass")',
                    data: {
                        company_id: $("#companies").val(),
                        product_id: $("#products").val()
                    },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $('.nav-tabs a:first').tab('show');
                        $("#div-qualitydata").hide();
                        $("#quality-data").html("");

                        $("#modal-progress").modal("show");
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        var Line = "";
                        for (var i = 0; i < data.length; i++) {
                            var ElementName = "quality_data[" + data[i].property_id + "].",
                                ValueAttributes = "uMap=\"" + data[i].upper_map + "\" "
                                                + "lMap=\"" + data[i].lower_map + "\" "
                                                + "target=\"" + data[i].target + "\" "
                                                + "url=\"" + data[i].url + "\" "
                                                + "lrl=\"" + data[i].lrl + "\" "
                                                + "weight=\"" + data[i].weight + "\" "
                                                + "udefect=\"" + data[i].udefect + "\" "
                                                + "ldefect=\"" + data[i].ldefect + "\" "
                                                + "company=\"" + data[i].company_id + "\" ";
                            Line = "<tr>";
                            Line += "<td>" + "<input type='hidden' name='quality_data.Index' value=\"" + data[i].property_id + "\"/>" + "<input type='hidden' value=\""
                                + data[i].property_id + "\" name=\"" + ElementName + "property_id\"/>"
                                + data[i].property_name + "</td>";
                            Line += "<td><input type='number' class='numericControl' value=\""
                                    + data[i].quality_value + "\" name=\"" + ElementName + "quality_value\" "
                                    + ValueAttributes + "/></td>";
                            Line += "<td>" + data[i].unit_name + "</td>";
                            Line += "<td style='text-align:right'>" + data[i].lrl + "</td>";
                            Line += "<td style='text-align:right'>" + data[i].target + "</td>";
                            Line += "<td style='text-align:right'>" + data[i].url + "</td>";
                            Line += "<td style='text-align:right'>" + data[i].lcl + "</td>";
                            Line += "<td style='text-align:right'>" + data[i].ucl + "<input type='hidden' class='qi' value=\""
                                + data[i].qi + "\" name=\"" + ElementName + "qi\" " + ValueAttributes + "/></td>";
                            Line += "<td style='text-align:right' class=\"qi_fields\">" +
                                data[i].qi + "</td>";
                            Line += "</tr>";

                            $("#quality-data").append(Line);
                        }
                        $("#quality-data .numericControl").bind("change", function () {
                            var UMap = Number($(this).attr("uMap")),
                                LMap = Number($(this).attr("lMap")),
                                Target = Number($(this).attr("Target")),
                                URL = Number($(this).attr("url")),
                                LRL = Number($(this).attr("lrl")),
                                CurrentValue = Number($(this).val());

                            var QI = 0;

                            if (CurrentValue >= LRL && CurrentValue <= Target)
                                QI = Math.pow((CurrentValue - LRL) / (Target - LRL), LMap);
                            else if (CurrentValue <= URL && CurrentValue >= Target)
                                QI = Math.pow((URL - CurrentValue) / (URL - Target), UMap);

                            $(this).parents("tr").find(".qi").val(QI.toFixed(2));
                            $(this).parents("tr").find(".qi_fields").html(QI.toFixed(2));
                            CalculateOverallQI();

                            if (CurrentValue > URL)
                                GetDefect($(this).attr("company"), $(this).attr("udefect"));
                            else if (CurrentValue < LRL)
                                GetDefect($(this).attr("company"), $(this).attr("ldefect"));
                        }).addClass("form-control").css('text-align','right');

                        $("#div-qualitydata").show();

                        $("#alert-box").hide("slide");
                    }
                    $("#modal-progress").modal("hide");
                }
            );
    }

    function GetDefect(company_id, defect_id) {
        $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("GetDefectInfoJSON", "HelperClass")',
                    data: {
                        companyID: company_id,
                        defectID: defect_id
                    },
                    dataType: 'json'
                }
            ).done(
                function (data) {
                    if (data != null && data.length > 0) {
                        AddDefect(data[0].defect_id, data[0].defect_name, 0, 4);
                    }
                }
            );
    }

    function GetDefectData() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetProductDefect", "HelperClass")',
                    data: {
                        company_id: $("#companies").val(),
                        product_id: $("#products").val()
                    },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#defect-data").html("");
                        $("#modal-progress").modal("show");
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            AddDefect(data[i].defect_id, data[i].defect_name, data[i].weight, data[i].severity);
                        }
                    }
                    $("#modal-progress").modal("hide");
                }
            );
    }

    function SaveQualityData() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("SaveQualityData")',
                    data: $("#frm-qualitydata").serialize(),
                    async: true,
                    beforeSend: function (xhr) {
                        $("#modal-progress").modal('show');
                    }
                }
            ).done
            (
                function (data) {
                    $("#modal-progress").modal('hide');
                    if (data == "0x00") {
                        $("#alert-box")
                            .removeClass()
                            .addClass("alert")
                            .addClass("alert-success")
                            .text("Saved")
                        .show("slide");
                        setTimeout(
                            function () {
                                $("#alert-box").hide("slide");
                            }, 3000);
                    }
                    else {
                        $("#alert-box")
                            .removeClass()
                            .addClass("alert")
                            .addClass("alert-danger")
                            .text("Failed to save data")
                        .show("slide");
                    }
                }
            );
    }

    function GetDefects() {
        $.ajax
                (
                    {
                        type: "POST",
                        url: '@Url.Action("GetLowestDefect", "HelperClass")',
                        data: { companyID: $("#companies").val() },
                        dataType: 'json',
                        async: true,
                        beforeSend: function (xhr) {
                            $("#choosed-defect").html('');
                        }
                    }
                ).done
                (
                    function (data) {
                        if (data != null && data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                $("#choosed-defect").append("<option value='" + data[i].defect_id + "'>" +
                                    data[i].defect_name + "</option>");
                            }
                            $("#choosed-defect").selectpicker('refresh');
                        }
                    }
                );
    }

    function ShowDefectDialog() {
        GetDefects();
        $("#defect-modal").modal("show");
    }

    function SelectDefect() {
        AddDefect($("#choosed-defect").val(), $("#choosed-defect option:selected").text(), 0, 0);
        $("#defect-modal").modal("hide");
    }

    function AddDefect(defectID, defectName, weight, severity) {
        var Line = "",
            ModdefectID = defectID.replace(" ", ""),
            ElementName = "defect_data[" + ModdefectID + "].",
            SeverityCB = "<select class='selectpicker' name=\"" + ElementName + "severity\" id=\"severity" + ModdefectID + "\">"
                            + "<option value='0'>No defect</option>"
                            + "<option value='1'>Just noticeable</option>"
                            + "<option value='2'>Warning</option>"
                            + "<option value='3'>Downgrade</option>"
                            + "<option value='4'>Reject</option>"
                            + "</select>";
        if ($("#defect-data").find("#defect_" + ModdefectID).length <= 0) {
            Line = "<tr id=\"defect_" + ModdefectID + "\">";
            Line += "<td style='text-align:center'><input type='hidden' name=\"defect_data.Index\" value=\"" + ModdefectID + "\"/>" +
                        "<input type='hidden' name=\"" + ElementName + "defect_id\" value=\"" + defectID + "\"/>" +
                        "<a href='javascript:void(0)' onclick='DeleteDefect(\"defect_" + ModdefectID + "\")'>" +
                        "<span class=\"glyphicon glyphicon-trash\"></span></a></td>";
            Line += "<td>" + defectName + "</td>";
            Line += "<td style='text-align:center'><input type='number' value=\"" + weight + "\" name=\"" + ElementName + "weight\" class='numericControl'/></td>";
            Line += "<td>" + SeverityCB + "</td>";
            Line += "</tr>";

            $("#defect-data").append(Line);
            $("#severity" + ModdefectID).val(severity);

            $("#defect-data .selectpicker")
                .attr("data-width", "100%")
                .attr("data-size", "5")
                .addClass("show-tick")
                .selectpicker("refresh");

            $("#defect-data .numericControl").addClass("form-control").css('text-align', 'right');
        }
    }

    function DeleteDefect(dom)
    {
        $("#" + dom).remove();
    }

    function GetProduct() {
        if ($("#products").val() == null || $("#products").val().length <= 0)
            return false;
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("FindProduct", "HelperClass")',
                    data: {
                        company_id: $("#companies").val(),
                        product_id: $("#products").val()
                    },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#overall-qi").val(0);
                        $("#txt-qi").text('0');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#txt-product").text($("#products option:selected").text());
                        $("#txt-sku").text(data[0].sku_name);
                        $("#overall-qi").val(data[0].qi);
                        $("#txt-qi").text(data[0].qi);
                        GetQualityData(); GetDefectData(); ShowHideFilter();
                    }
                }
            );
    }

    function CalculateOverallQI() {
        var QI = 1, SumWeight = 0;
        $("#quality-data .qi").each
            (
                function () {
                    if (QI > 0) {
                        QI *= Math.pow(Number($(this).val()), Number($(this).attr("weight")));
                        SumWeight += Number($(this).attr("weight"));
                    }
                }
            );

        if (QI > 0)
            QI = Math.pow(QI, 1 / SumWeight);

        $("#overall-qi").val(QI.toFixed(2));
        $("#txt-qi").text(QI.toFixed(2));
    }

    var ShowFilter = true;
    function ShowHideFilter() {
        ShowFilter = !ShowFilter;

        if (ShowFilter) {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    function GetProducts() {
        $('#products').ajaxSelectPicker({
            ajax: {
                type: 'POST',
                url: '@Url.Action("FindProduct","HelperClass")',
                dataType: 'json',
                data: {
                    company_id: $("#companies").val(),
                    product_id: '{{{q}}}'
                },
                async: true
            },
            preprocessData: function (results) {
                var Products = [];
                if (results.length > 0) {
                    for (var i = 0; i < results.length; i++) {
                        Products.push
                            (
                                {
                                    value: results[i].product_id,
                                    disable: false
                                }
                            );
                    }
                }
                return Products;
            },
            placeHolderOption: 'Click and start typing',
            preserveSelected: false
        });
    }

    $
        (
            function () {
                $("#companies").trigger("change");
                GetProducts();
                $("#div-qualitydata").hide();

                $("#alert-box").hide();
            }
        );
</script>

<div class="modal fade" id="defect-modal" tabindex="-1" role="dialog" aria-labelledby="defect-modalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defect-modalLabel">Choose Defect</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="choosed-defect-id" />
                <input type="hidden" id="choosed-defect-name" />
                <input type="hidden" id="caller-id" />
                <select class="selectpicker" id="choosed-defect"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SelectDefect()">Select Defect</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <form id="frm-qualitydata">
        <fieldset>
            <legend>
                Quality Data by Product
                <a href="javascript:void(0)" onclick="ShowHideFilter()">
                    <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
                </a>
            </legend>
            <div id="filter">
                <table class="table">
                    <tr class="hideable">
                        <td>
                            Company
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td style="width:100%">
                            <select id="companies" name="company_id" class="selectpicker">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Product
                        </td>
                        <td></td>
                        <td>
                            <select id="products" class="selectpicker" name="product_id" onchange="GetProduct();"></select>
                        </td>
                    </tr>
                    <!--<tr>
                        <td>
                            Overal QI
                        </td>
                        <td><input type="hidden" id="overall-qi" name="qi" value="0.00" /></td>
                        <td id="txt-qi"></td>
                    </tr>-->
                </table>
            </div>
        </fieldset>

        <div id="div-qualitydata" style="margin-top:10px">
            <div id="alert-box" role="alert"></div>

            <div style="margin-top:10px">
                <table class="table">
                    <tr>
                        <td>Product</td>
                        <td id="txt-product"></td>
                    </tr>
                    <tr>
                        <td>SKU</td>
                        <td id="txt-sku"></td>
                    </tr>
                    <tr>
                        <td>Overall QI</td>
                        <td>
                            <span id="txt-qi"></span>
                            <input type="hidden" id="overall-qi" name="qi" value="0.00" />
                        </td>
                    </tr>
                </table>
            </div>

            <ul class="nav nav-tabs" role="tablist" style="margin-top:10px">
                <li class="active"><a href="#qualityData" role="tab" data-toggle="tab">Quality Data</a></li>
                <li><a href="#defect" role="tab" data-toggle="tab">Defect</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="qualityData">
                    <table class="table table-striped table-condensed">
                        <thead style="text-align:center">
                            <tr>
                                <td rowspan="2">Property</td>
                                <td rowspan="2">Value</td>
                                <td rowspan="2">UoM</td>
                                <td colspan="3">Reject Limit</td>
                                <td colspan="2">Control Limit</td>
                                <td rowspan="2">QI</td>
                            </tr>
                            <tr>
                                <td>Lower</td>
                                <td>Target</td>
                                <td>Upper</td>
                                <td>Lower</td>
                                <td>Upper</td>
                            </tr>
                        </thead>
                        <tbody id="quality-data"></tbody>
                    </table>
                </div>
                <div class="tab-pane" id="defect">
                    <button type="button" class="btn btn-default" style="margin-top:10px" onclick="ShowDefectDialog()">
                        <span class="glyphicon glyphicon-plus"></span> Add defect
                    </button>
                    <table class="table table-responsive table-striped" style="margin-top:10px">
                        <thead style="text-align:center">
                            <tr>
                                <td>Delete</td>
                                <td>Defect</td>
                                <td>Weight (Kg)</td>
                                <td>Severity</td>
                            </tr>
                        </thead>
                        <tbody id="defect-data"></tbody>
                    </table>
                </div>
            </div>
            <nav class="navbar navbar-fixed-bottom navbar-inverse center" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#timecontrol" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-inner" id="timecontrol">
                        <ul class="nav navbar-nav" style="text-align:center">
                            <li>
                                <a href="javascript:void(0)" onclick="SaveQualityData()">
                                    <span class="glyphicon glyphicon-save"></span>
                                    Save
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </form>
</div>
