﻿@model DaVinxi.Models.EngineeringUnitRegisterModel

@{
    ViewBag.Title = "Edit engineering unit " + Model.unit_name;
}

<div class="container">

    @using (Html.BeginForm("Edit", "EU", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.HiddenFor(m => m.company_id)
                @Html.HiddenFor(m => m.unit_id)
            </div>

            <div>
                @Html.LabelFor(m => m.unit_name)
                @Html.EditorFor(m => m.unit_name,
                    new { placeholder = "Engineering unit full Name" })
                @Html.ValidationMessageFor(m => m.unit_name)
            </div>

            <div>
                @Html.LabelFor(m => m.description)
                @Html.TextAreaFor(m => m.description,
                new { placeholder = "Description (optional)" })
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","EU")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
