﻿
@{
    ViewBag.Title = "Downtime Log";
}

<script type="text/javascript">
    function GetDivision() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDivisionsJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#divisions").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#divisions").append("<option value=''>All divisions</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#divisions").append("<option value='" + data[i].division_id + "'>"
                                + data[i].division_name + "</option>")
                        }
                    }
                    $("#divisions").selectpicker("refresh");
                    $("#divisions").trigger("change");
                }
            );
    }

    function GetBlock() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetBlocksJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#blocks").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#blocks").append("<option value=''>All blocks</option>");

                        var PrevDivision = "", Line = "";
                        for (var i = 0; i < data.length; i++) {
                            if (PrevDivision != data[i].division_id) {
                                PrevDivision = data[i].division_id;
                                if (i > 0)
                                    Line += "</optgroup>";
                                Line += "<optgroup label=\"Division : " + data[i].division_name + "\">";
                            }
                            Line += "<option value='" + data[i].block_id + "'>"
                                + data[i].block_name + "</option>";
                        }

                        Line += "</optgroup>";
                        $("#blocks").append(Line);
                    }
                    $("#blocks").selectpicker("refresh");
                    $("#blocks").trigger("change");
                }
            );
    }

    function GetMachine() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val(), blockID: $("#blocks").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#machines").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#machines").append("<option value=''>All machines</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#machines").append("<option value='" + data[i].machine.machine_id + "'>"
                                + data[i].machine.machine_name + "</option>");
                        }
                    }
                    $("#machines").selectpicker("refresh");
                }
            );
    }

    var ShowFilter = true;
    function ShowHideFilter() {
        ShowFilter = !ShowFilter;

        if (ShowFilter) {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    function GoToRegisterPage() {
        location.href = '@Url.Action("Register")?companyID=' + $("#companies").val();
    }

    function GoToUpdatePage(companyID, downtimeLogID) {
        location.href = '@Url.Action("Update")?company_id=' + companyID + "&downtime_log_id=" + downtimeLogID;
    }

    function GetLog() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDowntimeLog")',
                    data: $("#frm-filter").serialize(),
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        $("#downtime-log").html('');
                        $("#modal-progress").modal('show');
                        ShowHideFilter();
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        var Line = "", PrevLogID = "";
                        for (var i = 0; i < data.length; i++) {
                            if (PrevLogID != data[i].downtime_log_id) {
                                if (i > 0) {
                                    Line += "</table></td>";
                                    Line += "<td class='text-center'><a href='javascript:void(0)' " +
                                        "onclick=\"GoToUpdatePage(" + data[i -1].company_id +
                                        ",'" + data[i-1].downtime_log_id + "')\">" +
                                        "<span class='glyphicon glyphicon-pencil'></span></a></td>";
                                    Line += "<td class='text-center'><a href='javascript:void(0)' " +
                                        "onclick=\"ShowDeleteDialog(" + data[i - 1].company_id + ",'" +
                                        data[i - 1].downtime_log_id + "')\">" +
                                        "<span class='glyphicon glyphicon-trash'></span></a></td>";
                                    Line += "</tr>";
                                }
                                Line += "<tr id='" + data[i].downtime_log_id + "'>";
                                Line += "<td>" + data[i].machine_name + "</td>";
                                Line += "<td>" + data[i].start_time + "</td>";
                                Line += "<td>" + data[i].end_time + "</td>";
                                Line += "<td class='text-center'>" + data[i].duration + "</td>";
                                Line += "<td>" + data[i].downtime_name + "</td>";
                                Line += "<td><table class='table'>";
                                PrevLogID = data[i].downtime_log_id;
                            }

                            if (data[i].action != null) {
                                Line += "<tr>";
                                Line += "<td>" + data[i].action.action_name + "</td>";
                                Line += "<td>" + (Number(data[i].action.is_fixed) == 1 ?
                                    "<span class='glyphicon glyphicon-ok'></span>" : "") + "</td>";
                                Line += "</tr>";
                            }
                        }

                        Line += "</table></td>";
                        Line += "<td class='text-center'><a href='javascript:void(0)' " +
                                        "onclick=\"GoToUpdatePage(" + data[data.length - 1].company_id +
                                        ",'" + data[data.length - 1].downtime_log_id + "')\">" +
                                        "<span class='glyphicon glyphicon-pencil'></span></a></td>";
                        Line += "<td class='text-center'><a href='javascript:void(0)' " +
                                        "onclick=\"ShowDeleteDialog(" + data[data.length - 1].company_id + ",'" +
                                        data[data.length - 1].downtime_log_id + "')\">" +
                                        "<span class='glyphicon glyphicon-trash'></span></a></td>";
                        Line += "</tr>";
                        $("#downtime-log").html(Line);
                    }
                    $("#modal-progress").modal('hide');
                }
            );
    }

    function ShowDeleteDialog(companyID,downtimeLogID)
    {
        $("#deleted-id").val(downtimeLogID);
        $("#deleted-company-id").val(companyID);
        $("#delete-modal").modal('show');
    }

    function Delete()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("Delete")',
                    data: $("#delete-form").serialize(),
                    dataType: 'json',
                    async: false
                }
            ).done
            (
                function (data) {
                    if (data != null && data=='success') {
                        $("#" + $("#deleted-id").val()).remove();
                    }
                    $("#delete-modal").modal('hide');
                }
            );
    }

    $
        (
            function () {
                $("#companies").trigger("change");
                $(".datepicker").datetimepicker(
                    {
                        format: 'MMMM DD YYYY HH:mm'
                    });
                var Today = new Date();
                $("#startDate").data('DateTimePicker').date(Today);
                $("#finishDate").data('DateTimePicker').date(Today);
            }
        );
</script>

<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <form id="delete-form">
                    <input type="hidden" id="deleted-company-id" name="companyID" />
                    <input type="hidden" id="deleted-id" name="downtimeLogID" />
                </form>
                <div id="delete-message">Do you want to delete this log?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning" onclick="Delete()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button class="btn btn-lg btn-default" onclick="GoToRegisterPage()">
        New Downtime Log Entry
    </button>
    <fieldset style="margin-top:10px">
        <legend>
            Filter
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frm-filter">
                <table class="table table-striped">
                    <tr>
                        <td>
                            Company
                        </td>
                        <td></td>
                        <td>
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetDivision();">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Division
                        </td>
                        <td></td>
                        <td>
                            <select id="divisions" name="division_id" class="selectpicker" onchange="GetBlock()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Block
                        </td>
                        <td></td>
                        <td>
                            <select id="blocks" name="block_id" class="selectpicker" onchange="GetMachine()"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Machine
                        </td>
                        <td></td>
                        <td>
                            <select id="machines" name="machine_id" class="selectpicker"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Start Time
                        </td>
                        <td></td>
                        <td>
                            <div class="input-group date datepicker" id="startDate">
                                <input type="text" name="start_date"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            End Time
                        </td>
                        <td></td>
                        <td>
                            <div class="input-group date datepicker" id="finishDate">
                                <input type="text" name="finish_date"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="margin-top:10px">
                <button class="btn btn-info" onclick="GetLog()" type="button">
                    <span class="glyphicon glyphicon-search"></span> Search Downtime Log(s)
                </button>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Downtime Log</legend>
        <table class="table table-striped">
            <thead class="text-center">
                <tr>
                    <td>Machine</td>
                    <td>Start</td>
                    <td>End</td>
                    <td>Duration(minute)</td>
                    <td>Primary Cause</td>
                    <td>Action(s)</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody id="downtime-log"></tbody>
        </table>
    </fieldset>
</div>

