﻿@model DaVinxi.Models.DowntimeLog

@{
    ViewBag.Title = "Update Downtime Log " + Model.downtime_log_id;
}

<script type="text/javascript">
    function GetDowntime() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetLeavesDowntimeJSON", "DowntimeTree")',
                    data: { companyID: '@Model.company_id' },
                    dataType: 'json',
                    async: false,
                    beforeSend: function (xhr) {
                        $("#downtime").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            $("#downtime").append("<option value='" + data[i].downtime.downtime_id + "'>"
                                + data[i].downtime.downtime_name + "</option>");
                        }
                    }
                    $("#downtime").val('@Model.downtime_id');
                    $("#downtime").selectpicker("refresh");
                }
            );
    }

    var CBOperativeAction = "";
    function GetOperativeAction() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetOperativeActions", "OperativeAction")',
                    data: { companyID: '@Model.company_id' },
                    dataType: 'json',
                    async: false
                }
            ).done
            (
                function (data) {
                    CBOperativeAction = "<select class='selectpicker' name='[||]'>";
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            CBOperativeAction+="<option value='" + data[i].action_id + "'>"
                                + data[i].action_name + "</option>";
                        }
                    }
                    CBOperativeAction += "</select>";
                }
            );
    }

    function GetDowntimeAction()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDowntimeAction")',
                    data: { company_id: '@Model.company_id', downtime_log_id: '@Model.downtime_log_id'},
                    dataType: 'json',
                    async: false
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            AddAction();
                            $("#action_" + (ActionIndex - 1) + " .selectpicker").val(data[i].action_id);
                            $("#action_" + (ActionIndex - 1) + " .selectpicker").selectpicker('refresh');;
                            $("#action_" + (ActionIndex - 1) + " :checkbox").prop('checked', data[i].is_fixed == 1);
                        }
                    }
                }
            );
    }

    var ActionIndex = 0;
    function AddAction()
    {
        var Line = "<tr id='action_" + ActionIndex + "'>";
        Line += "<td style='text-align:center'><a href='javascript:void(0)' onclick=\"DeleteAction('action_" + ActionIndex + "')\">" +
            "<span class='glyphicon glyphicon-trash'></span></a></td>";
        Line += "<td><input type='hidden' name='downtime_action.index' value='" + ActionIndex + "'/>" +
            CBOperativeAction.replace('[||]', 'downtime_action[' + ActionIndex + '].action_id') + "</td>";
        Line += "<td style='text-align:center'>" +
            "<input type='checkbox' class='chkFixed' name='downtime_action[" + ActionIndex + "].is_fixed_the_problem'/></td>";
        Line += "</tr>";
        $("#actions").append(Line);

        $("#action_" + ActionIndex + " .selectpicker").attr("data-width", "100%");
        $("#action_" + ActionIndex + " .selectpicker").attr("data-size", "5");
        $("#action_" + ActionIndex + " .selectpicker").attr("data-live-search", "true");
        $("#action_" + ActionIndex + " .selectpicker").addClass("show-tick");
        $("#action_" + ActionIndex + " .selectpicker").selectpicker();

        ActionIndex++;
    }

    function SubmitData()
    {
        $(":checkbox").each(
                function () {
                    $(this).val($(this).is(":checked"));
                }
            );
        $("#frmUpdate").submit();
    }

    function DeleteAction(dom)
    {
        $("#" + dom).remove();
    }

    $
        (
            function () {
                GetDowntime();
                GetOperativeAction();
                GetDowntimeAction();

                $('#downtime').val('@Model.downtime_id');
            }
        );
</script>

<div class="container">
    @using (Html.BeginForm("Update", "DowntimeLog", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { id = "frmUpdate" }))
    {
        @Html.HiddenFor(m => m.company_id)
        @Html.HiddenFor(m => m.downtime_log_id)
        @Html.HiddenFor(m => m.machine_id)
        @Html.HiddenFor(m => m.start_time)
        @Html.HiddenFor(m => m.end_time)
        @Html.HiddenFor(m => m.created_date)
        @Html.HiddenFor(m => m.revised_date)
        @Html.HiddenFor(m => m.revised_by)

        <table class="table table-striped">
            <tr>
                <td>
                    @Html.LabelFor(m => m.start_time)
                </td>
                <td>
                    @Model.start_time.ToString("MMMM dd yyyy HH:mm")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.end_time)
                </td>
                <td>
                    @Model.end_time.ToString("MMMM dd yyyy HH:mm")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.downtime_id)
                </td>
                <td>
                    <select class="selectpicker" name="downtime_id" id="downtime"></select>
                </td>
            </tr>
        </table>

        <fieldset>
            <legend>Downtime Action(s)</legend>
            <button class="btn btn-lg btn-default" onclick="AddAction()" type="button">
                <span class="glyphicon glyphicon-plus"></span> Add New Action
            </button>
            <table class="table table-striped">
                <thead style='text-align:center'>
                    <tr>
                        <td>Delete</td>
                        <td>Action</td>
                        <td>Fixed the primary problem?</td>
                    </tr>
                </thead>
                <tbody id="actions"></tbody>
            </table>
        </fieldset>
    }

    <div style="margin-top:10px">
        <button class="btn btn-large btn-primary" onclick="SubmitData()">Post</button>
        <button class="btn btn-large btn-default"
                onclick="location.href='@Url.Action("Index")'" type="button">
            Cancel
        </button>
    </div>
</div>

