﻿@model DaVinxi.Models.CompanyRegisterModel

@{
    ViewBag.Title = "Edit Company";
}

<div class="container">

    @using (Html.BeginForm("Edit", "Company", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin", enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
                <input type="hidden" name="id" value="@ViewBag.companyID" />
            </div>

            <div style="text-align:center">
                <img src="@Url.Content(Path.Combine(DaVinxi.Models.Constant.CompanyImagePath, 
                    Model.logo))" alt="@Model.company_name" width="100" height="100" />
                <br/>
                <input type="file" name="logo" placeholder="Browse Company Logo" accept="image/*" />
            </div>

            <div>
                @Html.LabelFor(m => m.company_name)
                @Html.EditorFor(m => m.company_name,
                new { placeholder = "Company Name", autocomplete = "off", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.company_name)
            </div>

            <div>
                @Html.LabelFor(m => m.address)
                @Html.EditorFor(m => m.address,
                new { placeholder = "Address" })
                @Html.ValidationMessageFor(m => m.address)
            </div>

            <div>
                @Html.LabelFor(m => m.phone_number)
                @Html.TextBoxFor(m => m.phone_number,
                new { placeholder = "Phone Number" })
                @Html.ValidationMessageFor(m => m.phone_number)
            </div>

            <div>
                @Html.LabelFor(m => m.fax_number)
                @Html.TextBoxFor(m => m.fax_number,
                new { placeholder = "Fax Number" })
                @Html.ValidationMessageFor(m => m.fax_number)
            </div>

            <div>
                @Html.LabelFor(m => m.email)
                @Html.TextBoxFor(m => m.email,
                new { placeholder = "E-mail" })
                @Html.ValidationMessageFor(m => m.email)
            </div>

            <div>
                @Html.LabelFor(m => m.notes)
                @Html.TextAreaFor(m => m.notes,
                new { placeholder = "Notes (optional)" })
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
