﻿@model IEnumerable<DaVinxi.Models.MasterCompanies>

@{
    ViewBag.Title = "Manage Companies";
}

<script type="text/javascript">
    $
        (
            function ()
            {
                $("#myModal .deleteConfirmed").click
                (
                    function()
                    {
                        $("#frmDelete").submit();
                    }
                );
            }
        );

    function ShowDeleteDialog(companyID,fullName)
    {
        $("#delete-message").html
            (
                "Are you sure want to delete company " + fullName + "?"
            );

        $("#deleted-id").val(companyID);

        $("#myModal").modal("show");
    }
</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Delete", "Company", FormMethod.Post, new { id = "frmDelete" }))
                {
                    <input type="hidden" id="deleted-id" name="id" />
                    <div id="delete-message"></div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning deleteConfirmed">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <button class="btn btn-lg btn-default" onclick="location.href='@Url.Action("Register","Company")'">
        Add New Company
    </button>

    <table class="table table-hover table-bordered" style="margin-top:15px">
        <thead style="text-align:center">
            <tr>
                <td>
                    @Html.DisplayNameFor(u => u.logo)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.company_name)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.address)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.email)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.phone_number)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.fax_number)
                </td>
                <td>
                    @Html.DisplayNameFor(u => u.notes)
                </td>
                <td>
                    Edit
                </td>
                <td>
                    Delete
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        <img src="@Url.Content(Path.Combine(DaVinxi.Models.Constant.CompanyImagePath, item.logo))" alt="@item.company_name" width="100px" height="100px"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.company_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone_number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fax_number)
                    </td>
                    <td>
                        @Html.Raw("<pre>" + Html.Encode(item.notes) + "</pre>")
                    </td>
                    <td style="text-align:center">
                        <a href="@Url.Action("Edit", "Company", new { id = item.company_id})">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                    <td style="text-align:center">
                        <a href="javascript:void(0)"
                           onclick="ShowDeleteDialog(@item.company_id,'@item.company_name')">
                            <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
