﻿@model DaVinxi.Models.SKUSegmentRegisterModel

@{
    ViewBag.Title = "Register New SKU Segment";
}

<script type="text/javascript">
    function GetComponents()
    {
        $.ajax
            (
                {
                    type: "POST",
                    url:'@Url.Action("GetQualityPropertiesJSON", "HelperClass")',
                    dataType:'json',
                    data:{companyID : $("#companyID").val()},
                    beforeSend : function(xhr)
                    {
                        $("#properties").html("");
                        $("#properties").val(new Array());
                    }
                }
            ).done
            (
                function(data)
                {
                    if(data!=null && data.length>0)
                    {
                        for(var i=0;i<data.length;i++)
                        {
                            $("#properties").append("<option value='" + data[i].property_id + "'>"
                                + data[i].property_name + "</option>");
                        }
                    }
                    $(".chosen-select").chosen();
                }
            );
    }

    $(
        function ()
        {
            $("#companyID").trigger("change");
        }
    );
</script>

<div class="container">

    @using (Html.BeginForm("Register", "SKUSegment", new { ReturnUrl = ViewBag.ReturnUrl },
        FormMethod.Post, new { @class = "form-signin" }))
    {
        <fieldset>
            <legend>@ViewBag.Title</legend>

            <div>
                @Html.ValidationSummary(false)
            </div>

            <div>
                @Html.LabelFor(m => m.company_id)

                <select class="selectpicker" id="companyID" name="company_id" onchange="GetComponents()">
                    @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                    {
                        <option value="@c.company_id">@c.company_name</option>
                    }
                </select>

                @Html.ValidationMessageFor(m => m.company_id)
            </div>

            <div>
                @Html.LabelFor(m => m.segment_id)
                @Html.TextBoxFor(m => m.segment_id)
                @Html.ValidationMessageFor(m => m.segment_id)
            </div>

            <div>
                @Html.LabelFor(m => m.segment_name)
                @Html.TextBoxFor(m => m.segment_name)
                @Html.ValidationMessageFor(m => m.segment_name)
            </div>

            <div>
                @Html.Label("Quality Properties")

                <select class="chosen-select" id="properties" name="properties" data-placeholder="Choose property(ies)" multiple></select>
            </div>

            <div style="margin-top:10px">
                <button class="btn btn-large btn-primary" type="submit">Post</button>
                <button class="btn btn-large btn-default"
                        onclick="location.href='@Url.Action("Index","SKUSegment")'" type="button">
                    Cancel
                </button>
            </div>
        </fieldset>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

