﻿
@{
    ViewBag.Title = "Defect Tracking";
}
<style>
    .navbar.center .navbar-inner {
        text-align: center;
    }

        .navbar.center .navbar-inner .nav {
            float: none;
            display: inline-block;
        }
</style>
<script type="text/javascript">
    function GetCategories() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUCategoriesJSON","HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#categories").html('');
                        $("#subcategories").html('');
                        $("#skus").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#categories").append("<option value=''>All categories</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#categories").append("<option value='" + data[i].category_id + "'>[" + data[i].category_id + "] " +
                                data[i].category_name + "</option>")
                        }
                    }
                    $("#categories").selectpicker("refresh");
                    $("#categories").trigger("change");
                }
            );
    }

    function GetSubCategories() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUSubCategoriesJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), categoryID: $("#categories").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#subcategories").html('');
                        $("#skus").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#subcategories").append("<option value=''>All subcategories</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#subcategories").append("<option value='" + data[i].subcategory_id + "'>[" + data[i].subcategory_id + "] " +
                                data[i].subcategory_name + "</option>")
                        }
                    }
                    $("#subcategories").selectpicker("refresh");
                    $("#subcategories").trigger("change");
                }
            );
    }

    function GetSegments() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUSegmentsJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#segments").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#segments").append("<option value=''>All segments</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#segments").append("<option value='" + data[i].segment_id + "'>[" + data[i].segment_id + "] " +
                                data[i].segment_name + "</option>")
                        }
                    }
                    $("#segments").selectpicker("refresh");
                }
            );
    }

    function GetBusinesses() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUBusinessJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#businesses").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#businesses").append("<option value=''>All businesses</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#businesses").append("<option value='" + data[i].business_id + "'>[" + data[i].business_id + "] " +
                                data[i].business_name + "</option>")
                        }
                    }
                    $("#businesses").selectpicker("refresh");
                }
            );
    }

    function GetSKU() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetSKUJSON", "HelperClass")',
                    data: {
                        companyID: $("#companies").val(), categoryID: $("#categories").val(),
                        subcategoryID: $("#subcategories").val(), segmentID: $("#segments").val(),
                        businessID: $("#businesses").val()
                    },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#skus").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#skus").append("<option value=''>All SKUs</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#skus").append("<option value='" + data[i].sku_id + "'>[" + data[i].sku_id + "] " +
                                data[i].sku_name + "</option>");
                        }
                    }
                    $("#skus").selectpicker("refresh");
                    $("#skus").trigger("change");
                }
            );
    }

    function GetBatch() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("FindBatch", "HelperClass")',
                    data: $("#frm-Product").serialize(),
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#batches").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#batches").append("<option value=''>All Batches</option>");
                        var PrevSKUID = "", Line = "";
                        for (var i = 0; i < data.length; i++) {
                            if (PrevSKUID != data[i].sku_id) {
                                if (i > 0)
                                    Line += "</optgroup>";
                                PrevSKUID = data[i].sku_id;
                                Line += "<optgroup label=\"SKU : [" + PrevSKUID + "] " + data[i].sku_name + "\">";
                            }
                            Line += "<option value='" + data[i].batch_id
                                + "' data-subtext=\"From " + data[i].start_date + " until " +
                                data[i].finish_date + "\" start_date='" + data[i].start_date + "' finish_date='" +
                                data[i].finish_date + "'>" +
                                data[i].batch_id + "</option>";
                        }
                        Line += "</optgroup>";
                        $("#batches").append(Line);
                    }
                    $("#batches").selectpicker("refresh");
                }
            );
    }

    function GetDivision() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDivisionsJSON", "HelperClass")',
                    data: { companyID: $("#companies").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#divisions").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#divisions").append("<option value=''>All divisions</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#divisions").append("<option value='" + data[i].division_id + "'>"
                                + data[i].division_name + "</option>")
                        }
                    }
                    $("#divisions").selectpicker("refresh");
                    $("#divisions").trigger("change");
                }
            );
    }

    function GetBlock() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetBlocksJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#blocks").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#blocks").append("<option value=''>All blocks</option>");

                        var PrevDivision = "", Line = "";
                        for (var i = 0; i < data.length; i++) {
                            if (PrevDivision != data[i].division_id) {
                                PrevDivision = data[i].division_id;
                                if (i > 0)
                                    Line += "</optgroup>";
                                Line += "<optgroup label=\"Division : " + data[i].division_name + "\">";
                            }
                            Line += "<option value='" + data[i].block_id + "'>"
                                + data[i].block_name + "</option>";
                        }

                        Line += "</optgroup>";
                        $("#blocks").append(Line);
                    }
                    $("#blocks").selectpicker("refresh");
                    $("#blocks").trigger("change");
                }
            );
    }

    function GetMachine() {
        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetMachinesJSON", "HelperClass")',
                    data: { companyID: $("#companies").val(), divisionID: $("#divisions").val(), blockID: $("#blocks").val() },
                    dataType: 'json',
                    async: true,
                    beforeSend: function (xhr) {
                        $("#machines").html('');
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.length > 0) {
                        $("#machines").append("<option value=''>All machines</option>");
                        for (var i = 0; i < data.length; i++) {
                            $("#machines").append("<option value='" + data[i].machine.machine_id + "'>"
                                + data[i].machine.machine_name + "</option>");
                        }
                    }
                    $("#machines").selectpicker("refresh");
                }
            );
    }

    var ShowFilter = true;
    function ShowHideFilter() {
        ShowFilter = !ShowFilter;

        if (ShowFilter) {
            $("#btn_showHide").addClass('glyphicon-minus-sign');
            $("#btn_showHide").removeClass('glyphicon-plus-sign');
            $("#filter").show();
        }
        else {
            $("#btn_showHide").removeClass('glyphicon-minus-sign');
            $("#btn_showHide").addClass('glyphicon-plus-sign');
            $("#filter").hide();
        }
    }

    var CountDefectIDs = new Array(), WeightDefectIDs = new Array(), DefectBreadCrumbs = new Array(),
        QualPropBreadCrumbs = new Array();
    var ClickedText = "All";
    function GetDefectTracking(targetParentDefect)
    {
        if (targetParentDefect == null || targetParentDefect <= 0) {
            DefectBreadCrumbs = [];
            ClickedText = "All";
            QualPropBreadCrumbs = [];
            QualPropBreadCrumbs.push("All");
        }

        $(":checkbox").each(
                function ()
                {
                    $(this).val($(this).is(":checked"));
                }
            );

        $.ajax
            (
                {
                    type: "POST",
                    url: '@Url.Action("GetDefectTracking", "DefectTracking")',
                    data: $("#frm-Product").serialize() + "&targetParentDefect=" + targetParentDefect,
                    dataType: 'json',
                    beforeSend: function (xhr) {
                        if (ShowFilter) ShowHideFilter();
                        $("#modal-progress").modal("show");
                        $("#defect-tracking-result").hide();
                    }
                }
            ).done
            (
                function (data) {
                    if (data != null && data.rawData.length > 0) {
                        $("#defect-tracking-result").show();
                        var SumWeight = 0, SumCount = 0;
                        for (var i = 0; i < data.rawData.length; i++) {
                            SumWeight += Number(data.rawData[i].sum_weight);
                            SumCount += Number(data.rawData[i].sum_count);
                        }
                        CountDefectIDs = [];
                        WeightDefectIDs = [];

                        var WeightPoints = new Array(), WeightPercentage = new Array(), CurrentWeight = 0,
                            CountPoints = new Array(), CountPercentage = new Array(), CurrentCount = 0,
                            WeightDataCategories = new Array(), CountDataCategories = new Array();

                        //Sorted by count
                        data.rawData.sort
                            (
                                function (a, b)
                                {
                                    return Number(b.sum_count) - Number(a.sum_count);
                                }
                            ); 
                        for (var i = 0; i < data.rawData.length; i++) {
                            CountDefectIDs.push([data.rawData[i].company_id, data.rawData[i].defect_id]);
                            CountDataCategories.push(data.rawData[i].defect_name);

                            CountPoints.push(Number(data.rawData[i].sum_count));
                            CurrentCount += Number(data.rawData[i].sum_count);
                            CountPercentage.push((CurrentCount / SumCount) * 100.0);
                        }

                        //Sorted by weight
                        data.rawData.sort
                            (
                                function (a, b) {
                                    return Number(b.sum_weight) - Number(a.sum_weight);
                                }
                            );
                        for (var i = 0; i < data.rawData.length; i++) {
                            WeightDefectIDs.push([data.rawData[i].company_id, data.rawData[i].defect_id]);
                            WeightDataCategories.push(data.rawData[i].defect_name);

                            WeightPoints.push(Number(data.rawData[i].sum_weight));
                            CurrentWeight += Number(data.rawData[i].sum_weight);
                            WeightPercentage.push((CurrentWeight / SumWeight) * 100.0);
                        }

                        GeneratePareto("defect-weight", WeightDataCategories, WeightPoints, WeightPercentage, true);
                        GeneratePareto("defect-count", CountDataCategories, CountPoints, CountPercentage, false);
                        $("#defect-toolbox").show();
                    }

                    if (targetParentDefect != null) {
                        DefectBreadCrumbs.push(targetParentDefect);
                    }

                    if (DefectBreadCrumbs.length > 0)
                        $("#defect-toolbox .defect-back").show();
                    else
                        $("#defect-toolbox .defect-back").hide();

                    DrawPChart(data.pData);
                    $("#modal-progress").modal("hide");
                }
            );
    }

    function GeneratePareto(domID, dataCategories, points, percent, isWeight)
    {
        $("#" + domID).highcharts(
                {
                    chart: {
                        type: 'column',
                        zoomType: 'xy',
                        height: 600
                    },
                    title: {
                        text: "Defect " + (isWeight ? "Weight" : "Frequency") + " Tracking",
                        style: {
                            fontSize: '200%'
                        }
                    },
                    subtitle: {
                        text: "Defect Category : " + ClickedText
                    },
                    xAxis: {
                        categories: dataCategories,
                        labels: {
                            style: {
                                fontSize:'200%'
                            }
                        }
                    },
                    yAxis: [
                        {
                            gridLineWidth: 0,
                            title: {
                                text: "Percentage",
                                style: {
                                    color: '#4572A7',
                                    fontSize:'200%'
                                }
                            },
                            labels: {
                                formatter: function () {
                                    return this.value + ' %';
                                },
                                style: {
                                    color: '#4572A7'
                                }
                            },
                            opposite: true,
                            tickInterval: 10,
                            min: 0,
                            max: 100
                        },
					    {
					        title: {
					            text: !isWeight ? "Frequency" : "Weight",
					            style: {
					                color: '#89A54E',
					                fontSize: '200%'
					            }
					        }
					    }
                    ],
                    tooltip: {
                        shared: true
                    },
                    plotOptions: {
                        column: {
                            cursor: 'pointer',
                            point: {
                                events: {
                                    click: function () {
                                        var DefectIID = isWeight ? WeightDefectIDs : CountDefectIDs;
                                        ClickedText = dataCategories[this.x];
                                        QualPropBreadCrumbs.push(dataCategories[this.x]);
                                        $("#companies").val(DefectIID[this.x][0]);
                                        GetDefectTracking(DefectIID[this.x][1])
                                    }
                                }
                            }
                        }
                    },
                    series: [
                        {
                            name: !isWeight ? "Frequency" : "Weight",
                            type: 'column',
                            yAxis: 1,
                            data: points
                        },
                        {
                            name: "Percentage",
                            type: 'spline',
                            data: percent,
                            tooltip: {
                                valueSuffix: ' %'
                            }
                        }
                    ]
                }
            );
    }

    function DrawPChart(data)
    {
        if (data != null && data.length > 0) {
            var SumProduct = 0, SumDefectedProduct = 0, Points = new Array(), CLPoints = new Array(),
                UCLPoints = new Array(), LCLPoints = new Array(), XCategories = new Array();

            for (var i = 0; i < data.length; i++)
            {
                SumProduct += Number(data[i].total_product);
                SumDefectedProduct += Number(data[i].count_defect_product);
                Points.push(Number(data[i].fraction_defective));
                XCategories.push(data[i].formated_start_date + "<br/>" + data[i].xName.replace('-', '<br/>'));
            }
            var CL = SumDefectedProduct / SumProduct, Sigma = Math.sqrt((CL * (1 - CL)) / data.length);
            for (var i = 0; i < data.length; i++) {
                UCLPoints.push(1);
                LCLPoints.push(0);
                CLPoints.push(CL);
            }

            $("#pChart").highcharts
                (
                    {
                        chart: {
                            type: 'line',
                            zoomType: 'xy',
                            height: 500
                        },
                        title: {
                            text: "P-Chart",
                            style: {
                                fontSize: '200%'
                            }
                        },
                        subtitle: {
                            text:"Defect Category: " + ClickedText
                        },
                        tooltip: {
                            shared: true
                        },
                        xAxis: {
                            categories: XCategories
                        },
                        yAxis: {
                            title: {
                                text: 'Defect Fraction',
                                style: {
                                    fontSize: '200%'
                                }
                            }
                        },
                        series: [
                            {
                                name: "p",
                                data: Points,
                            },
                            {
                                name: 'CL',
                                data: CLPoints,
                                marker: {
                                    enabled: false
                                },
                                color: 'green',
                                dashStyle: "Dash"
                            },
                            {
                                name: 'UCL',
                                data: UCLPoints,
                                marker: {
                                    enabled: false
                                },
                                color: 'red',
                                dashStyle: "Dash"
                            },
                            {
                                name: 'LCL',
                                data: LCLPoints,
                                marker: {
                                    enabled: false
                                },
                                color: 'black',
                                dashStyle: "Dash"
                            }
                        ]
                    }
                );
        }
    }

    function GoBack()
    {
        var PrevDefectID = "";
        if (DefectBreadCrumbs.length >= 2) {
            PrevDefectID = DefectBreadCrumbs.pop();
            PrevDefectID = DefectBreadCrumbs.pop();
            ClickedText = QualPropBreadCrumbs.pop();
            ClickedText = QualPropBreadCrumbs.pop();
        }
        else {
            PrevDefectID = null
        };
        GetDefectTracking(PrevDefectID);
    }

    function InitSpinner() {
        $(".numericControl").spinner
                               (
                                   {
                                       step: 1,
                                       numberFormat: "n"
                                   }
                               ).css("text-align", "right").css("width","30px");

        $('.ui-spinner-button').click(function () {
            $(this).siblings('input').change();
        });
    }

    function SetDate()
    {
        if ($("#batches").val().length > 0) {
            var StartDate = $("#batches :selected").attr('start_date'), FinishDate = $("#batches :selected").attr('finish_date');

            $("#startDate").data('DateTimePicker').date(StartDate);
            $("#finishDate").data('DateTimePicker').date(FinishDate);
        }
    }

    $(function ()
        {
                $("#companies").trigger("change");
                $("#defect-toolbox").hide();
                $(".datepicker").datetimepicker(
                    {
                        format:'MMMM DD YYYY HH:mm'
                    });
                var Today = new Date();
                $("#startDate").data('DateTimePicker').date(Today);
                $("#finishDate").data('DateTimePicker').date(Today);
                InitSpinner();
                $('[data-toggle="tooltip"]').tooltip();
                $("input[type='checkbox']").bootstrapSwitch
                (
                    {
                        onColor: 'success',
                        onText: 'Yes',
                        offText: 'No'
                    }
                );
                
                $("#defect-tracking-result").hide();
            }
        );
</script>

<div class="container">
    <fieldset style="margin-top:10px">
        <legend>
            Defect Tracking Setting
            <a href="javascript:void(0)" onclick="ShowHideFilter()">
                <span class="glyphicon glyphicon-minus-sign" id="btn_showHide"></span>
            </a>
        </legend>
        <div id="filter">
            <form id="frm-Product">
                <table class="table table-striped">
                    <tr>
                        <td colspan="6"></td>
                        <td style="text-align:center;" colspan="3">P-Chart data grouped by</td>
                    </tr>
                    <tr>
                        <td>
                            Company
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select id="companies" name="company_id" class="selectpicker" onchange="GetDivision();GetSegments();GetBusinesses();GetCategories()">
                                @foreach (DaVinxi.Models.MasterCompanies c in ViewBag.Companies)
                                {
                                    <option value="@c.company_id">@c.company_name</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Division
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select id="divisions" name="division_id" class="selectpicker" onchange="GetBlock()"></select>
                        </td>
                        <td style="text-align:center" colspan="3">
                            <input type="checkbox" name="chkDivision"
                                   data-toggle="tooltip" title="P-Chart data grouped by division" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Block
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select id="blocks" name="block_id" class="selectpicker" onchange="GetMachine()"></select>
                        </td>
                        <td style="text-align:center" colspan="3">
                            <input type="checkbox" name="chkBlock" data-toggle="tooltip" title="P-Chart data grouped by block" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Machine
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select id="machines" name="machine_id" class="selectpicker"></select>
                        </td>
                        <td style="text-align:center" colspan="3">
                            <input type="checkbox" name="chkMachine" data-toggle="tooltip" title="P-Chart data grouped by machine" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Categories
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select id="categories" name="category_id" class="selectpicker" onchange="GetSubCategories()"></select>
                        </td>
                        <td style="text-align:center" colspan="3">
                            <input type="checkbox" name="chkCategory" data-toggle="tooltip" title="P-Chart data grouped by SKU's category" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Business
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select id="businesses" name="business_id" class="selectpicker" onchange="GetSKU()"></select>
                        </td>
                        <td style="text-align:center" colspan="3">
                            <input type="checkbox" name="chkBusiness" data-toggle="tooltip" title="P-Chart data grouped by SKU's business" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Subcategories
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td colspan="4">
                            <select id="subcategories" name="subcategory_id" class="selectpicker" onchange="GetSKU()"></select>
                        </td>
                        <td style="text-align:center" colspan="3">
                            <input type="checkbox" name="chkSubcategory" data-toggle="tooltip" title="P-Chart data grouped by SKU's subcategory" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Segment
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select id="segments" name="segment_id" class="selectpicker" onchange="GetSKU()"></select>
                        </td>
                        <td style="text-align:center" colspan="3">
                            <input type="checkbox" name="chkSegment" data-toggle="tooltip" title="P-Chart data grouped by SKU's segment" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            SKU
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select id="skus" name="sku_id" class="selectpicker" onchange="GetBatch()"></select>
                        </td>
                        <td style="text-align:center" colspan="3">
                            <input type="checkbox" name="chkSKU" data-toggle="tooltip" title="P-Chart data grouped by SKU" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Batch
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select id="batches" name="batch_id" class="selectpicker" onchange="SetDate()"></select>
                        </td>
                        <td style="text-align:center" colspan="3">
                            <input type="checkbox" name="chkBatch" data-toggle="tooltip" title="P-Chart data grouped by batch" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Date time
                        </td>
                        <td></td>
                        <td>From</td>
                        <td>
                            <div class="input-group date datepicker" id="startDate">
                                <input type="text" name="startDate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td>to</td>
                        <td>
                            <div class="input-group date datepicker" id="finishDate">
                                <input type="text" name="finishDate" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </td>
                        <td>Every</td>
                        <td>
                            <input value="1" name="timeNumber" class="numericControl"/>
                        </td>
                        <td>
                            <select name="timeGroupedType" class="selectpicker">
                                <option value='0'>Hour(s)</option>"
                                <option value='1' selected>Day(s)</option>"
                                <option value='2'>Week(s)</option>"
                                <option value='3'>Month(s)</option>"
                                <option value='4'>Year(s)</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Severity
                        </td>
                        <td></td>
                        <td colspan="4">
                            <select id="severity" name="severity" class="selectpicker">
                                <option value='0'>No defect</option>"
                                <option value='1'>Just noticeable</option>"
                                <option value='2'>Warning</option>"
                                <option value='3'>Downgrade</option>"
                                <option value='4' selected>Reject</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="margin-top:10px">
                <button class="btn btn-info" onclick="GetDefectTracking(null)" type="button">
                    <span class="glyphicon glyphicon-stats"></span> Get Defect Tracking
                </button>
            </div>
        </div>
    </fieldset>
    <fieldset style="margin-top:10px" id="defect-tracking-result">
        <legend>Defect Tracking</legend>
        <div id="defect-toolbox">
            <div class="alert alert-info" role="alert">
                <b>Hints :</b>
                <ul>
                    <li>
                        Click on column to drill down the data
                    </li>
                    <li>
                        Click <b>Back</b> button to go to previous data
                    </li>
                    <li>
                        Click <b>Reset</b> button to go reset graph
                    </li>
                    <li>
                        P-Chart wil be adjusted as data change
                    </li>
                </ul>
            </div>
        </div>
        <div id="pChart"></div>
        <div id="defect-count"></div>
        <div id="defect-weight"></div>

        <nav class="navbar navbar-fixed-bottom navbar-inverse center" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#timecontrol" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-inner" id="timecontrol">
                    <ul class="nav navbar-nav" style="text-align:center">
                        <li>
                            <a href="javascript:void(0)" onclick="GoBack()">
                                <span class="glyphicon glyphicon-backward"></span>
                                Back
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" onclick="GetDefectTracking(null)">
                                <span class="glyphicon glyphicon-refresh"></span>
                                Reset
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </fieldset>
</div>


